<div class="white-bg break-txt white-bg-shadow" style="padding: 30px;">
  <h4 style="margin-bottom: 20px;">Exchange Rates</h4>
  <div class="row">
    <div class="col-md-12">
     <span class="text-muted">Choose Token Amount</span><br>
     <div class="clearfix" style="margin-bottom: 15px;">
       <span class="pull-left"><strong>{{ currentValue }}</strong></span>
       <span class="pull-right"> <strong>CTC</strong> </span>
     </div>
     <input #exchangeRate (input)="updateValue()" type="range" min="1" max="25000000" value="0" class="rslider" id="rate-exchange-slider">

     <div class="row" style=" margin-top: 20px;">
       <div class="col-md-12 clearfix" style="margin-bottom: 10px;">
         <div class="pull-left">= {{ btcCalculated }}</div>
         <div class="pull-right"> <strong class="badge badge-primary">BTC</strong> </div>
       </div>
       <div class="col-md-12 clearfix" style="margin-bottom: 10px;">
         <div class="pull-left">= {{ ethCalculated }}</div>
         <div class="pull-right"> <strong class="badge badge-primary">ETH</strong> </div>
       </div>
       <div class="col-md-12 clearfix">
         <div class="pull-left">= {{ usdCalculated }}</div>
         <div class="pull-right"> <strong class="badge badge-primary">USD</strong> </div>
       </div>                                  
     </div>

    </div>
  </div>            
</div>