<div id="signupModal" class="signup-modal underlay modal fade" role="dialog">
  <div id="signup-modal-flex" class="signup-modal-flex signup-modal-flex-activated">
    <div id="signup-modal-sub" class="signup-modal-sub">
      <div class="modal-body">
        <div class="signup-modal-img row">
            <img src="../assets/Animated-Clicktool2 a.gif" width="" height="">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="signup-modal-content">
        <h2>Get The Latest Clicktool ICO News</h2>
          <p>Sign up to our newsletter to receive the latest news. Our email subscribers may receive early discount, special
            bonuses and a behind the scenes look of our company. Sign up below to stay updated.</p>
        </div>
        <div id="mc_embed_signup">
          <section id="yikes-mailchimp-container-1" class="yikes-mailchimp-container yikes-mailchimp-container-1 ">
                <form id="blog-1" class="signup-modal-form signup-modal-form-1  mc4wp-form" method="POST" data-attr-form-id="1" action="https://www.aweber.com/scripts/addlead.pl">
                <label for="signup-modal-form-1-EMAIL" class="EMAIL-label yikes-mailchimp-field-required ">
                <input id="signup-modal-form-1-name" name="name" placeholder="Name" class="signup-modal-email nsu-field field-no-label"
                    required="required" type="text" value="">
                </label>
                <label for="signup-modal-form-1-EMAIL" class="EMAIL-label yikes-mailchimp-field-required ">
                    <input id="signup-modal-form-1-EMAIL" name="email" placeholder="Email" class="signup-modal-email nsu-field field-no-label"
                  required="required" type="email" value="">
                </label>
                <input type="hidden" name="listname" value="awlist4934147" />
                <input type="hidden" name="redirect" value="http://142.93.22.158" />
                <input type="hidden" name="meta_adtracking" value="custom form" />
                <input type="hidden" name="meta_message" value="1" />
                <input type="hidden" name="meta_required" value="name,email" />
                <input type="hidden" name="meta_forward_vars" value="1" />
                <input type="submit" name="submit" value="Sign Up" />
              <button type="submit" class="signup-modal-submit-button signup-modal-submit-button-1 btn btn-primary nsu-submit">
                <span class="yikes-mailchimp-submit-button-span-text">Sign Up</span>
              </button>
            </form>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>