<div id="signupModal" class="signup-modal underlay modal fade" role="dialog">
  <div id="signup-modal-flex" class="signup-modal-flex signup-modal-flex-activated">
    <div id="signup-modal-sub" class="signup-modal-sub">
      <div class="modal-body">
        <div class="signup-modal-img row">
          <img src="../assets/Animated-Clicktool2 a.gif" width="" height="">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="signup-modal-content">
          <h2>Get The Latest Clicktool ICO News</h2>
          <p>Sign up to our newsletter to receive the latest news. Our email subscribers may receive early discount, special
            bonuses and a behind the scenes look of our company. Sign up below to stay updated.</p>
        </div>
        <div class="signup-form">
          <section>
            <!-- <form class="signup-modal-form mc4wp-form" action="https://www.aweber.com/scripts/addlead.pl">
                    <div class="form-group">
                        <input name="name" placeholder="Name" class="field-no-label" required type="text" value="">
                    </div>
                    <div class="form-group">
                        <input name="email" placeholder="Email" class="field-no-label" required type="email" value="">
                    </div>
                    <div class="form-group" style="display: none;">
                        <input type="hidden" name="meta_web_form_id" value="1865666917" />
                        <input type="hidden" name="meta_split_id" value="" />
                        <input type="hidden" name="listname" value="awlist4934147" />
                        <input type="hidden" name="redirect" value="https://www.aweber.com/thankyou-coi.htm?m=text" id="redirect_6586ddb89df81feca7b91b7f672f72ce"
                        />
                        <input type="hidden" name="meta_adtracking" value="My_Web_Form" />
                        <input type="hidden" name="meta_message" value="1" />
                        <input type="hidden" name="meta_required" value="name,email" />
                        <input type="hidden" name="meta_tooltip" value="" />
                    </div>
                    <button type="submit" class="signup-modal-submit-button btn">
                        <span><i class="fa fa-check-circle"></i></span>
                        <span>Sign Up</span>
                    </button>
                </form> -->
            <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
              <div class="form-group">
                <input name="name" formControlName="name" placeholder="Name" class="formcontrol" required type="text" value="">
                <div *ngIf="name.invalid && (name.dirty || isSubmitted)" class="text-danger">
                  <div *ngIf="name.errors.required">
                    Name is required.
                  </div>
                  <div *ngIf="name.errors.minlength">
                    Name must be at least 4 characters long.
                  </div>
                  <div *ngIf="name.errors.maxlength">
                    Name must not exceed 30 characters.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input name="email" placeholder="Email" formControlName="email" class="formcontrol" required type="email" value="">
                <div *ngIf="email.invalid && (email.dirty || isSubmitted)" class="text-danger">
                  Email is required.
                </div>
              </div>
              <div class="form-group" style="display: none;">
                <input type="hidden" name="meta_web_form_id" value="1865666917" />
                <input type="hidden" name="meta_split_id" value="" />
                <input type="hidden" name="listname" value="awlist4934147" />
                <input type="hidden" name="redirect" value="https://www.aweber.com/thankyou-coi.htm?m=text" id="redirect_6586ddb89df81feca7b91b7f672f72ce"
                />
                <input type="hidden" name="meta_adtracking" value="My_Web_Form" />
                <input type="hidden" name="meta_message" value="1" />
                <input type="hidden" name="meta_required" value="name,email" />
                <input type="hidden" name="meta_tooltip" value="" />
              </div>
              <button type="submit" class="signup-modal-submit-button btn" [disabled]="!form.valid">
                <span>
                  <i class="fa fa-check-circle"></i>
                </span>
                <span>Sign Up</span>
              </button>
            </form>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
