

<app-header></app-header>


<div class="container-fluid reg-container first-form">
  
  <div class="reg-image hidden-sm hidden-xs">
    <img src="../../assets/Animated-Clicktool2 a.gif">
  </div>
  <div class="reg-form">
    <div class="reg-active reg-border" id="reg-form1">
      <h1>Step 1.</h1>
      <h3>Sign Up</h3>
      <hr>
      <div class="chckbx">
        <span>
          <p>
            <label>
              <input [(ngModel)]="user.isCitizen" type="checkbox" autocomplete="off">
              I am not a citizen or resident of a country where the sale of crpytocurrency is illegal.
            </label>
        </p>
      </span>
      </div>
      <div class="chckbx">
        <span>
          <p>
            <label>
              <input [(ngModel)]="user.didAgreeToTerms" type="checkbox" autocomplete="off">
              I agree to Clicktool's terms and conditions.              
            </label>

          </p>
      </span>
      </div>
      <div class="chckbx">
        <span>
          <p>
            <label>
              <input [(ngModel)]="user.didAgreeToPrivacyPolicy" type="checkbox" autocomplete="off">
              I consent to Clicktool's privacy policy.              
            </label>

          </p>
      </span>
      </div>
      <div class="chckbx">
        <span>
          <p>
            <label>
              <input [(ngModel)]="user.didReadWhitePaper" type="checkbox" autocomplete="off">
              I have read and understand the whitepaper.              
            </label>
        </p>
      </span>
      </div>
      
      <button 
      [disabled]="!user.isCitizen || !user.didAgreeToTerms || !user.didAgreeToPrivacyPolicy || !user.didReadWhitePaper" 
      (click)="goToNext()" 
      class="btn btn-info reg-button" 
      id="sign-up2">
        <p>
          <i class="fa fa-user-plus"></i>&nbsp;&nbsp;&nbsp;Sign Up
        </p>
      </button>

      <div class="btn btn-info reg-button sign-in" id="sign-in">
        <p>
          <i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;&nbsp;Sign In
        </p>
      </div>
    </div>

  </div>
  <div class="reg-image2 hidden-xs">
    <img src="../../assets/Animated-Clicktool2 a.gif">
  </div>
</div>

<app-footer></app-footer>