<ul class="list-inline main-nav" style="float: right; top: 20px; position: relative;">
<!-- 	<li style="
    border-right: thin solid #bdbdbd;
    padding-right: 0px;
    top: -4px;
    position: relative;
    " class="list-inline-item"> 232 CLC </li> -->
<!-- 	<li class="list-inline-item" style="padding-right: 30px; position: relative;">
		<app-search-bar></app-search-bar>
	</li> -->
<!-- 	<li style="top: -5px;position: relative;border-right: thin solid #bdbdbd; padding-right: 14px; " class="list-inline-item">Christopher</li> -->
	<!-- <li class="list-inline-item"><a routerLink="/" href="/"><i class="material-icons">home</i></a></li> -->
<!-- 	<li class="list-inline-item"><a routerLink="/dashboard" href="/dashboard"><i class="material-icons">dashboard</i></a></li>
	<li class="list-inline-item"><a routerLink="/transactions" href="/transactions"><i class="material-icons">receipt</i></a></li> -->
<!-- 	<li class="list-inline-item">
		<div style="position: relative;top: 4px;left: -12px;" class="dropdown">
		  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="material-icons" style="font-size: 30px;">
				arrow_drop_down
				</i>
		  </a>

		  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
		    <a class="dropdown-item" routerLink="/settings" href="/settings">Settings</a>
		    <a (click)="logout($event)" class="dropdown-item" href="#">Logout</a>
		  </div>
		</div>		
	</li> -->
	<li>
		<button class="btn btn-primary animated pulse infinite slower">Get Started</button>
	</li>
</ul>