@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  width: 100vw;
}

html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.support-container {
  background-color: #1db8d3;
/*   margin-top: -139px; */
  color: white;
  text-align: center;
}

.support-container h1 {
  padding: 15px 0;
  font-weight: 700;
  font-size: 48px;
}

.support-container span {
  color: rgba(255, 255, 255, 1);
  border-bottom: 2px solid white;
}

.support-container h3 {
  color: rgba(255, 255, 255, 0.8);
}

.support-container img {
  width: 70vw;
  margin-top: 30px;
  max-width: 1000px;
}

.support-container div {
  margin: 0 auto;
}

.support-icons {
  margin:  0 auto;
  display: flex;
  justify-content: space-around;
  text-align:  center;
}

.support-icons i {
  font-size: 8vw;
  opacity:  0.8;
}

.support-info {
  width: 70vw;
  height: 100%;
  max-width: 1000px;
  margin-top: 20px;
  font-size: 18px;
  margin: 0 auto;
}

.support-info i {
  color: #24537f;
}

.support-info p {
  color: #595959 !important;
}

.support-info h2 {
  font-size: 32px;
  font-weight: 600;
  color: black;
}

.support-info h6 {
  font-size: 20px;
  margin: 16px;
  color: black;
}

.support-info h3 {
  font-size: 28px;
  font-weight: 700;
  color: black;
}

.support-box {
  width: 800px;
  box-shadow: 0px 0px 18px #CCCCCC;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
  border-radius: 2px;
}

.support-button {
  background-color: #fd8a66;
  color: white;
  width: 220px;
  padding: 10px;
  border-radius: 3px;
  margin: 0 auto;
  box-shadow: 1px 1px 1px #CCCCCC;
}

.support-button:hover {
  cursor: pointer;
  background-color: #D17356;
}

.support-button:active {
  box-shadow: none;
  background-color: #BE684F;
}

.affiliate {
  display: flex;
  justify-content: center;
}

.affiliate a {
  color: #2C62F1;
}

.affiliate a:hover {
  color: #1B46C1;
  text-decoration: underline !important;
}


/* Media Queries */

@media only screen and (max-width: 979px) {
  .support-box {
    width: 80vw;
  }
}

@media only screen and (max-width: 800px) {
  .support-info {
    width: 90vw;
  }

  .sign-up p {
    width: 90vw;
  }
}

@media only screen and (max-width: 767px) {
  .support-container {
    margin-top: -35px !important;
  }
}
