<app-homepage-header></app-homepage-header>

  <div class="container-fluid referral-container">
    <h1>Affiliate Program</h1>
    <br>
    <div class="container">
      <h3>Refer your friends and earn <span>7%</span> on their contributions.</h3>
    </div>
    <img src="../../assets/referral.png" alt="Referral Directions">
  </div>

  <div class="container referral-info">
    <br>
    <p>Welcome to the Clicktool referral program. Join today to help get the word out about Clicktool. This is a fantastic opportunity to earn a <b>7%</b> commission on purchases made by people you refer.</p>
    <br>
    <h2>How do you want to be paid?</h2>
    <br>
    <p>You can choose to be paid in ETH or Clickcoin. Let us break down the process for you:</p>
    <br>
    <h6><i class="fa fa-check"></i>&nbsp;&nbsp;<b>Sign up for our affiliate program and receive a referral link.</b></h6>
    <h6><i class="fa fa-check"></i>&nbsp;&nbsp;<b>Send your referral link to your friends.</b></h6>
    <h6><i class="fa fa-check"></i>&nbsp;&nbsp;<b>When your friend uses your referral link, they register for the crowdsale and get assigned to you.</b></h6>
    <br>
    <h3>EXAMPLE:</h3>
    <br>
    <h6><i class="fa fa-check"></i>&nbsp;&nbsp;<b>One of your referrals purchases 7,500 Clickcoins during our Crowdsale for a total of 1 ETH.</b></h6>
    <h6><i class="fa fa-check"></i>&nbsp;&nbsp;<b>Within 2 weeks of the end of the Crowdsale, we’ll send you 0.07 ETH or 525 Clickcoins - your choice!</b></h6>
  </div>

  <div class="referral-box">
    <h3>Sign up and start earning today.</h3>
    <br>
    <a href="https://clicktool.postaffiliatepro.com/affiliates/signup.php#SignupForm" target="_blank">
      <div class="referral-button">
      <h4>GET REFERRAL LINK</h4>
    </div>
    </a>
    <br>
    <div class="affiliate">
      <p>Already an Affiliate?&nbsp;</p>
      <a href="https://clicktool.postaffiliatepro.com/affiliates/login.php#login" target="_blank">Log In</a>
    </div>
  </div>

<app-footer></app-footer>
