
  <div class="indextopsection"><!-- Language Bar -->
    <div class="container">
      <div class="row">
        <br>
      </div>
    </div>
  </div>
  
  <div class="banners"> <!-- Navbar -->
    <header>
      <div class="">
        <div class="row">
          <div class="col-lg-12">
            <nav class="navbar navbar-shadow navbar-xtra-pad">
              <br>
              <div class="navbar-header">
                <button data-target="#myNavbar" data-toggle="collapse" class="navbar-toggle" type="button"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a href="index.html"><img class="nav-logo img-responsive" src="images/logo.png"></a>
              </div>
              <div id="myNavbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="index.html">Home</a></li>
                  <li><a href="whitepaper.html">Whitepaper</a></li>
                  <li><a href="blog.html">Blog</a></li>
                  <li><a href="referral.html">Affiliate Program</a></li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
  </div>

    <div class="container-fluid"><!-- Top Section -->
      <div class="page-top">
        <img class="top-ani" src="images/Main_Design_V09_1200x.gif">
        <div class="dynamic-headline">
          <h1>
            <a href="" class="typewrite" data-period="2000" data-type='[ "Launch A Decentralized Web Application       ", "Easily Integrate A Fast Decentralized Database       ", "The Future Of The Web Is Decentralized       ", "Enhanced Security For Your Applications       ", "Launch Your Very Own Dapp In Minutes       "]'>
              <span class="wrap"></span>
            </a>
          </h1>
          <br>
          <p>Clicktool is a platform that will provide you with all the tools you need to build fully decentralized applications.</p>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-md-7 col-xs-12">
          <div class="mobile-margin">
            <img class="top-animation img-responsive" src="images/Animated-Clicktool.gif" />
          </div>
          <div class="bitcoineff">
            <canvas id="canvasOne" width="510" height="400" ></canvas>
            <img class="img-responsive" src="images/bannerimg.png" />
          </div>
        </div>
        <div class="col-md-5 col-xs-12 banner-section">
          <div class="dynamic-headline">
            <h1>
              <a href="" class="typewrite" data-period="2000" data-type='[ "Launch A Decentralized Web Application       ", "Easily Integrate A Fast Decentralized Database       ", "The Future Of The Web Is Decentralized       ", "Enhanced Security For Your Applications       ", "Launch Your Very Own Dapp In Minutes       "]'>
                <span class="wrap"></span>
              </a>
            </h1>
            <br>
            <p>Clicktool is a platform that will provide you with all the tools you need to build fully decentralized applications.</p>
          </div>
        </div>
      </div>
    </div> -->
  </div>

  <!-- Countdown Section -->
  <div class="countdown">
    <img src="images/Countdown-timer_1050x.gif" class="count-machine">
    <p id="days"></p>
    <p id="hours"></p>
    <p id="minutes"></p>
    <p id="seconds"></p>
  </div>

  <div style="width: 100vw; height: 10px; background-color: #2cb8d1; margin-top: 70px;"></div>

  <!-- <div class="timersect">
    <div class="container">
      <div class="timermargin">
        <div class="row">
          <div class="col-lg-7">
            <div class="timer_content">
              <div id="countdown"></div>
              <div class="timer hidden-sm hidden-xs">
                <div id="timer-days">
                  <img id="day-gear" class="timer-gear hidden-xs" src="images/countdown-gear.png">
                  <p id="days"></p>
                </div>
                <div id="timer-hours">
                  <img id="hour-gear" class="timer-gear hidden-xs" src="images/countdown-gear.png">
                  <p id="hours"></p>
                </div>
                <div id="timer-minutes">
                  <img id="minute-gear" class="timer-gear hidden-xs" src="images/countdown-gear.png">
                  <p id="minutes"></p>
                </div>
                <div id="timer-seconds">
                  <img id="second-gear" class="timer-gear hidden-xs" src="images/countdown-gear.png">
                  <p id="seconds"></p>
                </div>
              </div>
              <div class="timer2 hidden-md hidden-lg hidden-xl">
                <p id="days2"></p>
                <p id="hours2"></p>
                <p id="minutes2"></p>
                <p id="seconds2"></p>
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="counterimge hidden-xs hidden-sm">
              <h3>Until Launch<span></span></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="hidden-md hidden-lg hidden-xl">
    <br>
    <p style="padding: 10px;">The Clicktool team has been hard at work building software for over a year. We're working hard to develop the next step in the evolution of the web: Decentralization. Our aim is to help you easily build web applications that have no downtime, no censorship and no third party interference.</p>
    <br>
  </div>

  <div class="container-fluid about-container hidden-xs hidden-sm"><!-- About Section -->
    <div class="row">
      <div class="container wrench-container hidden-md hidden-lg hidden-xl">
          <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <img class="wrench" src="images/wrench.png">
            <img class="multigray-circle" src="images/gray-circle.png">
          </div>
        </div>
      <div class="col-md-7">
        <div class="about">
          <img id="yellow-gear" src="images/yellow-gear.png">
          <img id="pink-gear" class="hidden-xs hidden-sm" src="images/pink-gear.png">
          <!-- <img id="whitelines1" class="white-lines" src="images/white-lines.png">
          <img id="whitelines2" class="white-lines" src="images/white-lines.png"> -->
          <h2 class="title">About Clicktool</h2>
          <br>
          <br>
          <p>The Clicktool team has been hard at work building software for over a year. We're working hard to develop the next step in the evolution of the web: Decentralization. Our aim is to help you easily build web applications that have no downtime, no censorship and no third party interference. </p>
          <br>
          <a href="" class="btn btn-info read-more">Read More</a>
        </div>
      </div>
      <div class="col-md-5 hidden-xs hidden-sm">
        <div class="container wrench-container">
          <img class="wrench" src="images/wrench.png">
          <img class="multigray-circle" src="images/gray-circle.png">
        </div>
      </div>
    </div>
  </div>

  <!-- Second Major Benefit -->
  <div class="container-fluid second-container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h3>OVER THE NEXT DECADE, THE INTERNET WILL BECOME INCREASINGLY DECENTRALIZED. CLICKTOOL IS LEADING THAT CHANGE. </h3>
          <a href="#" class="launch-modal" data-modal-id="modal-video1">
            <div class="watch-video">
              <h3><i class="fa fa-play-circle"></i>&nbsp;&nbsp;</h3>
              <h5>Watch Video</h5>
            </div>
          </a>
      </div>
      <div class="col-xs-12 col-sm-6">
        <p>Clicktool aims to provide easy access to build next generation web applications. We are focused on making it easy for anyone to build their Dapp. Side effects may include: increased security, lower costs, higher speed, no downtime... and a lot more.<br /><br />Our motto is: the customer comes first. We are focused on building easy to use interfaces that will help our users achieve the previously impossible without any effort.</p>
      </div>
    </div>
    <!-- Video Modal -->
    <div class="modal fade modal-video-div" id="modal-video1" tabindex="-1" role="dialog" aria-labelledby="modal-video-label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="document.getElementByClass('video-frame').pause();">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="modal-video">
              <div class="embed-responsive embed-responsive-16by9">
                <video id="video-frame1" class="video-frame embed-responsive-item" src="images/placeholder.mp4"
                              webkitallowfullscreen mozallowfullscreen allowfullscreen controls></video>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid bonus-section"><!-- Bonus Section -->
    <img class="gray-gear" id="gray-gear1" src="images/gray-gear1.png">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center">
            <h2 class="title"><br />The most Comprehensive Bonus Structure available in the Token Sale ecosphere</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="videdes bonus-vid">
          <img class="img-responsive" src="images/vide.png" />
          <span>
            <img class="img-responsive" src="images/vidicon.png" />
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="experience-container container"><!-- Experience Section -->
    <img class="gray-gear hidden-xs hidden-sm" id="gray-gear2" src="images/gray-gear1.png">
    <br>
    <h2 class="text-center title blue">OUR EXPERIENCE IN THIS SPACE</h2>
    <div class="info-row">
      <img class="info-icon" src="images/icons-300x/ClickTool_Icons_Current Price.png">
      <div class="info-text blue">
        <br>
        <h4>INNOVATION</h4>
        <p>An exciting business opportunity should come with equally exciting rewards. Early adopters can earn up to a 500% bonus based on the final COIN value should we reach our 300,000,000 COIN hardcap during our planned Token Sale event.</p>
        <br>
      </div>
    </div>
    <div class="info-row">
      <img class="info-icon hidden-md hidden-lg hidden-xl" src="images/icons-300x/ClickTool_Icons_Contributors.png">
      <div class="info-text blue">
        <br>
        <h4>CLIENT CENTRIC</h4>
        <p>The CoinMetro Token Sale events are unique as they offer tiered bonuses which include not only an increasing token price but also lifetime discounts at both CoinMetro and FXPIG, a commitment from us to support our tokens liquidity and future value, as well as access to future pre-pre-Token sale events.</p>
        <br>
      </div>
      <img class="info-icon hidden-xs hidden-sm" src="images/icons-300x/ClickTool_Icons_Contributors.png">
    </div>
    <div class="info-row">
      <img class="info-icon" src="images/icons-300x/Icons_pixel-13.png">
      <div class="info-text blue">
        <br>
        <h4>SIMPLIFYING</h4>
        <p>Pre-Token Sale pricing will start at 0.03 EUR. The price will increase by 0.02 EUR after every 12.5Mth COIN is sold. The hardcap is set to 50M. Token Sale pricing will start at 0.11 EUR (should the pre-Token Sale sell out) and increase by 0.01 EUR at each 50M softcap. The Token Sale hardcap is set to 300M (including the 50M from the Pre-Token Sale). The final COIN price during the last softcap of the main Token Sale would be pegged at 0.15 EUR cents per COIN.</p>
        <br>
      </div>
    </div>
  </div>


  <!-- Icon Section -->
  <div class="container-fluid featuresdes">
    <div class="benefit-row">
      <div class="benefit-div">
        <img src="images/icons-300x/ClickTool_Icons_Buy and Sell.png">
        <div class="featcont">
          <h4>Buy and Sell Crypto</h4>
          <h5><b>Buy Bitcoin with Ease</b></h5>
          <br>
          <p>Think a blockchain is an accessory used by some 90’s rap icon to hang a hood ornament around his neck? No problem. Open an Account, fund that account, click to buy and get the best price available.</p>
        </div>
      </div>
      <div class="benefit-div">
        <img src="images/icons-300x/ClickTool_Icons_With Drawals.png">
        <div class="featcont">
          <h4>Instant Withdrawals</h4>
          <h5><b>A Debit Card for the Crypto Generation</b></h5>
          <br>
          <p>Access to your money now, no approvals, no waiting. What a unique idea. Instant access to cash from your Crypto balances. Easy, fast, and convenient. No banking license needed.</p>
        </div>
      </div>
      <div class="benefit-div">
        <img src="images/icons-300x/ClickTool_Icons_Exchange.png">
        <div class="featcont">
          <h4>Decentralized Exchange</h4>
          <h5><b>Institutional grade order matching for the crypto space</b></h5>
          <br>
          <p>Built from experience, complex on the inside, easy and intuitive on the outside. Trading is serious business and the business of trading is not something you want to leave in the hands of inferior technology.</p>
        </div>
      </div>
      <div class="benefit-div">
        <img src="images/icons-300x/ClickTool_Icons_Give and Take.png">
        <div class="featcont">
          <h4>The Give and Take</h4>
          <h5><b>Crypto lending made Easy. Lend, Collect, Repeat</b></h5>
          <br>
          <p>Want to earn interest on your CryptoCurrency Balances? Post an Offer, lend some margin, make some interest. Looking to trade on higher leverage? Click Accept. Simple and efficient.</p>
        </div>
      </div>
      <div class="benefit-div">
        <img src="images/icons-300x/ClickTool_Icons_Trading.png">
        <div class="featcont">
          <h4>High Leverage OTC Crypto Trading</h4>
          <h5><b>Crypto meets Forex</b></h5>
          <br>
          <p>Trade the ‘majors’ at 1:50 leverage. We offer the highest OTC Crypto Leverage in the industry on OTC non-deliverable digital assets.</p>
        </div>
      </div>
      <div class="benefit-div">
        <img src="images/icons-300x/ClickTool_Icons_Boading.png">
        <div class="featcont">
          <h4>The Crypto ETF Board</h4>
          <h5><b>Diversification in the blockchain era</b></h5>
          <br>
          <p>Allowing investors to diversify their CryptoCurrency Portfolios in a few easy clicks. Think Mutual Fund meets ETF meets digital assets meets automated portfolio management.</p>
        </div>
      </div>
      <div class="benefit-div">
        <img src="images/icons-300x/ClickTool_Icons_Asset Management.png">
        <div class="featcont">
          <h4>Tokenized Asset Management</h4>
          <h5><b>Tokenize your investment portfolio</b></h5>
          <br>
          <p>Managers create TAM tokens governed by smart contracts on the Ethereum blockchain. Investors purchase these tokens, the funds are placed into trade, and the profits are shared based on the underlying smart contract.</p>
        </div>
      </div>
      <div class="benefit-div">
        <img src="images/icons-300x/ClickTool_Icons_Vetted Marketplace.png">
        <div class="featcont">
          <h4>Vetted ICO Marketplace</h4>
          <h5><b>The missing piece of the ICO Ecosystem</b></h5>
          <br>
          <p>Launching an ICO? Our powerful ICO Express Platform means a transparent and secure funding round for your project and it means your token will be tradable and LIQUID immediately after your ICO ends inside our main exchange.</p>
        </div>
      </div>
    </div>
  </div>



  <!-- Milestones -->
  <!-- <div class="milestone-text">
    <h2 class="zero-auto">Turn it up...</h2>
    <br>
    <h3><i class="fa fa-wrench"></i></h3>
    <br>
    <p>Click and drag to turn the gear and discover our history</p>
  </div> -->

  <!-- Milestone / Timeline Section -->
  <div class="container-fluid milestone-container hidden-xs hidden-sm">
    <img src="images/Timeline_BG_2000X.gif" class="timeline-background">
    <img src="images/Conveyor Belt.png" class="conveyor">
    <div class="machine-screen">
      <div class="yellow-light yellow-light1"></div>
      <div class="yellow-light yellow-light2"></div>
      <div class="yellow-light yellow-light3"></div>
      <div class="yellow-bar yellow-bar1"></div>
      <div class="yellow-bar yellow-bar2"></div>
      <img src="images/yellowboxes.png" class="machine-box yellowbox">
      <img src="images/yellowboxes.png" class="machine-box yellowbox2">
      <img src="images/Machine_full copy.png" class="machine">
    </div>
    <div class="machine-screen" style="overflow: hidden;">
      <img src="images/machine-text.png" class="machine-text yellowbox">
      <img src="images/machine-text.png" class="machine-text yellowbox2">
    </div>
    <img src="images/big Cog.png" class="milestone-gear">
    <img src="images/Small Cog.png" class="small-gear small-gear1">
    <img src="images/Small Cog.png" class="small-gear small-gear2">
    <img src="images/Small Cog.png" class="small-gear small-gear3">
    <img src="images/Small Cog.png" class="small-gear small-gear4">
    <img src="images/Small Cog.png" class="small-gear small-gear5">
    <img src="images/Small Cog.png" class="small-gear small-gear6">
    <img src="images/Small Cog.png" class="small-gear small-gear7">
    <img src="images/Small Cog.png" class="small-gear small-gear8">
    <img src="images/Small Cog.png" class="small-gear small-gear9">
    <img src="images/Small Cog.png" class="small-gear small-gear10">
    <div class="directions directions-lg">
<!--       <div class="right"> -->
        <!-- <i class="fa fa-long-arrow-right blue-arrow"></i> -->
<!--       </div>
      <div class="left"> -->
        <!-- <i class="fa fa-long-arrow-left blue-arrow2"></i> -->
<!--       </div> -->
    </div>
    <img class="instructions" src="images/mouse-instructions.png" alt="mouse">
  </div>

  <div class="container-fluid milestone-container hidden-md hidden-lg hidden-xl">
    <img src="images/Timeline_BG_1200X.gif" class="timeline-background">
    <img src="images/Conveyor Belt-1200.png" class="conveyor">
    <div class="machine-screen">
      <div class="yellow-light yellow-light1"></div>
      <div class="yellow-light yellow-light2"></div>
      <div class="yellow-light yellow-light3"></div>
      <div class="yellow-bar yellow-bar1"></div>
      <div class="yellow-bar yellow-bar2"></div>
      <img src="images/yellowboxes.png" class="machine-box yellowbox">
      <img src="images/yellowboxes.png" class="machine-box yellowbox2">
      <img src="images/Machine_full copy.png" class="machine">
    </div>
    <div class="machine-screen" style="overflow: hidden;">
      <img src="images/machine-text.png" class="machine-text yellowbox">
      <img src="images/machine-text.png" class="machine-text yellowbox2">
    </div>
    <img src="images/big Cog.png" class="milestone-gear">
    <img src="images/Small Cog.png" class="small-gear small-gear1">
    <img src="images/Small Cog.png" class="small-gear small-gear2">
    <img src="images/Small Cog.png" class="small-gear small-gear3">
    <img src="images/Small Cog.png" class="small-gear small-gear4">
    <img src="images/Small Cog.png" class="small-gear small-gear5">
    <img src="images/Small Cog.png" class="small-gear small-gear6">
    <img src="images/Small Cog.png" class="small-gear small-gear7">
    <img src="images/Small Cog.png" class="small-gear small-gear8">
    <img src="images/Small Cog.png" class="small-gear small-gear9">
    <img src="images/Small Cog.png" class="small-gear small-gear10">
    <div class="directions">
      <div class="right right-mobile">
        <i class="fa fa-long-arrow-right blue-arrow"></i>
      </div>
      <div class="left left-mobile">
        <i class="fa fa-long-arrow-left blue-arrow2"></i>
      </div>
    </div>
  </div>

  <!-- Chart Section -->
  <br>
  <br>
  <br>
  <div class="container-fluid chart-container">
    <h1>The Distribution Plan</h1>
    <h3>Transparency from Day One</h3>
    <div class="chart-holder row">
      <div class="col-sm-12 col-md-5">
        <h4>Token Sale Contributions Breakdown</h4>
        <br>
        <div class="chart1">
          <img class="chart-gear" id="chart1a" src="images/1_400x_Cog_3.png"><!-- Large Orange Gear -->
          <img class="chart-gear" id="chart1b" src="images/1_400x_Cog_7.png"><!-- Large Turqoise Gear -->
          <img class="chart-gear" id="chart1c" src="images/1_400x_Cog_4.png"><!-- Yellow Gear -->
          <img class="chart-gear" id="chart1d" src="images/1_400x_Cog_2.png"><!-- Medium Light Blue Gear -->
          <img class="chart-gear" id="chart1e" src="images/1_400x_Cog_1.png"><!-- Medium Dark Blue Gear -->
          <img class="chart-gear" id="chart1f" src="images/1_400x_Cog_9.png"><!-- Small Dark Blue Gear -->
          <img class="chart-gear" id="chart1g" src="images/1_400x_Cog_6.png"><!-- Small Dark Blue Gear -->
          <img class="chart-gear" id="chart1h" src="images/1_400x_Cog_5.png"><!-- Medium Dark Blue Gear -->
          <img class="chart-gear" id="chart1i" src="images/1_400x_Cog_8.png"><!-- Medium Blue Gear -->
          <img class="chart-gear" id="chart1j" src="images/1_400x_Cog_10.png"><!-- Medium Orange Gear -->
          <img class="chart-text1a" src="images/40percent.png">
          <img class="chart-text1b" src="images/30percent.png">
          <img class="chart-text1c" src="images/20percent.png">
          <img class="chart-text1d" src="images/10percent.png">
        </div>
        <div id="legend1" class="legend">
          <h4 id="marketing"><span><span>O </span>Marketing</span><span>40%</span></h4>
          <h4 id="development"><span><span>O </span>Development</span><span>30%</span></h4>
          <h4 id="acquisition"><span><span>O </span>Acquisition</span><span>20%</span></h4>
          <h4 id="legal"><span><span>O </span>Legal</span><span>10%</span></h4>
          <h4>&nbsp;</h4>
        </div>
      </div>
      <div class="col-md-1 hidden-sm hidden-xs">
        <div class="chart-line"></div>
      </div>
      <div class="col-sm-12 col-md-5">
        <h4>Token Distribution Breakdown</h4>
        <br>
        <div class="chart2">
          <img class="chart-gear" id="chart2a" src="images/2_400x_Cog_6.png"><!-- Large Yellow Gear -->
          <img class="chart-gear" id="chart2b" src="images/2_400x_Cog_1.png"><!-- Large Turqoise Gear -->
          <img class="chart-gear" id="chart2c" src="images/2_400x_Cog_7.png"><!-- Large Dark Blue Gear -->
          <img class="chart-gear" id="chart2d" src="images/2_400x_Cog_8.png"><!-- Labelled Orange Gear -->
          <img class="chart-gear" id="chart2e" src="images/2_400x_Cog_2.png"><!-- Medium Light Blue Gear -->
          <img class="chart-gear" id="chart2f" src="images/2_400x_Cog_4.png"><!-- Unlabelled Orange Gear -->
          <img class="chart-gear" id="chart2g" src="images/2_400x_Cog_3.png"><!-- Small Light Blue Gear -->
          <img class="chart-gear" id="chart2h" src="images/2_400x_Cog_10.png"><!-- Medium Yellow Gear -->
          <img class="chart-gear" id="chart2i" src="images/2_400x_Cog_5.png"><!-- Medium Dark Blue Gear -->
          <img class="chart-gear" id="chart2j" src="images/2_400x_Cog_9.png"><!-- Small Dark Blue Gear -->
          <img class="chart-gear" id="chart2k" src="images/1_400x_Cog_1.png"><!-- Smallest Dark Blue Gear -->
          <img class="chart-gear" id="chart2l" src="images/1_400x_Cog_1.png"><!-- Smaller Dark Blue Gear -->
          <img class="chart-gear" id="chart2m" src="images/1_400x_Cog_4.png"><!-- Small Yellow Gear -->
          <img class="chart-text2a" src="images/50percent.png">
          <img class="chart-text2b" src="images/20percent.png">
          <img class="chart-text2c" src="images/12percent.png">
          <img class="chart-text2d" src="images/10percent.png">
          <img class="chart-text2e" src="images/8percent.png">
        </div>
        <div id="legend2" class="legend">
          <h4 id="ico"><span><span>O </span>ICO</span><span>50%</span></h4>
          <h4 id="liquidity"><span><span>O </span>Liquidity</span><span>20%</span></h4>
          <h4 id="distribution"><span><span>O </span>Distribution</span><span>12%</span></h4>
          <h4 id="presale"><span><span>O </span>Presale</span><span>10%</span></h4>
          <h4 id="community"><span><span>O </span>Community</span><span>8%</span></h4>
        </div>
      </div>
    </div>
  </div>


  <div class="faqandvideo"><!-- Video Section -->
    <div class="container">
      <div class="vid-container">
        <div class="vid-text">
          <h3>A financial exchange ecosystem that will drive the future of blockchain innovation</h3>
          <a href="#" class="launch-modal" data-modal-id="modal-video2">
            <div class="watch-video">
              <h3><i class="fa fa-play-circle"></i>&nbsp;&nbsp;</h3>
              <h5>Watch Video</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="video-ani">
        <img src="images/ClickTool_Animation_04_1250x.gif">
      </div>
    </div>
    <div class="modal fade modal-video-div" id="modal-video2" tabindex="-1" role="dialog" aria-labelledby="modal-video-label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="modal-video">
              <div class="embed-responsive embed-responsive-16by9">
                <video id="video-frame2" class="video-frame embed-responsive-item" src="images/placeholder2.mp4"
                              webkitallowfullscreen mozallowfullscreen allowfullscreen controls></video>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- Team Section -->
  <div class="container-fluid team-section">
    <h2 class="title">MEET OUR TEAM</h2>
    <div class="team-member-section">
      <div class="team-div">
        <div class="employee">
          <img class="avatar-gear" src="images/avatar-gear.png">
          <img src="images/avatar.png" alt="Avatar">
          <h3><br />First Last</h3>
          <h5>Employee</h5>
          <p class="hover-visibility">What I do at the company</p>
        </div>
      </div>
      <div class="team-div">
        <div class="employee">
          <img class="avatar-gear" src="images/avatar-gear.png">
          <img src="images/avatar.png" alt="Avatar">
          <h3><br />First Last</h3>
          <h5>Employee</h5>
          <p class="hover-visibility">What I do at the company</p>
        </div>
      </div>
      <div class="team-div">
        <div class="employee">
          <img class="avatar-gear" src="images/avatar-gear.png">
          <img src="images/avatar.png" alt="Avatar">
          <h3><br />First Last</h3>
          <h5>Employee</h5>
          <p class="hover-visibility">What I do at the company</p>
        </div>
      </div>
      <div class="team-div">
        <div class="employee">
          <img class="avatar-gear" src="images/avatar-gear.png">
          <img src="images/avatar.png" alt="Avatar">
          <h3><br />First Last</h3>
          <h5>Employee</h5>
          <p class="hover-visibility">What I do at the company</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Call to Action -->
  <div class="container-fluid action-container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <img class="reg-ani hidden-xs hidden-sm" src="images/3-level-city_800x.gif">
        <img class="reg-ani hidden-md hidden-lg hidden-xl" src="images/3-level-city_1200x.gif">
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="hidden-xs">
          <br class="hidden-sm">
          <br class="hidden-sm">
          <br>
          <br>
          <br>
        </div>
        <div class="indresgsec">
          <h1>Don't be a Clickfool, <br />Try Clicktool!</h1>
          <br>
          <p>While crypto may be what powers this train, feedback and insight from our base is what keeps us on track. We want to hear from you even if it’s just to say hello. Help us change this industry for the better, join the movement, let your voice be heard.</p>
          <div class="social-icons">
            <p><i class="fa fa-linkedin-square"></i></p>
            <p><i class="fa fa-facebook-square"></i></p>
            <p><i class="fa fa-twitter-square"></i></p>
            <p><i class="fa fa-google-plus-square"></i></p>
            <p><i class="fa fa-reddit-square"></i></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>

  <div class="container-fluid sign-up">
    <h1>Get The Latest News On Our ICO</h1>
    <p>Sign up to our newsletter to receive the latest news. Our email subscribers may receive early discount, special bonuses and a behind the scenes look of our company. Sign up below to stay updated.</p>
    <div class="action-button">
      <h3><i class="fa fa-check-circle"></i>&nbsp;&nbsp;</h3>
      <h5>Sign Up</h5>
      <div class="shine"></div>
    </div>
  </div>


  <!-- Footer -->

  <div class="footerbtm">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h6>© 2017 Clicktool All rights reserved</h6>
        </div>
        <div class="col-md-6">
          <div class="termscontd">
            <ul>
              <li><a>Privacy</a></li>
              <li><a>Terms and Conditions</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


