/* Top Section */

.ie-warning {
  width: 100vw;
  background-color: #1db8d3;
  color: white;
  padding: 10px;
  margin-bottom: -16px;
}

.dynamic-headline {
  right: 11%;
  top: 3%;
  width: 35%;
}

.dynamic-headline-big {
  position: absolute;
}

.dynamic-headline-mobile {
  visibility: hidden;
  width: 80vw;
  margin: 0 auto;
}

.dynamic-headline a {
  color: #205184;
  border-right: 3px solid #1db8d3;
  text-decoration: none;
  font-size: 32px;
}

.dynamic-headline a:hover {
  color: #205184;
  cursor: default;
}

.dynamic-headline p {
  font-size: 16px;
  margin-top: 16px;
}

.dynamic-headline h1 {
  height: 50px;
}

/* Top Animation Components */
.top-design {
  position: relative;
  height: 800px;
  width: 1200px;
  left: 0;
  right: 0;
  top: 150px;
  margin: auto;
  z-index:  1;
}

.top-design img {
  position: absolute;
}

.top-design div {
  position: absolute;
}

.top-ani {
  position: absolute;
  top: -18%;
  right: 0%;
  width: 100%;
  z-index: 2;
}

.blue-logo-gear {
  position: absolute;
  right: 65.1%;
  top: 17.3%;
  width: 6.1%;
  z-index: 3;
  animation: rotate 6s reverse linear infinite;
}

.top-design-logo {
  right: 65.55%;
  top: 18.8%;
  width: 4.7%;
  z-index: 4;
}

.blue-button-stay {
  z-index: 3;
  top: 8.93%;
  width: 1.92%;
  right: 76.35%;
}

.blue-buttons {
  width: 1.9%;
  top: 9%;
  right: 76.35%;
  z-index: 4;
  -webkit-animation: blueButtons 5s ease infinite;
          animation: blueButtons 5s ease infinite;
  -webkit-filter: opacity(0%);
          filter: opacity(0%);
}

.blue-buttons1 {
  top: 8.93%;
  width: 1.92%;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.blue-buttons2 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.blue-buttons3 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.blue-buttons4 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.blue-buttons5 {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.exclamation {
  position: absolute;
  width: 5%;
  right: 58.295%;
  top: 14.7%;
  z-index: 3;
  -webkit-animation: exclamation 1s linear infinite;
          animation: exclamation 1s linear infinite;
}

.stack {
  width: 11%;
  top: -2%;
  right: 89.5%;
  z-index: 1;
  -webkit-animation: stack 2s ease infinite;
          animation: stack 2s ease infinite;
}

.arrow-drop {
  height: 11.4%;
  width: 9%;
  top: -10.6%;
  right: 90.5%;
  overflow: hidden;
}

.yellow-arrow {
  width: 60%;
  top: -70%;
  right: 23%;
  -webkit-animation: yellowArrow 2s linear infinite;
          animation: yellowArrow 2s linear infinite;
}

.train-holder {
  height: 5%;
  width: 39.6%;
  overflow: hidden;
  right: 9.4%;
  top: 27.6%;
  z-index: 3;
}

.top-train {
  width: 65%;
  top: 21%;
  right: -65%;
  -webkit-animation: train 6s linear infinite;
          animation: train 6s linear infinite;
}

.car-holder1 {
  overflow: hidden;
  height: 5%;
  width: 16.8%;
  top: 37.7%;
  right: 29.45%;
  z-index: 3;
}

.car1 {
  width: 25%;
  top: 24%;
  right: -25%;
  -webkit-animation: carOne 5s linear infinite;
          animation: carOne 5s linear infinite;
}

.car-holder2 {
  overflow: hidden;
  height: 5%;
  width: 21.75%;
  top: 37.6%;
  right: 2.65%;
  z-index: 3;
}

.car2 {
  width: 20%;
  top: 12%;
  right: 100%;
  -webkit-animation: carTwo 4s linear infinite;
          animation: carTwo 4s linear infinite;
}

.car-holder3 {
  overflow: hidden;
  height: 5%;
  width: 32.25%;
  top: 51.4%;
  right: 18.55%;
  z-index: 3;
}

.car3 {
  width: 15%;
  top: 5%;
  right: 100%;
  -webkit-animation: carTwo 6.5s linear infinite;
          animation: carTwo 6.5s linear infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.car4 {
  width: 15%;
  top: -4%;
  right: 100%;
  -webkit-animation: carTwo 6.5s linear infinite;
          animation: carTwo 6.5s linear infinite;
}

.curvy-pipe-holder {
  overflow: hidden;
  height: 45%;
  width: 10%;
  right: -1.5%;
  top: 2.6%;
  z-index: 3;
}

.curvy-pipe {
  width: 70%;
  right: 7.5%;
  top: 50%;
  z-index: 3;
  -webkit-animation: curvyPipe 6.2s ease infinite;
          animation: curvyPipe 6.2s ease infinite;
}

.pink-pipe {
  width: 35%;
  right: 24%;
  top: 15%;
  z-index: 3;
  -webkit-animation: pinkPipe 6.2s ease infinite;
          animation: pinkPipe 6.2s ease infinite;
}

.knob {
  width: 4%;
  right: 22.88%;
  top: -17%;
  z-index: 3;
  -webkit-animation: knob 7s ease infinite;
          animation: knob 7s ease infinite;
}

.meter-needle {
  width: 1.5%;
  right: 63.3%;
  top: -1.8%;
  z-index: 3;
  -webkit-animation: needle 3s ease infinite;
          animation: needle 3s ease infinite;
}

.gray-fill-holder {
  width: 5%;
  height: 2.4%;
  right: 66%;
  top: 4.2%;
  z-index: 3;
  overflow: hidden;
}

.gray-fill {
  width: 11.5%;
  height: 140%;
  right: 21.5%;
  top: -1%;
  z-index: 3;
}

.gray-fill1 {
  right: 21.1%;
  -webkit-animation: grayFill 4s ease-in-out infinite;
          animation: grayFill 4s ease-in-out infinite;
}

.gray-fill2 {
  right: 42.2%;
  -webkit-animation: grayFill 5s ease-in-out infinite;
          animation: grayFill 5s ease-in-out infinite;
}

.gray-fill3 {
  right: 62.5%;
  -webkit-animation: grayFill 4s ease-in-out infinite;
          animation: grayFill 4s ease-in-out infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  animation-direction: reverse;
}

.blue-slider {
  width: 1.75%;
  top: 16.7%;
  z-index: 3;
}

.blue-slider1 {
  right: 54.015%;
  -webkit-animation: blueSlider 5s ease-in-out infinite;
          animation: blueSlider 5s ease-in-out infinite;
}

.blue-slider2 {
  right: 55.53%;
  -webkit-animation: blueSlider 4s ease-in-out infinite;
          animation: blueSlider 4s ease-in-out infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  animation-direction: reverse;
}

.blue-slider3 {
  right: 57.03%;
  -webkit-animation: blueSlider 4s ease-in-out infinite;
          animation: blueSlider 4s ease-in-out infinite;
}

.cloud-up-left {
  width: 5%;
  top: -2%;
  right: 75%;
  z-index: 3;
  -webkit-animation: cloud 3s ease-in-out infinite;
          animation: cloud 3s ease-in-out infinite;
}

.cloud-up-center {
  width: 3%;
  top: -1%;
  right: 50%;
  z-index: 3;
  -webkit-animation: cloudTwo 3s ease-in-out infinite;
          animation: cloudTwo 3s ease-in-out infinite;
}

.cloud-up-right {
  width: 3%;
  top: 1%;
  right: 7%;
  z-index: 3;
  -webkit-animation: cloudTwo 3s ease-in-out infinite;
          animation: cloudTwo 3s ease-in-out infinite;
}

.cloud-up-right2 {
  width: 4%;
  top: 2%;
  right: 4%;
  z-index: 3;
  -webkit-animation: cloud 3s ease-in-out infinite;
          animation: cloud 3s ease-in-out infinite;
}

.cloud-down-right {
  width: 3%;
  top: 42%;
  right: 11.5%;
  z-index: 3;
  -webkit-animation: cloud 3s ease-in-out infinite;
          animation: cloud 3s ease-in-out infinite;
}

.cloud-down-center {
  width: 4%;
  top: 43.3%;
  right: 39%;
  z-index: 3;
  -webkit-animation: cloud 3s ease-in-out infinite;
          animation: cloud 3s ease-in-out infinite;
}

.cloud-down-center2 {
  width: 3%;
  top: 42%;
  right: 42.5%;
  z-index: 3;
  -webkit-animation: cloudTwo 3s ease-in-out infinite;
          animation: cloudTwo 3s ease-in-out infinite;
}

.boat-holder1 {
  height: 5%;
  width: 5%;
  right: 66.4%;
  top: 62.6%;
  overflow: hidden;
  z-index: 3;
}

.boat-left {
  width: 110%;
  top: 23%;
  right: -5%;
  z-index: 3;
  -webkit-animation: boat 2s ease-in-out infinite;
          animation: boat 2s ease-in-out infinite;
}

.boat-holder2 {
  height: 6%;
  width: 5%;
  right: 44.2%;
  top: 61.8%;
  overflow: hidden;
  z-index: 3;
}

.boat-center {
  width: 110%;
  top: -7%;
  right: -5%;
  z-index: 3;
  -webkit-animation: boat 2s ease-in-out infinite;
          animation: boat 2s ease-in-out infinite;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.boat-holder3 {
  height: 6%;
  width: 5%;
  right: 25%;
  top: 60.31%;
  overflow: hidden;
  z-index: 3;
}

.boat-right {
  width: 110%;
  top: 22%;
  right: -5%;
  z-index: 3;
  -webkit-animation: boat 2s ease-in-out infinite;
          animation: boat 2s ease-in-out infinite;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.light-flash {
  width: 0%;
  height: 0%;
  border-radius: 50%;
  top: 11.4%;
  z-index: 1;
  opacity: 0;
  -webkit-animation: lightFlash 2.5s ease infinite;
          animation: lightFlash 2.5s ease infinite;
}

.red-flash {
  -webkit-box-shadow: 0px 0px 50px 25px #fd8a66;
          box-shadow: 0px 0px 50px 25px #fd8a66;
  right: 84.1%;
  background-color: #fd8a66;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.yellow-flash {
  -webkit-box-shadow: 0px 0px 50px 25px #fbc943;
          box-shadow: 0px 0px 50px 25px #fbc943;
  right: 88.4%;
  background-color: #fbc943;
}

.red-button {
  width: 2%;
  top: 19.7%;
  right: 88%;
  z-index: 3;
  -webkit-animation: button 7.5s ease-in-out infinite;
          animation: button 7.5s ease-in-out infinite;
}

.yellow-button {
  width: 2%;
  top: 21.7%;
  right: 87%;
  z-index: 3;
  -webkit-animation: button 7s ease-in-out infinite;
          animation: button 7s ease-in-out infinite;
  animation-direction: reverse;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.machine-knob-red {
  width: 2.2%;
  right: 75.85%;
  top: 31%;
  z-index: 3;
  -webkit-animation: knob 3s linear infinite;
          animation: knob 3s linear infinite;
}

.machine-knob-yellow {
  width: 2.2%;
  right: 75.85%;
  top: 33%;
  z-index: 3;
  -webkit-animation: knob 3.5s linear infinite;
          animation: knob 3.5s linear infinite;
  animation-direction: reverse;
}

.machine-knob-gray {
  width: 2.2%;
  right: 75.8%;
  top: 35%;
  z-index: 3;
  -webkit-animation: knob 4s linear infinite;
          animation: knob 4s linear infinite;
}

.analyzing {
  width: 7%;
  top: 34%;
  right: 79.5%;
  z-index: 3;
  -webkit-animation: blink 0.8s ease infinite;
          animation: blink 0.8s ease infinite;
}

.screen-icon {
  width: 5%;
  top: 35.5%;
  right: 80.3%;
  z-index: 3;
  -webkit-animation: machineScreen 7.5s ease infinite;
          animation: machineScreen 7.5s ease infinite;
  opacity: 0;
}

.screen-icon2 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s
}

.screen-icon3 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s
}

.screen-icon4 {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s
}

.screen-icon5 {
  -webkit-animation-delay: 6s;
          animation-delay: 6s
}

.static-holder {
  height: 11.5%;
  width: 8.4%;
  top: 32.25%;
  right: 78.6%;

  overflow: hidden;
  z-index: 4;
}

.static {
  width: 110%;
  right: -5%;
  top: -40%;
  z-index: 4;
  -webkit-animation: static 1.5s linear infinite;
          animation: static 1.5s linear infinite;
}

.top-gear {
  width: 3.2%;
  top: 56.45%;

  z-index: 3;
  animation: rotate 5s reverse linear infinite;
}

.top-gear1 {
  right: 81%;
}

.top-gear2 {
  right: 77%;
}

.top-gear3 {
  right: 73%;
}

.top-gear4 {
  right: 69%;
}

.top-gear5 {
  right: 65%;
}

.top-gear6 {
  right: 61%;
}

.top-gear7 {
  right: 57%;
}

.top-gear8 {
  right: 53%;
}

.top-gear9 {
  right: 49%;
}

.top-gear10 {
  right: 45%;
}

.top-gear11 {
  right: 41%;
}

.top-gear12 {
  right: 37%;
}

.top-gear13 {
  right: 33%;
}

.top-gear14 {
  right: 29%;
}

.top-gear15 {
  right: 25%;
}

.top-gear16 {
  right: 21%;
}

.top-coin-holder {
  width: 67.68%;
  height: 10%;
  right: 18.47%;
  top: 47%;
  z-index: 3;
  overflow: hidden;
}

.top-coin {
  width: 8%;
  top: 10%;
  right: 100%;
}

.top-coin1 {
          -webkit-animation-name:  coin;
                  animation-name:  coin;
          -webkit-animation-duration: 10s;
                  animation-duration: 10s;
          -webkit-animation-timing-function: linear;
                  animation-timing-function: linear;
          -webkit-animation-delay: 1.25s;
                  animation-delay: 1.25s;
          -webkit-animation-iteration-count: infinite;
                  animation-iteration-count: infinite;
}

.top-coin2 {
          -webkit-animation-name:  coin;
                  animation-name:  coin;
          -webkit-animation-duration: 10s;
                  animation-duration: 10s;
          -webkit-animation-timing-function: linear;
                  animation-timing-function: linear;
          -webkit-animation-delay: 2.5s;
                  animation-delay: 2.5s;
          -webkit-animation-iteration-count: infinite;
                  animation-iteration-count: infinite;

}

.top-coin3 {
          -webkit-animation-name:  coin;
                  animation-name:  coin;
          -webkit-animation-duration: 10s;
                  animation-duration: 10s;
          -webkit-animation-timing-function: linear;
                  animation-timing-function: linear;
          -webkit-animation-delay: 3.75s;
                  animation-delay: 3.75s;
          -webkit-animation-iteration-count: infinite;
                  animation-iteration-count: infinite;

}

.top-coin4 {
          -webkit-animation-name:  coin;
                  animation-name:  coin;
          -webkit-animation-duration: 10s;
                  animation-duration: 10s;
          -webkit-animation-timing-function: linear;
                  animation-timing-function: linear;
          -webkit-animation-delay: 5s;
                  animation-delay: 5s;
          -webkit-animation-iteration-count: infinite;
                  animation-iteration-count: infinite;

}

.top-coin5 {
          -webkit-animation-name:  coin;
                  animation-name:  coin;
          -webkit-animation-duration: 10s;
                  animation-duration: 10s;
          -webkit-animation-timing-function: linear;
                  animation-timing-function: linear;
          -webkit-animation-delay: 6.25s;
                  animation-delay: 6.25s;
          -webkit-animation-iteration-count: infinite;
                  animation-iteration-count: infinite;

}

.top-coin6 {
          -webkit-animation-name:  coin;
                  animation-name:  coin;
          -webkit-animation-duration: 10s;
                  animation-duration: 10s;
          -webkit-animation-timing-function: linear;
                  animation-timing-function: linear;
          -webkit-animation-delay: 7.5s;
                  animation-delay: 7.5s;
          -webkit-animation-iteration-count: infinite;
                  animation-iteration-count: infinite;

}

.top-coin7 {
          -webkit-animation-name:  coin;
                  animation-name:  coin;
          -webkit-animation-duration: 10s;
                  animation-duration: 10s;
          -webkit-animation-timing-function: linear;
                  animation-timing-function: linear;
          -webkit-animation-delay: 8.75s;
                  animation-delay: 8.75s;
          -webkit-animation-iteration-count: infinite;
                  animation-iteration-count: infinite;

}

.top-coin8 {
          -webkit-animation-name:  coin;
                  animation-name:  coin;
          -webkit-animation-duration: 10s;
                  animation-duration: 10s;
          -webkit-animation-timing-function: linear;
                  animation-timing-function: linear;
          -webkit-animation-delay: 10s;
                  animation-delay: 10s;
          -webkit-animation-iteration-count: infinite;
                  animation-iteration-count: infinite;

}

/* New Timer */
.countdown {
  width: 950px;
  height: 250px;
  position: relative;
  margin: 0 auto;
  top: -140px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: -200px;
}

.countdown-right {
  right: 3%;
  width: 45%;
  z-index: 2;
}

.countdown-left {
  left: 3%;
  width: 45%;
  z-index: 2;
}

.countdown-wires {
  right: 47%;
  width: 5.2%;
  top: 28px !important;
  z-index: 1;
}

.countdown-handle {
  width: 10%;
  left: 0%;
  top: 40px;
  -webkit-animation: handle 6s ease-in-out infinite;
          animation: handle 6s ease-in-out infinite;
}

.countdown h2 {
  position: absolute;
  text-align: center;
  color: #24537f;
  right: 59.7%;
  top: 142px;
  z-index: 4;
}

.countdown-btn {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  z-index: 4;
  position: absolute;
  top: 20%;
  -webkit-animation: countdownBtn 2.1s ease-in-out infinite;
          animation: countdownBtn 2.1s ease-in-out infinite;
}

.countdown-btn-left {
  right: 60%;
  background-color: #fbc943;
}

.countdown-btn-middle {
  right: 58%;
  background-color: #fd8a66;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.countdown-btn-right {
  right: 56%;
  background-color: #2cb8d1;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.countdown-chart {
  height: 48px;
  width: 56px;
  overflow: hidden;
  z-index: 4;
  top: 48px;
  right: 85.3%;
}

.countdown-chart img {
  -webkit-animation: countdownChart 18s linear infinite;
          animation: countdownChart 18s linear infinite;
  left: 105%;
}

.countdown-chart img:nth-child(2) {
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}

.countdown-gear {
  width: 11%;
  top: 16px;
  z-index: 3;
  -webkit-animation: rotate 6s linear infinite;
          animation: rotate 6s linear infinite;
}

.countdown-gear1 {
  right: 5%;
}

.countdown-gear2 {
  right: 15%;
  animation-direction: reverse;
}

.countdown-gear3 {
  right: 25%;
}

.countdown-gear4 {
  right: 35%;
  animation-direction: reverse;
}

.countdown p {
  text-align: center;
  font-size: 31px;
}

/*.countdown span {
  font-size: 13px;
  position: absolute;
  top: 35px;
margin: 20px;
}
*/

.countdown img {
  position: absolute;
}

.countdown div {
  position: absolute;
}

.count-machine {
  width: 100%;
}

.timer-div {
  top: 35px;
  width: 90px;
  height: 60px;
  text-align: center;
  z-index: 4;
}

.timer-text {
  font-size: 14px !important;
  margin-top: -10px;
}

#day-div {
  right: 338px;
}

#hour-div {
  right: 244px;
}

#minute-div {
  right: 150px;
}

#second-div {
  right: 54px;
}

/* About Section */

.about {
  margin-top: 40px !important;
  margin: 60px;
  font-weight: 300;
  border-radius: 10px;
  padding: 20px 20px 0px 20px;
}

.about p {
  border: 1px solid #2cb8d1;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
}

.about-container {
  height: 330px;
}

.wrench-container {
  height: 330px;
  position: relative;
  overflow: hidden;
  left: -100px;
}

.wrench {
  position: absolute;
  height: 2000px;
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  top: -820px;
  left: -200px;
  z-index: 2;
}

.multigray-circle {
  position: absolute;
  height: 105px;
  top: 128px;
  left: 110px;
  z-index: 1;
}

#yellow-gear {
  position: absolute;
  z-index: -2 !important;
  -webkit-filter: saturate(0%);
          filter: saturate(0%);
  left: 400px;
  top: 30px;
  height: 250px;
  opacity: 0.2;
}

#pink-gear {
  position: absolute;
  z-index: -2 !important;
  -webkit-filter: saturate(0%);
          filter: saturate(0%);
  left: -40px;
  top: 170px;
  height: 220px;
  opacity: 0.1;
}

.white-lines {
  position: absolute;
  height: 250px;
  width: 350px;
  z-index: -1;
}

#whitelines1 {
  left: -150px;
  top: 0px;
  transform: rotate(50deg);
  -moz-transform: rotate(50deg);
  -webkit-transform: rotate(50deg);
  -o-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
}

#whitelines2 {
  left: 330px;
  top: 200px;
  transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
}

.read-more {
  height: 50px;
  width: 200px;
  border-radius: 25px;
  background-color: #2cb8d1;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  border: none;
}

.read-more:hover {
  background-color: #249BB0 !important;
}

.read-more:active {
  background-color: #1D7E8F !important;
}

/* Second Benefit */
.second-container {
  background-color: #1db8d3;
  color: white;
  padding: 50px;
}

.watch-video {
  border: 1px solid white;
  height: 50px;
  width: 200px;
  border-radius: 25px;
  margin: 20px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.watch-video h5 {
  font-weight: 300;
  color: white;
}

.watch-video h3 {
  color: white;
}

.watch-video:hover {
  color: #1db8d3 !important;
  background-color: white;
  cursor: pointer;
}

.watch-video:hover h3  {
  color: #1db8d3 !important;
}

.watch-video:hover h5  {
  color: #1db8d3 !important;
}

/* Video Modal */

.modal-backdrop.in {
    filter: alpha(opacity=7);
    opacity: 0.7;
}

.modal-content {
    background: none;
    border: 0; border-radius: 0; -webkit-box-shadow: none; box-shadow: none;
}

.modal-body {
    padding: 0 25px 25px 25px;
}

.modal-header {
    padding: 25px 25px 15px 25px;
    text-align: right;
}

.modal-header, .modal-footer {
    border: 0;
}

.modal-header .close {
    float: none;
    margin: 0;
    font-size: 36px;
    color: #fff;
    font-weight: 300;
    text-shadow: none;
    opacity: 1;
}


/* Bonus Section */
.bonus-section {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.gray-gear {
  position: absolute;
  opacity: 0.2;
  -webkit-animation: rotate 50s linear infinite;
          animation: rotate 50s linear infinite;
  z-index: -1;
}

#gray-gear1 {
  left: -320px;
  top: -480px;
}

.bonus-section h3 {
  font-size: 20px !important;
}

.bonus-section p {
  font-weight: 300;
}

.bonus-vid {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.bonus-item {
  padding: 20px;
}



/* Experience Section */
.top-divider {
  width: 100vw;
  margin-bottom: -5px;
}

.experience-container {
  position: relative;
  max-width: 1000px;
}

#gray-gear2 {
  right: -450px;
  top: -450px;
}

.top-margin {
  margin-top: 5%;
}

.info-row {
  font-weight: 250;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.info-text {
  width: 45vw;
}

.blue {
  color: #1db8d3;
}

.info-row p {
  color: black;
}

.text-center {
  text-align: center !important;
}

.info-icon {
  height: 15vw;
  margin-right: 20px;
}

/* Benefits Section */
.featuresdes {
  background-color: #2cb8d1;
  padding: 48px 0;
  margin-bottom: -3px;
  z-index: 6;
  position: relative;

}

.featsecde {
  color: #fff;
  padding: 20px 0;
  text-align: left;
  display: inline;
}

.new-icons {
  position: relative;
  margin-left: 20px;
  height: 120px;
  overflow: hidden;
  margin-bottom: 10px;
}

.new-icons img {
  position: absolute;
  height: 100px;
  width: 100px;
}

.featcont {
  margin: 20px;
  color: white;
}

.benefit-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 auto;
  margin-top: -80px;
  max-width: 1400px;
}

.benefit-div {
  max-width: 500px;
}

.benefit-div img {
  max-height: 200px;
}

.featcont > h4 {
  font-size: 18px;
  font-weight: 800;
  padding: 0;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.featcont p {
  font-family: open sans;
  font-size: 14px;
  line-height: 24px;
}


/* Chart Section */
.chart-container {
  text-align: center;
}

.chart-container h1 {
  margin-top: 20px;
  color: #24537f;
}

.chart-container h3 {
  margin-top: 10px;
  color: #7F7F7F;
  font-weight: 300;
}

.chart-holder {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.chart-holder h4 {
  color: #24537f;
  font-size: 24px;
  z-index: 4;
  position: relative;
}

.chart-line {
  height: 55vw;
  max-height: 1200px;
  width: 1px;
  background-color: #CCCCCC;
  margin: 0 auto;
}

.chart1 {
  position: relative;
  width: 30vw;
  height: 30vw;
  max-width: 500px;
  max-height: 500px;
  left: 0;
  right: 0;
  margin: auto;
}

.chart2 {
  position: relative;
  width: 30vw;
  height: 30vw;
  max-width: 500px;
  max-height: 500px;
  left: 0;
  right: 0;
  margin: auto;
}

#chart1a {
  position: absolute;
  height: 30%;
  right: 30%;
}

#chart1b {
  position: absolute;
  height: 40%;
  top: 25%;
  right: 45%;
}

#chart1c {
  position: absolute;
  height: 26%;
  top: 40%;
  right: 19%;
}

#chart1d {
  position: absolute;
  height: 20%;
  top: 65%;
  right: 50%;
}

#chart1e {
  position: absolute;
  height: 15%;
  top: 10%;
  right: 61%;
}

#chart1f {
  position: absolute;
  height: 8%;
  top: 20%;
  right: 75%;
}

#chart1g {
  position: absolute;
  height: 8%;
  top: 60%;
  right: 42%;
}

#chart1h {
  position: absolute;
  height: 13%;
  top: 26%;
  right: 27%;
}

#chart1i {
  position: absolute;
  height: 13%;
  top: 12%;
  right: 17%;
}

#chart1j {
  position: absolute;
  height: 21%;
  top: 67%;
  right: 28%;
}

.chart-text1a {
  position: absolute;
  top: 40.5%;
  right: 56%;
  height: 7.5%;
}

.chart-text1b {
  position: absolute;
  top: 11%;
  right: 36%;
  height: 7%;
}

.chart-text1c {
  position: absolute;
  top: 50%;
  right: 25%;
  height: 6%;
}

.chart-text1d {
  position: absolute;
  top: 72%;
  right: 54%;
  height: 5%;
}

#chart2a {
  position: absolute;
  top: 2%;
  right: 15%;
  height: 45%;
}

#chart2b {
  position: absolute;
  top: 2%;
  right: 61%;
  height: 22%;
}

#chart2c {
  position: absolute;
  top: 34%;
  right: 55%;
  height: 30%;
}

#chart2d {
  position: absolute;
  top: 62%;
  right: 50%;
  height: 16%;
}

#chart2e {
  position: absolute;
  top: 48%;
  right: 40%;
  height: 14%;
}

#chart2f {
  position: absolute;
  top: 22%;
  right: 72%;
  height: 14%;
}

#chart2g {
  position: absolute;
  top: 78%;
  right: 48%;
  height: 8%;
}

#chart2h {
  position: absolute;
  top: 66%;
  right: 32%;
  height: 17%;
}

#chart2i {
  position: absolute;
  top: 53%;
  right: 22%;
  height: 16%;
}

#chart2j {
  position: absolute;
  top: 44%;
  right: 19%;
  height: 10%;
}

#chart2k {
  position: absolute;
  top: 48%;
  right: 33%;
  height: 6%;
}

#chart2l {
  position: absolute;
  top: 25%;
  right: 63%;
  height: 7%;
}

#chart2m {
  position: absolute;
  top: 0%;
  right: 55%;
  height: 8%;
}

.chart-text2a {
  position: absolute;
  top: 20%;
  right: 27%;
  height: 9%;
}

.chart-text2b {
  position: absolute;
  top: 45.5%;
  right: 63.5%;
  height: 5.5%;
}

.chart-text2c {
  position: absolute;
  top: 9.8%;
  right: 65%;
  height: 6%;
}

.chart-text2d {
  position: absolute;
  top: 67.8%;
  right: 53.2%;
  height: 4%;
}

.chart-text2e {
  position: absolute;
  top: 53%;
  right: 43.5%;
  height: 3.5%;
}

.chart-gear {
  -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
      transform: rotate(0deg);
}

.legend h4 {
  color: #333333;
  font-weight: 300;
  padding: 10px;
  width: 35vw;
  max-width: 500px;
  min-width: 280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.legend h4:hover {
  cursor: pointer;
  color: white;
}

#legend1 h4:first-child span span:first-child {
  color: #2cb8d1;
  font-weight: 500;
}

#legend2 h4:first-child span span:first-child {
  color: #fbc943;
  font-weight: 500;
}

.legend h4:hover span span:first-child {
  color: white !important;
}

.legend h4 span:nth-child(2) {
  font-weight: 400;
}

.chart-active span {
  color: white !important;
}

.chart-active1a {
  background-color: #2cb8d1;
}

.chart-active2a {
  background-color: #fd8a66 !important;
}

.chart-active3a {
  background-color: #fbc943 !important;
}

.chart-active4a {
  background-color: #9ee2ec !important;
}

.chart-active1b {
  background-color: #fbc943;
}

.chart-active2b {
  background-color: #24537f !important;
}

.chart-active3b {
  background-color: #2cb8d1 !important;
}

.chart-active4b {
  background-color: #fd8a66 !important;
}

.chart-active5 {
  background-color: #9ee2ec !important;
}

#legend1 h4:first-child:hover {
  background-color: #2cb8d1;
}

#legend2 h4:first-child:hover {
  background-color: #fbc943;
}

#legend1 h4:nth-child(2) span span:first-child {
  color: #fd8a66;
  font-weight: 500;
}

#legend1 h4:nth-child(2):hover {
  background-color: #fd8a66;
}

#legend2 h4:nth-child(2) span span:first-child {
  color: #24537f;
  font-weight: 500;
}

#legend2 h4:nth-child(2):hover {
  background-color: #24537f;
}

.legend h4:nth-child(2) {
  background-color: #F5F5F5;
}

.legend h4:nth-child(4) {
  background-color: #F5F5F5;
}

#legend1 h4:nth-child(3) span span:first-child {
  color: #fbc943;
  font-weight: 500;
}

#legend1 h4:nth-child(3):hover {
  background-color: #fbc943;
}

#legend2 h4:nth-child(3) span span:first-child {
  color: #2cb8d1;
  font-weight: 500;
}

#legend2 h4:nth-child(3):hover {
  background-color: #2cb8d1;
}

#legend1 h4:nth-child(4) span span:first-child {
  color: #9ee2ec;
  font-weight: 500;
}

#legend1 h4:nth-child(4):hover {
  background-color: #9ee2ec;
}

#legend2 h4:nth-child(4) span span:first-child {
  color: #fd8a66;
  font-weight: 500;
}

#legend2 h4:nth-child(4):hover {
  background-color: #fd8a66;
}

#community:nth-child(5) span span:first-child {
  color: #9ee2ec;
  font-weight: 500;
}

#community:nth-child(5):hover {
  background-color: #9ee2ec;
}

/* Video Section */
.vid-container {
  position: relative;
  width: 1200px;
  height: 700px;
  left: 0%;
}

.vid-text {
  position: absolute;
  color: white;
  width: 40%;
  right: 30%;
  top: 10%;
  text-align: center;
  z-index: 6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.vid-text a {
  right: 71%;
  top: 90%;
  position: absolute;
}

.vid-container img {
  position: absolute;
}

.vid-container div {
  position: absolute;
}

.vid-background {
  width: 100%;
  top: 0%;
  right: 0%;
  z-index: 1;
}

.vid-components {
  width: 100%;
  top: 0%;
  right: 0%;
  z-index: 5;
}

.vid-screen {
  width: 100%;
  top: 0%;
  right: 0%;
  z-index: 5;
}

.electricity-holder {
  width: 100%;
  height: 100%;
  top: 0%;
  right: 0%;
  z-index: 4;
  opacity: 1;
}

.vid-electricity {
  width: 100%;
  top: 0%;
  right: 0%;
  -webkit-clip-path: circle(0% at 15% 110%);
          clip-path: circle(0% at 15% 110%);
  -webkit-animation: electricity 2.9s linear infinite;
          animation: electricity 2.9s linear infinite;
}

.vid-electricity2 {
  width: 100%;
  top: 0%;
  right: 0%;
  -webkit-clip-path: circle(0% at 90% 54%);
          clip-path: circle(0% at 90% 54%);
  -webkit-animation: electricityTwo 4.4s linear infinite;
          animation: electricityTwo 4.4s linear infinite;
}

.vid-lines {
  width: 100%;
  top: 0%;
  right: 0%;
  z-index: 3;
}

.vid-cloud-left {
  width: 5%;
  top: 60%;
  right: 93.5%;
  z-index: 3;
  -webkit-animation: vidCloud 3.5s ease-in-out infinite;
          animation: vidCloud 3.5s ease-in-out infinite;
}

.vid-cloud-center {
  width: 5%;
  top: 51%;
  right: 15%;
  z-index: 3;
  -webkit-animation: vidCloud 3s ease-in-out infinite;
          animation: vidCloud 3s ease-in-out infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.vid-cloud-right {
  width: 7%;
  top: 55%;
  right: 7%;
  z-index: 3;
  -webkit-animation: vidCloud 2.5s ease-in-out infinite;
          animation: vidCloud 2.5s ease-in-out infinite;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.vid-gear-up-light-blue {
  width: 10%;
  top: 42.57%;
  right: 75.705%;
  z-index: 2;
  animation: rotate 6s reverse linear infinite;
}

.small-red-gear-holder {
  width: 5%;
  height: 6%;
  top: 81.65%;
  right: 85%;
  z-index: 5;
  overflow: hidden;
}

#vid-gear-small-red {
  width: 105%;
  right: -10%;
  top: 23%;
  -webkit-animation: rotate 7s reverse linear infinite;
  animation: rotate 7s reverse linear infinite;
}

.left-gear-holder {
  width: 20%;
  height: 14%;
  top: 71.6%;
  right: 66%;
  z-index: 4;
  overflow: hidden;
}

#vid-gear-small-turquoise {
  width: 35%;
  right: 62%;
  top: 55%;
  -webkit-animation: rotate 7s reverse linear infinite;
  animation: rotate 7s reverse linear infinite;
}

#vid-gear-left-yellow {
  width: 35%;
  right: 39.2%;
  top: 12.5%;
  -webkit-animation: rotate 7s linear infinite;
          animation: rotate 7s linear infinite;
}

#vid-gear-down-light-blue {
  width: 35%;
  right: 21.2%;
  top: 68.2%;
  animation: rotate 7s reverse linear infinite;
}

.big-red-gear-holder {
  width: 10%;
  height: 14%;
  top: 73.8%;
  right: 20%;
  z-index: 5;
  overflow: hidden;
}

#vid-gear-big-red {
  width: 105%;
  right: 0%;
  top: 30%;
  -webkit-animation: rotate 7s linear infinite;
          animation: rotate 7s linear infinite;
}

.vid-gear-big-turquoise {
  width: 11%;
  right: 10.62%;
  top: 64.47%;
  z-index: 2;
  animation: rotate 8s reverse linear infinite;
}

.vid-gear-big-turquoise-mobile {
  right: 74.8%;
  top: 66.3%;
}

.vid-gear-right-yellow {
  width: 7%;
  right: 5%;
  top: 73%;
  z-index: 2;
  -webkit-animation: rotate 6.7s linear infinite;
          animation: rotate 6.7s linear infinite;
}

.vid-gear-right-yellow-mobile {
  right: 92.6%;
}

.vid-gear-holder-mobile {
  width: 14%;
  right: 68.8%;
  top: 69.8%;
  z-index: 3;
}

.vid-gear-blue {
  width: 4%;
  right: 7.4%;
  top: 67.3%;
  z-index: 2;
  animation: rotate 5.8s reverse linear infinite;
}

.vid-gear-blue-mobile {
/*   right: 87%;
  top: 79.3%; */
  right: 81.2%;
  top: 61.7%;
}

/*.faqandvideo {
  position: relative;
  height: 700px;
}

.video-ani {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
}

.vid-container {
  position: absolute;
  z-index: 2;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  color: white !important;
  width: 100vw;
}

.vid-container h3 {
  color: white;
}

.vid-text {
  width: 300px;
  margin: 0 auto;
  margin-top: 80px;
}*/

/* Team Section */
.team-section {

}

.team-member-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 100px;
}

.team-div {
  position: relative;
  margin: 20px auto;
  /*background-color: white;*/
  margin-top: 60px;
  height: 250px;
  text-align: center;
  color: #2cbad3;
  width: 220px;
}

.team-div h5 {
  color: #B3B3B3;
}

.team-div:hover {
  background-color: #2cb8d2;
  color: white !important;
  cursor: pointer;
}

.team-div:hover h5 {
  color: white;
}

.team-div:hover .hover-visibility {
  opacity: 1;
}

.hover-visibility {
  opacity: 0;
}

.team-div img {
  height: 150px;
}

.employee {
  width: 220px;
  transition: -webkit-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.team-div:hover .employee {
  transform: translate(0, -50px);
  -moz-transform: translate(0, -50px);
  -webkit-transform: translate(0, -50px);
  -o-transform: translate(0, -50px);
  -ms-transform: translate(0, -50px);
}

.team-div:hover .avatar-gear {
  -webkit-animation: smallRotate 1s ease;
          animation: smallRotate 1s ease;
  transform: rotate(95deg);
  -moz-transform: rotate(95deg);
  -webkit-transform: rotate(95deg);
  -o-transform: rotate(95deg);
  -ms-transform: rotate(95deg);
}

.avatar-gear {
  position: absolute;
  height: 230px !important;
  left: -5px;
  top: -45px;
}

/* Call to Action */
.action-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
}

.indresgsec {
  width: 550px;
  margin: 0px auto;
  padding: 16px;
  margin-top: 80px !important;
}


.clicktool-city {
  margin: 0 auto;
  width: 550px;
  min-width: 550px;
  max-width: 550px;
  height: 309.5px;
  min-height: 309.5px;
  max-height: 309.5px;
  position: relative;
}

.clicktool-city img {
  position: absolute;
}

.clicktool-city div {
  position: absolute;
}

.city-background {
  width: 100%;
  top: 0%;
  right: 0%;
  z-index: 1;
}

.city-cloud-medium {
  width: 4.5%;
}

.city-cloud-lg {
  width: 6%;
}

.city-cloud-top-left1 {
  top: 33%;
  right: 93%;
  z-index: 2;
  -webkit-animation: cloud 3s ease-in-out infinite;
          animation: cloud 3s ease-in-out infinite;
}

.city-cloud-top-left2 {
  top: 20%;
  right: 75%;
  z-index: 2;
  -webkit-animation: cloud 3.2s ease-in-out infinite;
          animation: cloud 3.2s ease-in-out infinite;
}

.city-cloud-top-left3 {
  top: 23%;
  right: 70%;
  z-index: 2;
  -webkit-animation: cloud 3.2s ease-in-out infinite;
          animation: cloud 3.2s ease-in-out infinite;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.city-cloud-top-center {
  top: 39%;
  right: 34%;
  z-index: 2;
  -webkit-animation: cloud 3.3s ease-in-out infinite;
          animation: cloud 3.3s ease-in-out infinite;
}

.city-cloud-top-right1 {
  top: 17%;
  right: 17%;
  z-index: 2;
  -webkit-animation: cloud 3.3s ease-in-out infinite;
          animation: cloud 3.3s ease-in-out infinite;
}

.city-cloud-top-right2 {
  top: 13%;
  right: 15%;
  z-index: 2;
  -webkit-animation: cloud 3.1s ease-in-out infinite;
          animation: cloud 3.1s ease-in-out infinite;
}

.city-cloud-top-right3 {
  top: 24%;
  right: 3%;
  z-index: 2;
  -webkit-animation: cloud 3s ease-in-out infinite;
          animation: cloud 3s ease-in-out infinite;
}

.city-cloud-bottom-right {
  top: 82%;
  right: 4%;
  z-index: 2;
  -webkit-animation: cloud 3s ease-in-out infinite;
          animation: cloud 3s ease-in-out infinite;
}

.city-cloud-bottom-left1 {
  top: 81%;
  right: 57%;
  z-index: 2;
  -webkit-animation: cloud 3s ease-in-out infinite;
          animation: cloud 3s ease-in-out infinite;
}

.city-cloud-bottom-left2 {
  width: 3%;
  top: 79%;
  right: 56%;
  z-index: 2;
  -webkit-animation: cloud 2.9s ease-in-out infinite;
          animation: cloud 2.9s ease-in-out infinite;
}

.city-bird {
  width: 3%;
  -webkit-animation: bird 2s ease-in-out infinite;
          animation: bird 2s ease-in-out infinite;
}

.city-bird-left {
  top: 84%;
  right: 45%;
  z-index: 2;
}

.city-bird-right {
  top: 86%;
  right: 42%;
  z-index: 2;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.city-boat-holder-left {
  height: 8%;
  width: 7%;
  top: 104.1%;
  right: 78%;
  z-index: 2;
  overflow: hidden;
}

.city-boat-holder-left img {
  width: 90%;
  top: 44%;
  right: 18%;
  -webkit-animation: boat 2s ease-in-out infinite;
          animation: boat 2s ease-in-out infinite;
}

.city-boat-holder-center {
  height: 9%;
  width: 7%;
  top: 103.1%;
  right: 46%;
  z-index: 2;
  overflow: hidden;
}

.city-boat-holder-center img {
  width: 68%;
  top: 5%;
  right: 4%;
  -webkit-animation: boat 1.9s ease-in-out infinite;
          animation: boat 1.9s ease-in-out infinite;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.city-boat-holder-right {
  height: 9%;
  width: 7%;
  top: 100.2%;
  right: 17%;
  z-index: 2;
  overflow: hidden;
}

.city-boat-holder-right img {
  width: 68%;
  top: 39%;
  right: 26%;
  -webkit-animation: boat 2.1s ease-in-out infinite;
          animation: boat 2.1s ease-in-out infinite;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.windmill {
  width: 8%;
  top: 38%;
  right: 48%;
  z-index: 2;
  -webkit-animation: rotate 5s linear infinite;
          animation: rotate 5s linear infinite;
}

.city-train-holder {
  width: 50.5%;
  height: 10%;
  top: 51.8%;
  right: 19%;
  z-index: 2;
  overflow: hidden;
}

.city-train-holder img {
  width: 50%;
  top: 65%;
  right: -50%;
  -webkit-animation: cityTrain 5s linear infinite;
          animation: cityTrain 5s linear infinite;
}

.city-car-holder-top-left {
  height: 8%;
  width: 22%;
  top: 70%;
  right: 43%;
  overflow: hidden;
  z-index: 2;
}

.city-car-holder-top-left img {
  width: 20%;
  top: 50%;
  right: -20%;
  -webkit-animation: cityCarOne 6s linear infinite;
          animation: cityCarOne 6s linear infinite;
}

.city-car-holder-top-right {
  height: 8%;
  width: 13.2%;
  top: 70.2%;
  right: 22.8%;
  overflow: hidden;
  z-index: 2;
}

.city-car-holder-top-right img {
  width: 40%;
  top: 27%;
  right: 100%;
  -webkit-animation: cityCarTwo 4s linear infinite;
          animation: cityCarTwo 4s linear infinite;
}

.city-car-holder-bottom {
  height: 8%;
  width: 50%;
  top: 93%;
  right: 18.25%;
  overflow: hidden;
  z-index: 2;
}

.city-car-holder-bottom img {
  width: 10%;
  top: 28%;
  right: 100%;
  -webkit-animation: cityCarThree 7s linear infinite;
          animation: cityCarThree 7s linear infinite;
}

.city-car-holder-bottom img:first-child {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.city-logo {
  width: 3.8%;
  top: 27.5%;
  right: 57.9%;
  z-index: 3;
}
.city-logo2 {
  width: 4%;
  top: 26.9%;
  right: 57.91%;
  z-index: 2;
  -webkit-animation: rotate 5s linear infinite;
          animation: rotate 5s linear infinite;
}

.city-gear-bottom-right1 {
  width: 5.5%;
  top: 89.5%;
  right: 7.7%;
  z-index: 2;
  animation: rotate 5s reverse linear infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.city-gear-bottom-left1 {
  height: 15%;
  width: 12%;
  top: 87.45%;
  right: 70%;
  z-index: 2;
  overflow: hidden;
}

.city-gear-bottom-left1 img {
  width: 80%;
  top: 36%;
  right: 15%;
  animation: rotate 6s reverse linear infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.city-gear-bottom-right2 {
  height: 15%;
  width: 12%;
  top: 87%;
  right: 10%;
  z-index: 2;
  overflow: hidden;
}

.city-gear-bottom-right2 img {
  width: 75%;
  top: 46%;
  right: 4%;
  -webkit-animation: rotate 8s linear infinite;
          animation: rotate 8s linear infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.city-gear-top-left {
  height: 12%;
  width: 8%;
  top: 43%;
  right: 87.9%;
  z-index: 2;
  overflow: hidden;
}

.city-gear-top-left img {
  width: 80%;
  top: 49%;
  right: -12%;
  animation: rotate 7s reverse linear infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.city-gear-bottom-left2 {
  height: 16%;
  width: 15%;
  top: 84.8%;
  right: 82%;
  z-index: 3;
  overflow: hidden;
}

.city-gear-bottom-left2 img {
  width: 40%;
  -webkit-animation: rotate 7s linear infinite;
          animation: rotate 7s linear infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.city-gear-bottom-left2 img:first-child {
  top: 64%;
  right: 50%;
}

.city-gear-bottom-left2 img:nth-child(2) {
  top: 29%;
  right: 24%;
  animation-direction: reverse;
}

.city-gear-bottom-left2 img:nth-child(3) {
  top: 73.3%;
  right: 3.2%;
}

.city-gear-middle {
  width: 12%;
  height: 10%;
  top: 68%;
  right: 69%;
  z-index: 3;
  overflow: hidden;
}

.city-gear-middle img:first-child {
  width: 50%;
  top: 40%;
  right: 48%;
  animation: rotate 7s reverse linear infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.city-gear-middle img:nth-child(2) {
  width: 30%;
  top: 68%;
  right: 24%;
  -webkit-animation: rotate 5.5s linear infinite;
          animation: rotate 5.5s linear infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.city-gear-top-center {
  width: 10%;
  height: 12%;
  top: 43%;
  right: 41%;
  z-index: 3;
  overflow: hidden;
}

.city-gear-top-center img:first-child {
  width: 48%;
  top: 65%;
  right: 40%;
  -webkit-animation: rotate 5.5s linear infinite;
          animation: rotate 5.5s linear infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.city-gear-top-center img:nth-child(2) {
  width: 33%;
  top: 75%;
  right: 13%;
  animation: rotate 7s reverse linear infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.city-gear-top-center img:nth-child(3) {
  width: 40%;
  top: 22%;
  right: 19%;
  animation: rotate 6s reverse linear infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

/* Sign Up */

.sign-up {
  text-align: center;
  padding: 25px;
  margin-top: 5px;
  color: black;
  background-color: #F2F2F2;
}

.sign-up h1 {
  color: #24537f;
  padding-bottom: 5px;
  margin-bottom: 5px;
  margin-top: -40px;
}

.sign-up p {
  width: 70vw;
  margin: 0 auto;
}

.action-button {
  height: 50px;
  width: 200px;
  background-color: #fd8a66;
  margin: 10px auto;
  color: white;
  border-radius: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1px 1px 2px #CCCCCC;
          box-shadow: 1px 1px 2px #CCCCCC;
  overflow: hidden;
}

.shine {
  height: 70px;
  width: 10px;
  background-color: white;
  transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -webkit-animation: shine 2s ease infinite;
          animation: shine 2s ease infinite;
  opacity: 0.2;
  -webkit-box-shadow: 0px 0px 12px 5px #FFFFFF;
          box-shadow: 0px 0px 12px 5px #FFFFFF;
}

.action-button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #AC604A !important;
}

.action-button:hover {
  background-color: #DD795B;
  cursor: pointer;
}

.action-left {
  width: 550px;
}

.action-container h1 {
  color: #215281;
}

.action-container p {
  color: #737373;
}

.social-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.social-icons p {
  font-size: 30px;
  margin-right: 60px;
  opacity: 0.3;
  margin-top: 10px;
}

.social-icons p:hover {
  opacity: 1;
  cursor: pointer;
}

.fa-div {
  background: #0a243e none repeat scroll 0 0;
  border-radius: 5px;
  color: #fff;
  font-family: open sans;
  font-size: 14px;
  margin: 30px auto !important;
  text-align: center;
  padding: 0 0 0 14px;
  width: 380px !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  caret-color: #fd8a66;
}

.fa-div input {
  border: none !important;
  margin-left: -30px;
  color: white;
}

.fa-margin {
  margin-top: -155px;
}

.message {
  padding-top: 12px !important;
  height: 200px !important;
  background: #0a243e none repeat scroll 0 0;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-radius: 5px;
  resize: none;
  outline: transparent;
  caret-color: #fd8a66;
  font-size: 14.5px;
  margin-left: 5px;
  color: white;
}

.send {
  margin-left: 125px !important;
  background: none;
  color: white !important;
  border: 1px solid white !important;
}

.indresgsec h2 {
  color: white;
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
}

.indresgsec > h2 span {
  color: #0080ff;
  display: block;
  font-size: 20px;
  padding: 7px 0 0;
}

.animation-none {
  animation: none !important;
}

.display-none {
  display: none !important;
}

/* Media Queries */

@media only screen and (min-width: 1866px){
  .info-icon {
    height: 300px;
  } .info-text {
    width: 35vw;
  } .info-row {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
}

@media only screen and (max-width: 1052px) {
  .dynamic-headline-big {
    visibility: hidden;
  } .dynamic-headline-mobile {
    visibility: visible;
  } .countdown {
    top: 20px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 991px) {
  .vid-screen {
    width: 85%;
    left: -10%;
  } .vid-text {
    width: 25%;
    left: 20%;
  } .vid-text h3 {
    font-size: 18px;
  } .vid-text a {
    right: 83% !important;
  }
}

@media only screen and (max-width: 927px) {
  .countdown {
    width: 633.3px;
    height: 166.7px;
    top: 10px;
    margin-bottom: 70px;
  } .countdown-handle {
    top: 28px;
  } .countdown h2 {
    font-size: 20px;
    top: 95px;
    right: 60%;
  } .countdown-chart img {
    width: 500%;
  } .countdown-chart {
    top: 35px;
    height: 40px;
    width: 44px;
    right: 85%;
  } .countdown-chart img {
    -webkit-animation: countdownChartMobile 18s linear infinite;
            animation: countdownChartMobile 18s linear infinite;
  } .countdown-btn {
    top: 35px;
  } .countdown-wires {
    top: 22px !important;
  } .timer-text {
    font-size: 10px !important;
    margin-top: -5px;
  } .timer-div p {
    font-size: 18px;
  } #day-div {
    right: 212px;
  } #hour-div {
    right: 148px;
  } #minute-div {
    right: 84px;
  } #second-div {
    right: 22px;
  } .timer-div {
    top: 26px;
  } .countdown-gear {
    top: 12px;
  }
}

@media only screen and (max-width: 800px){
  .team-section {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 767px){
  .countdown {
    top: 50px;
    margin-bottom: 50px;
  } .machine-box {
    top: 23%;
  } .top-design {
    top: 80px;
    width: 900px;
    height: 600px;
  } .milestone-container {
    width: 280vw;
    height: calc(280vw / 2.02);
    left: -90%;
    overflow: hidden;
  } .info-text {
    width: 90vw;
  } .info-icon {
    height: 30vw;
  } .featcont {
    width: 90vw;
  }
}

@media only screen and (max-width: 680px){
  .countdown {
    right: -3%;
    top: 20px;
    width: 320px;
    margin-bottom: 150px;
  } .countdown-wires {
    opacity: 0;
  } .countdown-left {
    width: 100%;
    top: 100px;
    left: -5%;
  } .countdown-right {
    width: 100%;
  } .countdown-chart {
    right: 78%;
    top: 140px;
  } .countdown h2 {
    top: 210px;
    right: 23%;
  } .countdown-handle {
    left: -11%;
    width: 20%;
    top: 131px;
  } .countdown-btn {
    top: 140px;
  } .countdown-btn-left {
    right: 40%;
  } .countdown-btn-middle {
    right: 30%;
  } .countdown-btn-right {
    right: 20%;
  } .countdown-gear {
    width: 25%;
  } .countdown-gear1 {
    right: 7%;
  } .countdown-gear2 {
    right: 29%;
  } .countdown-gear3 {
    right: 51%;
  } .countdown-gear4 {
    right: 73%;
  } #day-div {
    right: 228px;
  } #hour-div {
    right: 158px;
  } #minute-div {
    right: 88px;
  } #second-div {
    right: 17px;
  } .timer-div {
    top: 30px;
  } .vid-screen {
    width: 75%;
    left: -19%;
  } .vid-text {
    left: 9%;
    top: 0%;
    width: 20% !important;
  } .vid-text a {
    right: 94% !important;
  } .sign-up h1 {
    margin-top: -20px;
  }
}

@media only screen and (max-width: 520px){
  .dynamic-headline p {
    margin-top: 60px !important;
  }
}

@media only screen and (max-width: 460px){
  .vid-screen {
    width: 57%;
    left: -13%;
  } .vid-text {
    left: 6%;
  } .vid-text a {
    right: 92% !important;
  }
}

@media only screen and (max-width: 420px){
  .dynamic-headline {
    left: 2%;
    width: 95vw;
  } .info-icon {
    height: 50vw;
  }
}
