

  <app-homepage-header></app-homepage-header>

  <div class="container-fluid" style="overflow: hidden;" >
    <div id="top-design" class="top-design" style="opacity: 0;">
      <img id="top-ani" class="top-ani" src="../assets/top-background.png">
      <img class="blue-logo-gear" src="../assets/blue-logo-gear.png">
      <img class="top-design-logo" src="../assets/top-design-logo.png">
      <img class="blue-button-stay" src="../assets/blue-buttons1.png">
      <img class="blue-buttons blue-buttons1" src="../assets/blue-buttons1.png">
      <img class="blue-buttons blue-buttons2" src="../assets/blue-buttons2.png">
      <img class="blue-buttons blue-buttons3" src="../assets/blue-buttons3.png">
      <img class="blue-buttons blue-buttons4" src="../assets/blue-buttons4.png">
      <img class="blue-buttons blue-buttons5" src="../assets/blue-buttons2.png">
      <img class="exclamation" src="../assets/exclamation.png">
      <img class="blue-slider blue-slider1" src="../assets/blue-slider.png">
      <img class="blue-slider blue-slider2" src="../assets/blue-slider.png">
      <img class="blue-slider blue-slider3" src="../assets/blue-slider.png">
      <img class="stack" src="../assets/stack.png">
      <div class="arrow-drop">
        <img class="yellow-arrow" src="../assets/yellow-arrow.png">
      </div>
      <div class="train-holder" [ngClass]="{'display-none':isSafari}" >
        <img class="top-train" src="../assets/top-train.png">
      </div>
      <div class="car-holder1" [ngClass]="{'display-none':isSafari}" >
        <img class="car1" src="../assets/car1.png">
      </div>
      <div class="car-holder2" [ngClass]="{'display-none':isSafari}" >
        <img class="car2" src="../assets/car2.png">
      </div>
      <div class="car-holder3" [ngClass]="{'display-none':isSafari}" >
        <img class="car3" src="../assets/car3.png">
        <img class="car4" src="../assets/car2.png">
      </div>
      <div class="curvy-pipe-holder">
        <img class="curvy-pipe" [ngClass]="{'animation-none':isSafari}" src="../assets/curvy-pipe.png">
        <img class="pink-pipe" [ngClass]="{'animation-none':isSafari}" src="../assets/pink-pipe.png">
      </div>
      <img class="knob" src="../assets/machine-knob.png">
      <img class="meter-needle" src="../assets/meter-needle.png">
      <div class="gray-fill-holder">
        <img class="gray-fill gray-fill1" src="../assets/gray-fill.png">
        <img class="gray-fill gray-fill2" src="../assets/gray-fill.png">
        <img class="gray-fill gray-fill3" src="../assets/gray-fill.png">
      </div>
      <img class="cloud-up-left" src="../assets/big-cloud.png">
      <img class="cloud-up-center" src="../assets/small-cloud.png">
      <img class="cloud-up-right" src="../assets/small-cloud.png">
      <img class="cloud-up-right2" src="../assets/med-cloud.png">
      <img class="cloud-down-right" src="../assets/small-cloud.png">
      <img class="cloud-down-center" src="../assets/med-cloud.png">
      <img class="cloud-down-center2" src="../assets/small-cloud.png">
      <div class="boat-holder1">
        <img class="boat-left" src="../assets/boat1.png">
      </div>
      <div class="boat-holder2">
        <img class="boat-center" src="../assets/boat2.png">
      </div>
      <div class="boat-holder3">
        <img class="boat-right" src="../assets/boat3.png">
      </div>
      <div class="light-flash red-flash"></div>
      <div class="light-flash yellow-flash"></div>
      <img class="red-button" src="../assets/red-button.png">
      <img class="yellow-button" src="../assets/yellow-button.png">
      <img class="machine-knob-red" src="../assets/machine-knob-red.png">
      <img class="machine-knob-yellow" src="../assets/machine-knob-yellow.png">
      <img class="machine-knob-gray" src="../assets/machine-knob-gray.png">
      <img class="analyzing" src="../assets/analyzing.png">
      <img class="screen-icon screen-icon1" src="../assets/screen-icon1.png">
      <img class="screen-icon screen-icon2" src="../assets/screen-icon2.png">
      <img class="screen-icon screen-icon3" src="../assets/screen-icon3.png">
      <img class="screen-icon screen-icon4" src="../assets/screen-icon4.png">
      <img class="screen-icon screen-icon5" src="../assets/screen-icon5.png">
      <div class="static-holder">
        <img class="static" src="../assets/static.png">
      </div>
      <img class="top-gear top-gear1" src="../assets/top-gear.png">
      <img class="top-gear top-gear2" src="../assets/top-gear.png">
      <img class="top-gear top-gear3" src="../assets/top-gear.png">
      <img class="top-gear top-gear4" src="../assets/top-gear.png">
      <img class="top-gear top-gear5" src="../assets/top-gear.png">
      <img class="top-gear top-gear6" src="../assets/top-gear.png">
      <img class="top-gear top-gear7" src="../assets/top-gear.png">
      <img class="top-gear top-gear8" src="../assets/top-gear.png">
      <img class="top-gear top-gear9" src="../assets/top-gear.png">
      <img class="top-gear top-gear10" src="../assets/top-gear.png">
      <img class="top-gear top-gear11" src="../assets/top-gear.png">
      <img class="top-gear top-gear12" src="../assets/top-gear.png">
      <img class="top-gear top-gear13" src="../assets/top-gear.png">
      <img class="top-gear top-gear14" src="../assets/top-gear.png">
      <img class="top-gear top-gear15" src="../assets/top-gear.png">
      <img class="top-gear top-gear16" src="../assets/top-gear.png">
      <div class="top-coin-holder">
        <img class="top-coin top-coin1" src="../assets/top-coin.png">
        <img [ngClass]="{'display-none':isSafari}" [ngClass]="{'display-none':isMobileOrTablet}" class="top-coin top-coin2" src="../assets/top-coin.png">
        <img [ngClass]="{'display-none':isSafari}" [ngClass]="{'display-none':isMobileOrTablet}" class="top-coin top-coin3" src="../assets/top-coin.png">
        <img [ngClass]="{'display-none':isSafari}" [ngClass]="{'display-none':isMobileOrTablet}" class="top-coin top-coin4" src="../assets/top-coin.png">
        <img class="top-coin top-coin5" src="../assets/top-coin.png">
        <img [ngClass]="{'display-none':isSafari}" [ngClass]="{'display-none':isMobileOrTablet}" class="top-coin top-coin6" src="../assets/top-coin.png">
        <img [ngClass]="{'display-none':isSafari}" [ngClass]="{'display-none':isMobileOrTablet}" class="top-coin top-coin7" src="../assets/top-coin.png">
        <img [ngClass]="{'display-none':isSafari}" [ngClass]="{'display-none':isMobileOrTablet}" class="top-coin top-coin8" src="../assets/top-coin.png">
        <img class="top-coin top-coin9" src="../assets/top-coin.png">
      </div>
      <div class="dynamic-headline dynamic-headline-big">
        <h1>
          <a href="" class="typewrite" data-period="2000" data-type='[ "Launch A Decentralized Web Application       ", "Easily Integrate A Fast Decentralized Database       ", "The Future Of The Web Is Decentralized       ", "Enhanced Security For Your Applications       ", "Launch Your Very Own Dapp In Minutes       "]'>
            <span class="wrap"></span>
          </a>
        </h1>
        <br>
        <p>Clicktool is a platform that will provide you with all the tools you need to build fully decentralized applications.</p>
      </div>
    </div>
  </div>

  <div class="dynamic-headline dynamic-headline-mobile">
    <h1>
      <a href="" class="typewrite" data-period="2000" data-type='[ "Launch A Decentralized Web Application       ", "Easily Integrate A Fast Decentralized Database       ", "The Future Of The Web Is Decentralized       ", "Enhanced Security For Your Applications       ", "Launch Your Very Own Dapp In Minutes       "]'>
        <span class="wrap"></span>
      </a>
    </h1>
    <br>
    <p>Clicktool is a platform that will provide you with all the tools you need to build fully decentralized applications.</p>
  </div>

  <!-- Countdown Section -->
  <div class="countdown">
    <img class="countdown-right" src="../assets/countdown-right.png">
    <img class="countdown-left" src="../assets/countdown-left.png">
    <img class="countdown-wires" src="../assets/countdown-wires.png">
    <img class="countdown-handle" src="../assets/countdown-handle.png">
    <img class="countdown-gear countdown-gear1" src="../assets/countdown-gear.png">
    <img class="countdown-gear countdown-gear2" src="../assets/countdown-gear.png">
    <img class="countdown-gear countdown-gear3" src="../assets/countdown-gear.png">
    <img class="countdown-gear countdown-gear4" src="../assets/countdown-gear.png">
    <h2>UNTIL<br>LAUNCH</h2>
    <div class="countdown-btn countdown-btn-left"></div>
    <div class="countdown-btn countdown-btn-middle"></div>
    <div class="countdown-btn countdown-btn-right"></div>
    <div class="countdown-chart">
      <img src="../assets/countdown-chart.png">
      <img src="../assets/countdown-chart.png">
    </div>
<!--     <img src="../assets/Countdown-timer_1050x.gif" class="count-machine">
    <img src="../assets/Countdown-timer_1050x.gif" class="count-machine-tablet1">
    <img src="../assets/Countdown-timer_1050x.gif" class="count-machine-tablet2">
    <img src="../assets/3_Timer_Mobile_900x.gif" class="count-machine-mobile"> -->
    <div class="timer-div" id="day-div">
      <p id="days"></p>
      <p class="timer-text">Days</p>
    </div>
    <div class="timer-div" id="hour-div">
      <p id="hours"></p>
      <p class="timer-text">Hours</p>
    </div>
    <div class="timer-div" id="minute-div">
      <p id="minutes"></p>
      <p class="timer-text">Minutes</p>
    </div>
    <div class="timer-div" id="second-div">
      <p id="seconds"></p>
      <p class="timer-text">Seconds</p>
    </div>
  </div>

  <div style="width: 100vw; height: 10px; background-color: #2cb8d1; margin-top: 70px;"></div>

  <div class="hidden-md hidden-lg hidden-xl">
    <br>
    <p style="padding: 10px;">The Clicktool team has been hard at work building software for over a year. We're working hard to develop the next step in the evolution of the web: Decentralization. Our aim is to help you easily build web applications that have no downtime, no censorship and no third party interference.</p>
    <br>
  </div>

  <div class="container-fluid about-container hidden-xs hidden-sm"><!-- About Section -->
    <div class="row">
      <div class="container wrench-container hidden-md hidden-lg hidden-xl">
          <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <img class="wrench" src="../assets/wrench.png">
            <img class="multigray-circle" src="../assets/gray-circle.png">
          </div>
        </div>
      <div class="col-md-7">
        <div class="about">
<!--           <img id="yellow-gear" src="../assets/yellow-gear.png">
          <img id="pink-gear" class="hidden-xs hidden-sm" src="../assets/pink-gear.png"> -->
          <!-- <img id="whitelines1" class="white-lines" src="../assets/white-lines.png">
          <img id="whitelines2" class="white-lines" src="../assets/white-lines.png"> -->
          <h2 class="title">About Clicktool</h2>
          <br>
          <br>
          <p>The Clicktool team has been hard at work building software for over a year. We're working hard to develop the next step in the evolution of the web: Decentralization. Our aim is to help you easily build web applications that have no downtime, no censorship and no third party interference. </p>
          <br>
          <a href="" class="btn btn-info read-more">Read More</a>
        </div>
      </div>
      <div class="col-md-5 hidden-xs hidden-sm">
        <div class="container wrench-container">
          <img class="wrench" src="../assets/wrench.png">
          <img class="multigray-circle" src="../assets/gray-circle.png">
        </div>
      </div>
    </div>
  </div>

  <!-- Second Major Benefit -->
  <div class="container-fluid second-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <h3>OVER THE NEXT DECADE, THE INTERNET WILL BECOME INCREASINGLY DECENTRALIZED. CLICKTOOL IS LEADING THAT CHANGE. </h3>
            <a href="#" class="launch-modal" data-modal-id="modal-video1">
              <div class="watch-video">
                <h3><i class="fa fa-play-circle"></i>&nbsp;&nbsp;</h3>
                <h5>Watch Video</h5>
              </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6">
          <p>Clicktool aims to provide easy access to build next generation web applications. We are focused on making it easy for anyone to build their Dapp. Side effects may include: increased security, lower costs, higher speed, no downtime... and a lot more.<br /><br />Our motto is: the customer comes first. We are focused on building easy to use interfaces that will help our users achieve the previously impossible without any effort.</p>
        </div>
      </div>
    </div>
    <!-- Video Modal -->
    <div class="modal fade modal-video-div" id="modal-video1" tabindex="-1" role="dialog" aria-labelledby="modal-video-label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="document.getElementByClass('video-frame').pause();">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="modal-video">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe  src="" id="video-frame1" class="video-frame embed-responsive-item" width="420" height="315" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid bonus-section"><!-- Bonus Section -->
    <img class="gray-gear" id="gray-gear1" src="../assets/gray-gear1.png">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center">
            <h2 class="title"><br />The most Comprehensive Bonus Structure available in the Token Sale ecosphere</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="videdes bonus-vid">
          <img class="img-responsive" src="../assets/vide.png" />
          <span>
            <img class="img-responsive" src="../assets/vidicon.png" />
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="experience-container container"><!-- Experience Section -->
    <img class="gray-gear hidden-xs hidden-sm" id="gray-gear2" src="../assets/gray-gear1.png">
    <br>
    <h2 class="text-center title blue">OUR EXPERIENCE IN THIS SPACE</h2>
    <div class="info-row">
      <img class="info-icon" src="../assets/icons-300x/ClickTool_Icons_Current Price.png">
      <div class="info-text blue">
        <br>
        <h4>INNOVATION</h4>
        <p>An exciting business opportunity should come with equally exciting rewards. Early adopters can earn up to a 500% bonus based on the final COIN value should we reach our 300,000,000 COIN hardcap during our planned Token Sale event.</p>
        <br>
      </div>
    </div>
    <div class="info-row">
      <img class="info-icon hidden-md hidden-lg hidden-xl" src="../assets/icons-300x/ClickTool_Icons_Contributors.png">
      <div class="info-text blue">
        <br>
        <h4>CLIENT CENTRIC</h4>
        <p>The CoinMetro Token Sale events are unique as they offer tiered bonuses which include not only an increasing token price but also lifetime discounts at both CoinMetro and FXPIG, a commitment from us to support our tokens liquidity and future value, as well as access to future pre-pre-Token sale events.</p>
        <br>
      </div>
      <img class="info-icon hidden-xs hidden-sm" src="../assets/icons-300x/ClickTool_Icons_Contributors.png">
    </div>
    <div class="info-row">
      <img class="info-icon" src="../assets/icons-300x/Icons_pixel-13.png">
      <div class="info-text blue">
        <br>
        <h4>SIMPLIFYING</h4>
        <p>Pre-Token Sale pricing will start at 0.03 EUR. The price will increase by 0.02 EUR after every 12.5Mth COIN is sold. The hardcap is set to 50M. Token Sale pricing will start at 0.11 EUR (should the pre-Token Sale sell out) and increase by 0.01 EUR at each 50M softcap. The Token Sale hardcap is set to 300M (including the 50M from the Pre-Token Sale). The final COIN price during the last softcap of the main Token Sale would be pegged at 0.15 EUR cents per COIN.</p>
        <br>
      </div>
    </div>
  </div>

  <!-- Icon Section -->
  <img src="../assets/Background_4-top.png" class="top-divider">
  <div class="container-fluid featuresdes">
    <div class="benefit-row">
      <div class="benefit-div">
        <img src="../assets/icons-300x/ClickTool_Icons_Buy and Sell.png">
        <div class="featcont">
          <h4>Buy and Sell Crypto</h4>
          <h5><b>Buy Bitcoin with Ease</b></h5>
          <br>
          <p>Think a blockchain is an accessory used by some 90’s rap icon to hang a hood ornament around his neck? No problem. Open an Account, fund that account, click to buy and get the best price available.</p>
        </div>
      </div>
      <div class="benefit-div">
        <img src="../assets/icons-300x/ClickTool_Icons_With Drawals.png">
        <div class="featcont">
          <h4>Instant Withdrawals</h4>
          <h5><b>A Debit Card for the Crypto Generation</b></h5>
          <br>
          <p>Access to your money now, no approvals, no waiting. What a unique idea. Instant access to cash from your Crypto balances. Easy, fast, and convenient. No banking license needed.</p>
        </div>
      </div>
      <div class="benefit-div">
        <img src="../assets/icons-300x/ClickTool_Icons_Exchange.png">
        <div class="featcont">
          <h4>Decentralized Exchange</h4>
          <h5><b>Institutional grade order matching for the crypto space</b></h5>
          <br>
          <p>Built from experience, complex on the inside, easy and intuitive on the outside. Trading is serious business and the business of trading is not something you want to leave in the hands of inferior technology.</p>
        </div>
      </div>
      <div class="benefit-div">
        <img src="../assets/icons-300x/ClickTool_Icons_Give and Take.png">
        <div class="featcont">
          <h4>The Give and Take</h4>
          <h5><b>Crypto lending made Easy. Lend, Collect, Repeat</b></h5>
          <br>
          <p>Want to earn interest on your CryptoCurrency Balances? Post an Offer, lend some margin, make some interest. Looking to trade on higher leverage? Click Accept. Simple and efficient.</p>
        </div>
      </div>
      <div class="benefit-div">
        <img src="../assets/icons-300x/ClickTool_Icons_Trading.png">
        <div class="featcont">
          <h4>High Leverage OTC Crypto Trading</h4>
          <h5><b>Crypto meets Forex</b></h5>
          <br>
          <p>Trade the ‘majors’ at 1:50 leverage. We offer the highest OTC Crypto Leverage in the industry on OTC non-deliverable digital assets.</p>
        </div>
      </div>
      <div class="benefit-div">
        <img src="../assets/icons-300x/ClickTool_Icons_Boading.png">
        <div class="featcont">
          <h4>The Crypto ETF Board</h4>
          <h5><b>Diversification in the blockchain era</b></h5>
          <br>
          <p>Allowing investors to diversify their CryptoCurrency Portfolios in a few easy clicks. Think Mutual Fund meets ETF meets digital assets meets automated portfolio management.</p>
        </div>
      </div>
      <div class="benefit-div">
        <img src="../assets/icons-300x/ClickTool_Icons_Asset Management.png">
        <div class="featcont">
          <h4>Tokenized Asset Management</h4>
          <h5><b>Tokenize your investment portfolio</b></h5>
          <br>
          <p>Managers create TAM tokens governed by smart contracts on the Ethereum blockchain. Investors purchase these tokens, the funds are placed into trade, and the profits are shared based on the underlying smart contract.</p>
        </div>
      </div>
      <div class="benefit-div">
        <img src="../assets/icons-300x/ClickTool_Icons_Vetted Marketplace.png">
        <div class="featcont">
          <h4>Vetted ICO Marketplace</h4>
          <h5><b>The missing piece of the ICO Ecosystem</b></h5>
          <br>
          <p>Launching an ICO? Our powerful ICO Express Platform means a transparent and secure funding round for your project and it means your token will be tradable and LIQUID immediately after your ICO ends inside our main exchange.</p>
        </div>
      </div>
    </div>
  </div>


<app-timelime></app-timelime>

  <!-- Chart Section -->
  <br>
  <br>
  <br>
  <div class="container chart-container">
    <h1>The Distribution Plan</h1>
    <h3>Transparency from Day One</h3>
    <div class="chart-holder row">
      <div class="col-sm-12 col-md-5">
        <h4>Token Sale Contributions Breakdown</h4>
        <br>
        <div class="chart1">
          <img class="chart-gear" id="chart1a" src="../assets/1_400x_Cog_3.png"><!-- Large Orange Gear -->
          <img class="chart-gear" id="chart1b" src="../assets/1_400x_Cog_7.png"><!-- Large Turqoise Gear -->
          <img class="chart-gear" id="chart1c" src="../assets/1_400x_Cog_4.png"><!-- Yellow Gear -->
          <img class="chart-gear" id="chart1d" src="../assets/1_400x_Cog_2.png"><!-- Medium Light Blue Gear -->
          <img class="chart-gear" id="chart1e" src="../assets/1_400x_Cog_1.png"><!-- Medium Dark Blue Gear -->
          <img class="chart-gear" id="chart1f" src="../assets/1_400x_Cog_9.png"><!-- Small Dark Blue Gear -->
          <img class="chart-gear" id="chart1g" src="../assets/1_400x_Cog_6.png"><!-- Small Dark Blue Gear -->
          <img class="chart-gear" id="chart1h" src="../assets/1_400x_Cog_5.png"><!-- Medium Dark Blue Gear -->
          <img class="chart-gear" id="chart1i" src="../assets/1_400x_Cog_8.png"><!-- Medium Blue Gear -->
          <img class="chart-gear" id="chart1j" src="../assets/1_400x_Cog_10.png"><!-- Medium Orange Gear -->
          <img class="chart-text1a" src="../assets/40percent.png">
          <img class="chart-text1b" src="../assets/30percent.png">
          <img class="chart-text1c" src="../assets/20percent.png">
          <img class="chart-text1d" src="../assets/10percent.png">
        </div>
        <div id="legend1" class="legend">
          <h4 id="marketing"><span><span>O </span>Marketing</span><span>40%</span></h4>
          <h4 id="development"><span><span>O </span>Development</span><span>30%</span></h4>
          <h4 id="acquisition"><span><span>O </span>Acquisition</span><span>20%</span></h4>
          <h4 id="legal"><span><span>O </span>Legal</span><span>10%</span></h4>
          <h4>&nbsp;</h4>
        </div>
      </div>
      <div class="col-md-2 hidden-sm hidden-xs">
        <div class="chart-line"></div>
      </div>
      <div class="col-sm-12 col-md-5">
        <h4>Token Distribution Breakdown</h4>
        <br>
        <div class="chart2">
          <img class="chart-gear" id="chart2a" src="../assets/2_400x_Cog_6.png"><!-- Large Yellow Gear -->
          <img class="chart-gear" id="chart2b" src="../assets/2_400x_Cog_1.png"><!-- Large Turqoise Gear -->
          <img class="chart-gear" id="chart2c" src="../assets/2_400x_Cog_7.png"><!-- Large Dark Blue Gear -->
          <img class="chart-gear" id="chart2d" src="../assets/2_400x_Cog_8.png"><!-- Labelled Orange Gear -->
          <img class="chart-gear" id="chart2e" src="../assets/2_400x_Cog_2.png"><!-- Medium Light Blue Gear -->
          <img class="chart-gear" id="chart2f" src="../assets/2_400x_Cog_4.png"><!-- Unlabelled Orange Gear -->
          <img class="chart-gear" id="chart2g" src="../assets/2_400x_Cog_3.png"><!-- Small Light Blue Gear -->
          <img class="chart-gear" id="chart2h" src="../assets/2_400x_Cog_10.png"><!-- Medium Yellow Gear -->
          <img class="chart-gear" id="chart2i" src="../assets/2_400x_Cog_5.png"><!-- Medium Dark Blue Gear -->
          <img class="chart-gear" id="chart2j" src="../assets/2_400x_Cog_9.png"><!-- Small Dark Blue Gear -->
          <img class="chart-gear" id="chart2k" src="../assets/1_400x_Cog_1.png"><!-- Smallest Dark Blue Gear -->
          <img class="chart-gear" id="chart2l" src="../assets/1_400x_Cog_1.png"><!-- Smaller Dark Blue Gear -->
          <img class="chart-gear" id="chart2m" src="../assets/1_400x_Cog_4.png"><!-- Small Yellow Gear -->
          <img class="chart-text2a" src="../assets/50percent.png">
          <img class="chart-text2b" src="../assets/20percent.png">
          <img class="chart-text2c" src="../assets/12percent.png">
          <img class="chart-text2d" src="../assets/10percent.png">
          <img class="chart-text2e" src="../assets/8percent.png">
        </div>
        <div id="legend2" class="legend">
          <h4 id="ico"><span><span>O </span>ICO</span><span>50%</span></h4>
          <h4 id="liquidity"><span><span>O </span>Liquidity</span><span>20%</span></h4>
          <h4 id="distribution"><span><span>O </span>Distribution</span><span>12%</span></h4>
          <h4 id="presale"><span><span>O </span>Presale</span><span>10%</span></h4>
          <h4 id="community"><span><span>O </span>Community</span><span>8%</span></h4>
        </div>
      </div>
    </div>
  </div>

  <!-- Video Section -->
  <div class="container" style="overflow: hidden;">
    <div class="vid-container">
      <div class="vid-text">
        <h3>A financial exchange ecosystem that will drive the future of blockchain innovation</h3>
        <a href="#" class="launch-modal" data-modal-id="modal-video2">
          <div class="watch-video">
            <h3><i class="fa fa-play-circle"></i>&nbsp;&nbsp;</h3>
            <h5>Watch Video</h5>
          </div>
        </a>
      </div>
      <img class="vid-background" src="../assets/vid-background.png">
      <img class="vid-components" src="../assets/vid-components.png">
      <img class="vid-screen" src="../assets/vid-screen.png">
      <div class="electricity-holder">
        <img class="vid-electricity" [ngClass]="{'display-none':isIE}" src="../assets/vid-electricity.png">
        <img class="vid-electricity2" [ngClass]="{'display-none':isIE}" src="../assets/vid-electricity.png">
      </div>
      <img class="vid-lines" src="../assets/vid-lines.png">
      <img class="vid-cloud-left" src="../assets/med-cloud.png">
      <img class="vid-cloud-center" src="../assets/med-cloud.png">
      <img class="vid-cloud-right" src="../assets/big-cloud.png">
      <img class="vid-gear-up-light-blue" src="../assets/gear-up-light-blue.png">
      <div class="small-red-gear-holder">
        <img id="vid-gear-small-red" [ngClass]="{'animation-none':isMobileOrTablet}" src="../assets/gear-small-red.png">
      </div>
      <div class="left-gear-holder">
        <img id="vid-gear-small-turquoise" [ngClass]="{'animation-none':isMobileOrTablet}" src="../assets/gear-small-turquoise.png">
        <img id="vid-gear-left-yellow" [ngClass]="{'animation-none':isMobileOrTablet}" src="../assets/gear-left-yellow.png">
        <img id="vid-gear-down-light-blue" [ngClass]="{'animation-none':isMobileOrTablet}" src="../assets/gear-down-light-blue.png">
      </div>
      <div class="big-red-gear-holder">
        <img id="vid-gear-big-red" [ngClass]="{'animation-none':isMobileOrTablet}" src="../assets/gear-big-red.png">
      </div>
      <img class="vid-gear-big-turquoise" src="../assets/gear-big-turquoise.png">
      <img class="vid-gear-right-yellow" src="../assets/gear-right-yellow.png">
      <img class="vid-gear-blue" src="../assets/gear-blue.png">
    </div>
  </div>

  <div class="modal fade modal-video-div" id="modal-video2" tabindex="-1" role="dialog" aria-labelledby="modal-video-label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="modal-video">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe  src="" id="video-frame2" class="video-frame embed-responsive-item" width="420" height="315" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- Team Section -->
  <div class="container team-section">
    <h2 class="title">MEET OUR TEAM</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="team-div">
          <div class="employee">
            <img class="avatar-gear" src="../assets/avatar-gear.png">
            <img src="../assets/carlos-800.png" alt="Avatar">
            <h3><br />Carlos Cruz</h3>
            <h5>CEO</h5>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="team-div">
          <div class="employee">
            <img class="avatar-gear" src="../assets/avatar-gear.png">
            <img src="../assets/blake-800.png" alt="Avatar">
            <h3><br />Blake Corbin</h3>
            <h5>Accountant</h5>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="team-div">
          <div class="employee">
            <img class="avatar-gear" src="../assets/avatar-gear.png">
            <img src="../assets/irena-800.png" alt="Avatar">
            <h3><br />Irina Cruz</h3>
            <h5>Financial Advisor</h5>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="team-div">
          <div class="employee">
            <img class="avatar-gear" src="../assets/avatar-gear.png">
            <img src="../assets/kristy-800.png" alt="Avatar">
            <h3><br />Kristy Ly</h3>
            <h5>Marketing</h5>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="team-div">
          <div class="employee">
            <img class="avatar-gear" src="../assets/avatar-gear.png">
            <img src="../assets/bryant-800.png" alt="Avatar">
            <h3><br />Bryant Higa</h3>
            <h5>Marketing</h5>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="team-div">
          <div class="employee">
            <img class="avatar-gear" src="../assets/avatar-gear.png">
            <img src="../assets/jamie-800.png" alt="Avatar">
            <h3><br />Yu-Jen Su</h3>
            <h5>Software Developer</h5>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="team-div">
          <div class="employee">
            <img class="avatar-gear" src="../assets/avatar-gear.png">
            <img src="../assets/charlie-800.png" alt="Avatar">
            <h3><br />Charlie Merrill</h3>
            <h5>Software Developer</h5>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="team-div">
          <div class="employee">
            <img class="avatar-gear" src="../assets/avatar-gear.png">
            <img src="../assets/avatar.png" alt="Avatar">
            <h3><br />Chris Kendrick</h3>
            <h5>Software Developer</h5>
          </div>
        </div>
      </div>
      <div class="col-md-offset-3 col-xs-12 col-sm-4 col-md-3">
        <div class="team-div">
          <div class="employee">
            <img class="avatar-gear" src="../assets/avatar-gear.png">
            <img src="../assets/jurick-800.png" alt="Avatar">
            <h3><br />Jurick Joling</h3>
            <h5>Software Developer</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-offset-4 col-md-offset-0 col-lg-offset-0 col-xl-offset-0 col-xs-12 col-sm-4 col-md-3">
        <div class="team-div">
          <div class="employee">
            <img class="avatar-gear" src="../assets/avatar-gear.png">
            <img src="../assets/cammie-800.png" alt="Avatar">
            <h3><br />Cammie Njue</h3>
            <h5>Executive Assistant</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Call to Action -->
  <div class="action-container">
    <div class="clicktool-city">
      <img class="city-background" src="../assets/city-background.png">
      <img class="city-cloud-medium city-cloud-top-left1" src="../assets/city-cloud-medium.png">
      <img class="city-cloud-medium city-cloud-top-left2" src="../assets/city-cloud-medium.png">
      <img class="city-cloud-lg city-cloud-top-left3" src="../assets/city-cloud-lg.png">
      <img class="city-cloud-medium city-cloud-top-center" src="../assets/city-cloud-medium.png">
      <img class="city-cloud-lg city-cloud-top-right1" src="../assets/city-cloud-lg.png">
      <img class="city-cloud-medium city-cloud-top-right2" src="../assets/city-cloud-medium.png">
      <img class="city-cloud-medium city-cloud-top-right3" src="../assets/city-cloud-medium.png">
      <img class="city-cloud-medium city-cloud-bottom-right" src="../assets/city-cloud-medium.png">
      <img class="city-cloud-medium city-cloud-bottom-left1" src="../assets/city-cloud-medium.png">
      <img class="city-cloud-bottom-left2" src="../assets/city-cloud-sm.png">
      <img class="city-bird city-bird-left" src="../assets/city-bird.png">
      <img class="city-bird city-bird-right" src="../assets/city-bird.png">
      <div class="city-boat-holder-left">
        <img src="../assets/city-boat1.png">
      </div>
      <div class="city-boat-holder-center">
        <img src="../assets/city-boat2.png">
      </div>
      <div class="city-boat-holder-right">
        <img src="../assets/city-boat3.png">
      </div>
      <img class="windmill" src="../assets/windmill.png">
      <div class="city-train-holder">
        <img src="../assets/city-train.png">
      </div>
      <div class="city-car-holder-top-left">
        <img src="../assets/city-car1.png">
      </div>
      <div class="city-car-holder-top-right">
        <img src="../assets/city-car2.png">
      </div>
      <div class="city-car-holder-bottom">
        <img src="../assets/city-car3.png">
        <img src="../assets/city-car4.png">
      </div>
      <img class="city-logo" src="../assets/city-logo.png">
      <img class="city-logo2" src="../assets/city-logo2.png">
      <img class="city-gear-bottom-right1" src="../assets/city-gear-right-turquoise.png">
      <div class="city-gear-bottom-right2">
        <img id="city-gear-bottom-right-two" [ngClass]="{'animation-none':isMobileOrTablet}" src="../assets/gear-small-red.png">
      </div>
      <div class="city-gear-bottom-left1">
        <img id="city-gear-bottom-left-one" [ngClass]="{'animation-none':isMobileOrTablet}" src="../assets/gear-big-red.png">
      </div>
      <div class="city-gear-top-left">
        <img id="city-gear-top-left-img" [ngClass]="{'animation-none':isMobileOrTablet}" src="../assets/city-gear-top-yellow.png">
      </div>
      <div class="city-gear-bottom-left2">
        <img id="city-gear-bottom-left2a" [ngClass]="{'animation-none':isMobileOrTablet}" src="../assets/city-gear-left-turquoise.png">
        <img id="city-gear-bottom-left2b" [ngClass]="{'animation-none':isMobileOrTablet}" src="../assets/city-gear-bottom-left-yellow.png">
        <img id="city-gear-bottom-left2c" [ngClass]="{'animation-none':isMobileOrTablet}" src="../assets/city-gear-bottom-left-lightblue.png">
      </div>
      <div class="city-gear-middle">
        <img id="city-gear-middle-one" [ngClass]="{'animation-none':isMobileOrTablet}" src="../assets/city-gear-middle-white.png">
        <img id="city-gear-middle-two" [ngClass]="{'animation-none':isMobileOrTablet}" src="../assets/city-gear-middle-blue.png">
      </div>
      <div class="city-gear-top-center">
        <img id="city-gear-top-center-one" [ngClass]="{'animation-none':isMobileOrTablet}" src="../assets/city-gear-gray.png">
        <img id="city-gear-top-center-two" [ngClass]="{'animation-none':isMobileOrTablet}" src="../assets/city-gear-top-right-yellow.png">
        <img id="city-gear-top-center-three" [ngClass]="{'animation-none':isMobileOrTablet}" src="../assets/city-gear-top-blue.png">
      </div>
    </div>
    <div class="indresgsec">
      <h1>Don't be a Clickfool, <br />Try Clicktool!</h1>
      <br>
      <p>While crypto may be what powers this train, feedback and insight from our base is what keeps us on track. We want to hear from you even if it’s just to say hello. Help us change this industry for the better, join the movement, let your voice be heard.</p>
      <div class="social-icons">
        <p><i class="fab fa-linkedin"></i></p>
        <p><i class="fab fa-facebook-square"></i></p>
        <p><i class="fab fa-twitter-square"></i></p>
        <p><i class="fab fa-google-plus-square"></i></p>
        <p><i class="fab fa-reddit-square"></i></p>
      </div>
    </div>
<!--     <div class="row">
      <div class="col-xs-12 col-sm-6">

      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="hidden-xs">
          <br class="hidden-sm">
          <br class="hidden-sm">
          <br>
          <br>
          <br>
        </div>

      </div>
    </div> -->
  </div>

  <br>
  <br>
  <img src="../assets/Background_3-top.png" class="top-divider">
  <div class="container-fluid sign-up">
    <h1>Get The Latest News On Our ICO</h1>
    <p>Sign up to our newsletter to receive the latest news. Our email subscribers may receive early discount, special bonuses and a behind the scenes look of our company. Sign up below to stay updated.</p>
    <div class="action-button">
      <h3><i class="fa fa-check-circle"></i>&nbsp;&nbsp;</h3>
      <h5>Sign Up</h5>
      <div class="shine"></div>
    </div>
  </div>


