  <h3 *ngIf="isIE" class="ie-warning">We want our users to have the best experience possible. For optimal performance, we recommend using Google Chrome or Mozilla Firefox as your browser.</h3>

  <app-homepage-header></app-homepage-header>
  <app-sidebar-icon></app-sidebar-icon>
  <div class="container-fluid" style="overflow: hidden;" >

    <div id="top-design" class="top-design" style="opacity: 0;">
      <img id="top-ani" class="top-ani" src="../assets/top-background.png" alt="clicktool machine background">
      <img class="blue-logo-gear" src="../assets/blue-logo-gear.png" alt="logo gear">
      <img class="top-design-logo" src="../assets/top-design-logo.png" alt="clicktool logo">
      <img class="blue-button-stay" src="../assets/blue-buttons1.png" alt="blue button">
      <img class="blue-buttons blue-buttons1" src="../assets/blue-buttons1.png" alt="blue button">
      <img class="blue-buttons blue-buttons2" src="../assets/blue-buttons2.png" alt="blue button">
      <img class="blue-buttons blue-buttons3" src="../assets/blue-buttons3.png" alt="blue button">
      <img class="blue-buttons blue-buttons4" src="../assets/blue-buttons4.png" alt="blue button">
      <img class="blue-buttons blue-buttons5" src="../assets/blue-buttons2.png" alt="blue button">
      <img class="exclamation" src="../assets/exclamation.png" alt="exclamation point">
      <img class="blue-slider blue-slider1" src="../assets/blue-slider.png" alt="blue slider">
      <img class="blue-slider blue-slider2" src="../assets/blue-slider.png" alt="blue slider">
      <img class="blue-slider blue-slider3" src="../assets/blue-slider.png" alt="blue slider">
      <img class="stack" src="../assets/stack.png" alt="machine stack">
      <div class="arrow-drop">
        <img class="yellow-arrow" src="../assets/yellow-arrow.png" alt="yellow arrow">
      </div>
      <div class="train-holder" [ngClass]="{'display-none':isSafari}" >
        <img class="top-train" src="../assets/top-train.png" alt="train">
      </div>
      <div class="car-holder1" [ngClass]="{'display-none':isSafari}" >
        <img class="car1" src="../assets/car1.png" alt="car">
      </div>
      <div class="car-holder2" [ngClass]="{'display-none':isSafari}" >
        <img class="car2" src="../assets/car2.png" alt="car">
      </div>
      <div class="car-holder3" [ngClass]="{'display-none':isSafari}" >
        <img class="car3" src="../assets/car3.png" alt="car">
        <img class="car4" src="../assets/car2.png" alt="car">
      </div>
      <div class="curvy-pipe-holder">
        <img class="curvy-pipe" [ngClass]="{'animation-none':isSafari}" src="../assets/curvy-pipe.png" alt="pipe">
        <img class="pink-pipe" [ngClass]="{'animation-none':isSafari}" src="../assets/pink-pipe.png" alt="pipe">
      </div>
      <img class="knob" src="../assets/machine-knob.png" alt="knob">
      <img class="meter-needle" src="../assets/meter-needle.png" alt="meter needle">
      <div class="gray-fill-holder">
        <img class="gray-fill gray-fill1" src="../assets/gray-fill.png" alt="gray">
        <img class="gray-fill gray-fill2" src="../assets/gray-fill.png" alt="gray">
        <img class="gray-fill gray-fill3" src="../assets/gray-fill.png" alt="gray">
      </div>
      <img class="cloud-up-left" src="../assets/big-cloud.png" alt="cloud">
      <img class="cloud-up-center" src="../assets/small-cloud.png" alt="cloud">
      <img class="cloud-up-right" src="../assets/small-cloud.png" alt="cloud">
      <img class="cloud-up-right2" src="../assets/med-cloud.png" alt="cloud">
      <img class="cloud-down-right" src="../assets/small-cloud.png" alt="cloud">
      <img class="cloud-down-center" src="../assets/med-cloud.png" alt="cloud">
      <img class="cloud-down-center2" src="../assets/small-cloud.png" alt="cloud">
      <div class="boat-holder1">
        <img class="boat-left" src="../assets/boat1.png" alt="boat">
      </div>
      <div class="boat-holder2">
        <img class="boat-center" src="../assets/boat2.png" alt="boat">
      </div>
      <div class="boat-holder3">
        <img class="boat-right" src="../assets/boat3.png" alt="boat">
      </div>
      <div class="light-flash red-flash"></div>
      <div class="light-flash yellow-flash"></div>
      <img class="red-button" src="../assets/red-button.png" alt="red button">
      <img class="yellow-button" src="../assets/yellow-button.png" alt="yellow button">
      <img class="machine-knob-red" src="../assets/machine-knob-red.png" alt="red knob">
      <img class="machine-knob-yellow" src="../assets/machine-knob-yellow.png" alt="yellow knob">
      <img class="machine-knob-gray" src="../assets/machine-knob-gray.png" alt="gray knob">
      <img class="analyzing" src="../assets/analyzing.png">
      <img class="screen-icon screen-icon1" src="../assets/screen-icon1.png" alt="icon">
      <img class="screen-icon screen-icon2" src="../assets/screen-icon2.png" alt="icon">
      <img class="screen-icon screen-icon3" src="../assets/screen-icon3.png" alt="icon">
      <img class="screen-icon screen-icon4" src="../assets/screen-icon4.png" alt="icon">
      <img class="screen-icon screen-icon5" src="../assets/screen-icon5.png" alt="icon">
      <div class="static-holder">
        <img class="static" src="../assets/static.png" alt="static">
      </div>
      <img class="top-gear top-gear1" src="../assets/top-gear.png" alt="gear">
      <img class="top-gear top-gear2" src="../assets/top-gear.png" alt="gear">
      <img class="top-gear top-gear3" src="../assets/top-gear.png" alt="gear">
      <img class="top-gear top-gear4" src="../assets/top-gear.png" alt="gear">
      <img class="top-gear top-gear5" src="../assets/top-gear.png" alt="gear">
      <img class="top-gear top-gear6" src="../assets/top-gear.png" alt="gear">
      <img class="top-gear top-gear7" src="../assets/top-gear.png" alt="gear">
      <img class="top-gear top-gear8" src="../assets/top-gear.png" alt="gear">
      <img class="top-gear top-gear9" src="../assets/top-gear.png" alt="gear">
      <img class="top-gear top-gear10" src="../assets/top-gear.png" alt="gear">
      <img class="top-gear top-gear11" src="../assets/top-gear.png" alt="gear">
      <img class="top-gear top-gear12" src="../assets/top-gear.png" alt="gear">
      <img class="top-gear top-gear13" src="../assets/top-gear.png" alt="gear">
      <img class="top-gear top-gear14" src="../assets/top-gear.png" alt="gear">
      <img class="top-gear top-gear15" src="../assets/top-gear.png" alt="gear">
      <img class="top-gear top-gear16" src="../assets/top-gear.png" alt="gear">
      <div class="top-coin-holder">
        <img class="top-coin top-coin1" src="../assets/top-coin.png" alt="coin">
        <img [ngClass]="{'display-none' : isSafari || isMobileOrTablet}" class="top-coin top-coin2" src="../assets/top-coin.png" alt="coin">
        <img [ngClass]="{'display-none' : isSafari || isMobileOrTablet}" class="top-coin top-coin3" src="../assets/top-coin.png" alt="coin">
        <img [ngClass]="{'display-none' : isSafari || isMobileOrTablet}" class="top-coin top-coin4" src="../assets/top-coin.png" alt="coin">
        <img class="top-coin top-coin5" src="../assets/top-coin.png" alt="coin">
        <img [ngClass]="{'display-none' : isSafari || isMobileOrTablet}" class="top-coin top-coin6" src="../assets/top-coin.png" alt="coin">
        <img [ngClass]="{'display-none' : isSafari || isMobileOrTablet}" class="top-coin top-coin7" src="../assets/top-coin.png" alt="coin">
        <img [ngClass]="{'display-none' : isSafari || isMobileOrTablet}" class="top-coin top-coin8" src="../assets/top-coin.png" alt="coin">
        <img class="top-coin top-coin9" src="../assets/top-coin.png" alt="coin">
      </div>
      <div class="dynamic-headline dynamic-headline-big">
        <h1>
          <a href="" class="typewrite" data-period="2000" data-type='[ "Reshaping Advertising With Blockchain       ", "The First Decentralized Online Advertising Platform        ", "Marketing Analytics Made Easy       ", "Businesses Can Easily Track Their Marketing Dollars       ", "Making Online Advertising Simple And Secure       ", "The future of the web is decentralized       "]'>
            <span class="wrap"></span>
          </a>
        </h1>
        <br>
        <p>Clicktool is a first of it’s kind digital marketing tracking platform that redefines security, decentralized storage and ease of use. ICO coming soon!</p>
      </div>
    </div>
  </div>

  <div class="dynamic-headline dynamic-headline-mobile">
    <h1>
      <a href="" class="typewrite" data-period="2000" data-type='[ "Reshaping Advertising With Blockchain       ", "The First Decentralized Online Advertising Platform        ", "Marketing Analytics Made Easy       ", "Businesses Can Easily Track Their Marketing Dollars       ", "Making Online Advertising Simple And Secure       ", "The future of the web is decentralized       "]'>
        <span class="wrap"></span>
      </a>
    </h1>
    <br>
    <p>Clicktool is a platform that will provide you with all the tools you need to build fully decentralized applications.</p>
  </div>

  <!-- Countdown Section -->
  <div class="countdown">
    <img class="countdown-right" src="../assets/countdown-right.png" alt="countdown machine">
    <img class="countdown-left" src="../assets/countdown-left.png" alt="countdown machine">
    <img class="countdown-wires" src="../assets/countdown-wires.png" alt="wires">
    <img class="countdown-handle" src="../assets/countdown-handle.png" alt="handle">
    <img class="countdown-gear countdown-gear1" src="../assets/countdown-gear.png" alt="gear">
    <img class="countdown-gear countdown-gear2" src="../assets/countdown-gear.png" alt="gear">
    <img class="countdown-gear countdown-gear3" src="../assets/countdown-gear.png" alt="gear">
    <img class="countdown-gear countdown-gear4" src="../assets/countdown-gear.png" alt="gear">
    <h2>UNTIL<br>LAUNCH</h2>
    <div class="countdown-btn countdown-btn-left" alt="button"></div>
    <div class="countdown-btn countdown-btn-middle" alt="button"></div>
    <div class="countdown-btn countdown-btn-right" alt="button"></div>
    <div class="countdown-chart">
      <img src="../assets/countdown-chart.png" alt="chart">
      <img src="../assets/countdown-chart.png" alt="chart">
    </div>
<!--     <img src="../assets/Countdown-timer_1050x.gif" class="count-machine">
    <img src="../assets/Countdown-timer_1050x.gif" class="count-machine-tablet1">
    <img src="../assets/Countdown-timer_1050x.gif" class="count-machine-tablet2">
    <img src="../assets/3_Timer_Mobile_900x.gif" class="count-machine-mobile"> -->
    <div class="timer-div" id="day-div">
      <p id="days"></p>
      <p class="timer-text">Days</p>
    </div>
    <div class="timer-div" id="hour-div">
      <p id="hours"></p>
      <p class="timer-text">Hours</p>
    </div>
    <div class="timer-div" id="minute-div">
      <p id="minutes"></p>
      <p class="timer-text">Minutes</p>
    </div>
    <div class="timer-div" id="second-div">
      <p id="seconds"></p>
      <p class="timer-text">Seconds</p>
    </div>
  </div>

  <div style="width: 100vw; height: 10px; background-color: #2cb8d1; margin-top: 70px;"></div>

  <div class="hidden-md hidden-lg hidden-xl">
    <br>
    <p style="padding: 10px;">The Clicktool team is based in Santa Monica, California. Our core team consists of 12 members and quickly growing. We’ve been hard at work building our first working prototype which is now live in BETA and has satisfied paying customers. Click on the link below to view the Clicktool Tracker webpage.</p>
    <br>
  </div>

  <div class="container-fluid about-container hidden-xs hidden-sm"><!-- About Section -->
    <div class="row">
      <div class="container wrench-container hidden-md hidden-lg hidden-xl">
          <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <img class="wrench" src="../assets/wrench.png" alt="wrench">
            <img class="multigray-circle" src="../assets/gray-circle.png" alt="circle">
          </div>
        </div>
      <div class="col-md-7 col-md-offset-1">
        <div class="about">
<!--           <img id="yellow-gear" src="../assets/yellow-gear.png">
          <img id="pink-gear" class="hidden-xs hidden-sm" src="../assets/pink-gear.png"> -->
          <!-- <img id="whitelines1" class="white-lines" src="../assets/white-lines.png">
          <img id="whitelines2" class="white-lines" src="../assets/white-lines.png"> -->
          <h2 class="title">About Clicktool</h2>
          <br>
          <br>
          <p class="desc-txt">The Clicktool team is based in Santa Monica, California. Our core team consists of 12 members and quickly growing. We’ve been hard at work building our first working prototype which is now live in BETA and has satisfied paying customers. Click on the link below to view the Clicktool Tracker webpage.</p>
          <br>
          <a href="https://tracking.clicktool.com/" target="_blank" class="btn btn-info read-more">Visit Our Tracking Website</a>
        </div>
      </div>
      <div class="col-md-4 hidden-xs hidden-sm">
        <div class="wrench-container">
          <img class="wrench" src="../assets/wrench.png" alt="wrench">
          <img class="multigray-circle" src="../assets/gray-circle.png" alt="circle">
        </div>
      </div>
    </div>
  </div>

  <!-- Second Major Benefit -->
  <div class="container-fluid second-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <h3>THE FIRST ANALYTICS PLATFORM OF ITS KIND. OUR ANALYTICS PLATFORM KEEPS DATA WHERE IT BELONGS: IN THE HANDS OF THE OWNER. </h3>
            <a href="#" class="launch-modal" data-modal-id="modal-video1">
              <div class="watch-video">
                <h3><i class="fa fa-play-circle"></i>&nbsp;&nbsp;</h3>
                <h5>Watch Video</h5>
              </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6">
          <p class="desc-txt">Clicktool is a decentralized tracking platform that allows businesses to easily identify their most most valuable placements in order to maximize their online advertising campaigns.<br><br>Our goal is to help businesses easily achieve their marketing goals. We do that by providing them with cutting edge tools, helping them easily analyze their data, and by protecting their information in the blockchain. </p>
        </div>
      </div>
    </div>
    <!-- Video Modal -->
    <div class="modal fade modal-video-div" id="modal-video1" tabindex="-1" role="dialog" aria-labelledby="modal-video-label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="document.getElementByClass('video-frame').pause();">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="modal-video">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe  src="" id="video-frame1" class="video-frame embed-responsive-item" width="420" height="315" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid bonus-section"><!-- Bonus Section -->
    <img class="gray-gear" id="gray-gear1" src="../assets/gray-gear1.png" alt="gear">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center">
            <h2 class="title"><br />Worldwide Spending On Marketing Automation Software Will Hit $32 Billion This Year. </h2>
            <br>
            <p class="desc-txt">Clickcoin Gives You Access To Own A Piece Of This Market.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="videdes bonus-vid">
          <img class="img-responsive" src="../assets/vide.png" alt="video placeholder" />
          <span>
            <img class="img-responsive" src="../assets/vidicon.png" alt="video placeholder" />
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="experience-container container"><!-- Experience Section -->
    <img class="gray-gear hidden-xs hidden-sm" id="gray-gear2" src="../assets/gray-gear1.png" alt="gear">
    <br>
    <div class="text-center">
      <h2 class="title blue">THE FUTURE OF DIGITAL MARKETING IS HERE</h2>
    </div>
    <div class="info-row">
      <img class="info-icon" src="../assets/icons-300x/ClickTool_Icons_Current Price.png" alt="dollar icon">
      <div class="info-text blue">
        <br>
        <h4>ADVANCED TRAFFIC DISTRIBUTION STRATEGIES</h4>
        <p class="desc-txt">Clicktool’s platform allows users to run advanced A/B tests and test strategic market segmentation to maximize the value of their digital marketing campaigns.<br>Cutting edge no-redirect campaigns represent a breakthrough in tracking technology. We’ve achieved what many called "impossible." This breakthrough represents faster load times, campaign stability and increased value for our customers. </p>
        <br>
      </div>
    </div>
    <div class="info-row">
      <img class="info-icon hidden-md hidden-lg hidden-xl" src="../assets/icons-300x/ClickTool_Icons_Contributors.png" alt="distributor icon">
      <div class="info-text blue">
        <br>
        <h4>ADVANCED REPORTING</h4>
        <p class="desc-txt">Data is the lifeblood of any successful digital advertising campaign. But data is only as good as the decisions it enables.<br>Clicktool’s tracking platform is designed to empower its users. Its easy-to-use reporting allows business owners and campaign managers to visualize the data and clearly see where their most valuable segments are.</p>
        <br>
      </div>
      <img class="info-icon hidden-xs hidden-sm" src="../assets/icons-300x/ClickTool_Icons_Contributors.png" alt="contributor icon">
    </div>
    <div class="info-row">
      <img class="info-icon" src="../assets/icons-300x/Icons_pixel-13.png" alt="check mark">
      <div class="info-text blue">
        <br>
        <h4>SECURITY THROUGH BLOCKCHAIN</h4>
        <p class="desc-txt">Analytics platforms, by their very nature, contain valuable business data. Centralized applications can’t provide the level of security that a decentralized blockchain can. Clicktool protects its users' valuable analytics data by storing it in a cutting edge blockchain database.</p>
        <br>
      </div>
    </div>
  </div>

  <!-- Icon Section -->

  <img src="../assets/Background_4-top.png" class="top-divider" alt="section divider">
  <div class="container-fluid featuresdes" id="read-more-redirect">
    <div class="benefit-row">
      <app-benefit
        imageSrc="../../assets/icons-300x/ClickTool_Icons_Buy and Sell.png" alt="cryptocurrency shopping cart"
        imageAlt="cryptocurrency shopping cart"
        title="TRACKING MADE EASY"
        info="We’ve taken very complex tasks and made them extremely simple. Tasks that would take hours of daily manual labor now can be done in seconds. We’ve designed our tool so that the most relevant data for your business is displayed first. ">
      </app-benefit>
      <app-benefit
        imageSrc="../assets/icons-300x/ClickTool_Icons_With Drawals.png"
        imageAlt="withdrawal"
        title="BLOCKCHAIN BASED TRACKING"
        info='No more complicated impractical "self hosted" solutions. No more unease when using an analytics service because you suspect they may be looking at your data. Blockchain based tracking means only you have access.'>
      </app-benefit>
      <app-benefit
        imageSrc="../assets/icons-300x/ClickTool_Icons_Exchange.png"
        imageAlt="dollar gear"
        title="BYZANTINE FAULT TOLERANT DATABASE"
        info="Achieving Byzantine Fault tolerance is one of the most difficult challenges for any blockchain based project. Clicktool uses Tendermint for all networking and consensus. Each node has its own local MongoDB database. Full Decentralization at its best.">
      </app-benefit>
      <app-benefit
        imageSrc="../assets/icons-300x/ClickTool_Icons_Give and Take.png"
        imageAlt="papers"
        title="INDEXING AND QUERYING STRUCTURED DATA"
        info="Each node operator has access to the full power of MongoDB for indexing and querying the stored data. This makes our blockchain enabled database fast and powerful enough to suit every business need.">
      </app-benefit>
      <app-benefit
        imageSrc="../assets/icons-300x/ClickTool_Icons_Trading.png"
        imageAlt="graph"
        title="CUTTING EDGE HIGH TRANSACTION RATE BLOCKCHAIN"
        info="Powered by BigchainDB, our goal has always been the agility to process a large number of transactions each second. We are now able to bring the best of both worlds by providing speed and security in one easy-to-use application.">
      </app-benefit>
      <app-benefit
        imageSrc="../assets/icons-300x/ClickTool_Icons_Boading.png"
        imageAlt="id"
        title="TURN AD CLICKS INTO SALES"
        info="Putting data under a microscope has never been easier. Our users can create reports based on location, device, browsers, type of objective, and many more. If a users wants to send 90% of traffic to one page and 10% to another? They can do it with 1 click. ">
      </app-benefit>
      <app-benefit
        imageSrc="../assets/icons-300x/ClickTool_Icons_Asset Management.png"
        imageAlt="database"
        title="FIRST OF IT’S KIND PHONE CALL TRACKING"
        info="Selling over the phone? We have that covered. Click to call is becoming increasingly important in today’s world. We’ve invented completely new ways to track phone call objectives so you can see where your results are coming from. ">
      </app-benefit>
      <app-benefit
        imageSrc="../assets/icons-300x/ClickTool_Icons_Vetted Marketplace.png"
        imageAlt="vault safe"
        title="MULTIPLE OBJECTIVE TRACKING"
        info="Customers do so much before they buy. We help track it all. Want to track when a customer initiates a checkout? Want to track an email signup? We’ve developed objective tracking that allows businesses to record everything a visitor does.">
      </app-benefit>
    </div>
  </div>


  <app-timelime></app-timelime>

  <!-- Chart Section -->
  <br>
  <br>
  <br>
  <div class="container chart-container">
    <h1>The Distribution Plan</h1>
    <h3>Transparency from Day One</h3>
    <div class="chart-holder row">
      <div class="col-sm-12 col-md-5">
        <h4>USAGE OF FUNDS</h4>
        <br>
        <div class="chart1">
          <img class="chart-gear" id="chart1a" src="../assets/1_400x_Cog_3.png" alt="gear"><!-- Large Orange Gear -->
          <img class="chart-gear" id="chart1b" src="../assets/1_400x_Cog_7.png"><!-- Large Turqoise Gear -->
          <img class="chart-gear" id="chart1c" src="../assets/1_400x_Cog_4.png" alt="gear"><!-- Yellow Gear -->
          <img class="chart-gear" id="chart1d" src="../assets/1_400x_Cog_2.png" alt="gear"><!-- Medium Light Blue Gear -->
          <img class="chart-gear" id="chart1e" src="../assets/1_400x_Cog_1.png" alt="gear"><!-- Medium Dark Blue Gear -->
          <img class="chart-gear" id="chart1f" src="../assets/1_400x_Cog_9.png" alt="gear"><!-- Small Dark Blue Gear -->
          <img class="chart-gear" id="chart1g" src="../assets/1_400x_Cog_6.png" alt="gear"><!-- Small Dark Blue Gear -->
          <img class="chart-gear" id="chart1h" src="../assets/1_400x_Cog_5.png" alt="gear"><!-- Medium Dark Blue Gear -->
          <img class="chart-gear" id="chart1i" src="../assets/1_400x_Cog_8.png" alt="gear"><!-- Medium Blue Gear -->
          <img class="chart-gear" id="chart1j" src="../assets/1_400x_Cog_10.png" alt="gear"><!-- Medium Orange Gear -->
          <img class="chart-gear" id="chart1k" src="../assets/1_400x_Cog_11.png" alt="gear"><!-- Small Dark Blue Gear -->
          <img class="chart-text1a" src="../assets/61percent.png" alt="percentage">
          <img class="chart-text1b" src="../assets/17percent.png" alt="percentage">
          <img class="chart-text1c" src="../assets/15percent.png" alt="percentage">
          <img class="chart-text1d" src="../assets/5percent.png" alt="percentage">
          <img class="chart-text1e" src="../assets/2percent.png" alt="percentage">
        </div>
        <div id="legend1" class="legend">
          <h4 id="marketing"><span><span>O </span>Production</span><span>61%</span></h4>
          <h4 id="development"><span><span>O </span>Marketing</span><span>17%</span></h4>
          <h4 id="acquisition"><span><span>O </span>Operation</span><span>15%</span></h4>
          <h4 id="legal"><span><span>O </span>Dapp Platform</span><span>5%</span></h4>
          <h4 id="legal2"><span><span>O </span>Legal</span><span>2%</span></h4>
          <h4>&nbsp;</h4>
        </div>
      </div>
      <div class="col-md-2 hidden-sm hidden-xs">
        <div class="chart-line"></div>
      </div>
      <div class="col-sm-12 col-md-5">
        <h4>TOKEN DISTRIBUTION BREAKDOWN</h4>
        <br>
        <div class="chart2">
          <img class="chart-gear" id="chart2a" src="../assets/2_400x_Cog_6.png" alt="gear"><!-- Large Yellow Gear -->
          <img class="chart-gear" id="chart2b" src="../assets/2_400x_Cog_1.png" alt="gear"><!-- Large Turqoise Gear -->
          <img class="chart-gear" id="chart2c" src="../assets/2_400x_Cog_7.png" alt="gear"><!-- Large Dark Blue Gear -->
          <img class="chart-gear" id="chart2d" src="../assets/2_400x_Cog_8.png" alt="gear"><!-- Labelled Orange Gear -->
          <img class="chart-gear" id="chart2e" src="../assets/2_400x_Cog_2.png" alt="gear"><!-- Medium Light Blue Gear -->
          <img class="chart-gear" id="chart2f" src="../assets/2_400x_Cog_4.png" alt="gear"><!-- Unlabelled Orange Gear -->
          <img class="chart-gear" id="chart2g" src="../assets/1_400x_Cog_11.png" alt="gear"><!-- Small Light Blue Gear -->
          <img class="chart-gear" id="chart2h" src="../assets/2_400x_Cog_10.png" alt="gear"><!-- Medium Yellow Gear -->
          <img class="chart-gear" id="chart2i" src="../assets/2_400x_Cog_5.png" alt="gear"><!-- Medium Dark Blue Gear -->
          <img class="chart-gear" id="chart2j" src="../assets/2_400x_Cog_9.png" alt="gear"><!-- Small Dark Blue Gear -->
          <img class="chart-gear" id="chart2k" src="../assets/1_400x_Cog_1.png" alt="gear"><!-- Smallest Dark Blue Gear -->
          <img class="chart-gear" id="chart2l" src="../assets/1_400x_Cog_1.png" alt="gear"><!-- Smaller Dark Blue Gear -->
          <img class="chart-gear" id="chart2m" src="../assets/1_400x_Cog_4.png" alt="gear"><!-- Small Yellow Gear -->
          <img class="chart-text2a" src="../assets/45percent.png" alt="percentage">
          <img class="chart-text2b" src="../assets/20percent.png" alt="percentage">
          <img class="chart-text2c" src="../assets/15percent.png" alt="percentage">
          <img class="chart-text2d" src="../assets/13percent.png" alt="percentage">
          <img class="chart-text2e" src="../assets/4percent.png" alt="percentage">
          <img class="chart-text2f" src="../assets/2percentblue.png" alt="percentage">
          <img class="chart-text2g" src="../assets/1percent.png" alt="percentage">
        </div>
        <div id="legend2" class="legend">
          <h4 id="ico"><span><span>O </span>Public Sale</span><span>45%</span></h4>
          <h4 id="liquidity"><span><span>O </span>Reserve</span><span>20%</span></h4>
          <h4 id="distribution"><span><span>O </span>Presale</span><span>15%</span></h4>
          <h4 id="presale"><span><span>O </span>Team</span><span>13%</span></h4>
          <h4 id="community"><span><span>O </span>Bounty Programs</span><span>4%</span></h4>
          <h4 id="advisors"><span><span>O </span>Advisors</span><span>2%</span></h4>
          <h4 id="air-drop"><span><span>O </span>Airdrop</span><span>1%</span></h4>
        </div>
      </div>
    </div>
  </div>


  <!-- Video Section -->
  <div class="container-fluid" style="overflow: hidden;">
    <div class="vid-screen-mobile-container">
      <img class="vid-screen-mobile" src="../assets/vid-screen.png" alt="video screen">
      <div class="vid-text-mobile">
        <h3>Blockchain is disrupting Digital Marketing. Clicktool is leading that change.</h3>
        <a href="#" class="launch-modal" data-modal-id="modal-video2">
          <div class="watch-video">
            <h3><i class="fa fa-play-circle"></i>&nbsp;&nbsp;</h3>
            <h5>Watch Video</h5>
          </div>
        </a>
      </div>
    </div>
    <div class="vid-container">
      <div class="vid-text">
        <h3>Blockchain is disrupting Digital Marketing. Clicktool is leading that change.</h3>
        <a href="#" class="launch-modal" data-modal-id="modal-video2">
          <div class="watch-video">
            <h3><i class="fa fa-play-circle"></i>&nbsp;&nbsp;</h3>
            <h5>Watch Video</h5>
          </div>
        </a>
      </div>
      <img class="vid-background" src="../assets/vid-background.png" alt="video background">
      <img class="vid-components" src="../assets/vid-components.png" alt="video components">
      <img class="vid-screen" src="../assets/vid-screen.png" alt="video screen">
      <div class="electricity-holder">
        <img class="vid-electricity" [ngClass]="{'display-none':isIE || isMobileOrTablet}" src="../assets/vid-electricity.png" alt="electricity">
        <img class="vid-electricity2" [ngClass]="{'display-none':isIE}" src="../assets/vid-electricity.png" alt="electricity">
      </div>
      <img class="vid-lines" src="../assets/vid-lines.png" alt="line">
      <img class="vid-line-mobile" src="../assets/vid-line-mobile.png" alt="line">
      <img class="vid-cloud-left" src="../assets/med-cloud.png" alt="cloud">
      <img class="vid-cloud-center" src="../assets/med-cloud.png" alt="cloud">
      <img class="vid-cloud-right" src="../assets/big-cloud.png" alt="cloud">
      <img class="vid-gear-up-light-blue" src="../assets/gear-up-light-blue.png" alt="gear">
      <div class="small-red-gear-holder">
        <img id="vid-gear-small-red" [ngClass]="{'display-none':isMobileOrTablet}" src="../assets/gear-small-red.png" alt="gear">
      </div>
      <div class="left-gear-holder">
        <img id="vid-gear-small-turquoise" [ngClass]="{'display-none':isMobileOrTablet}" src="../assets/gear-small-turquoise.png" alt="gear">
        <img id="vid-gear-left-yellow" [ngClass]="{'display-none':isMobileOrTablet}" src="../assets/gear-left-yellow.png" alt="gear">
        <img id="vid-gear-down-light-blue" [ngClass]="{'display-none':isMobileOrTablet}" src="../assets/gear-down-light-blue.png" alt="gear">
      </div>
      <div class="big-red-gear-holder">
        <img id="vid-gear-big-red" [ngClass]="{'display-none':isMobileOrTablet}" src="../assets/gear-big-red.png" alt="gear">
      </div>
      <img class="vid-gear-big-turquoise" src="../assets/gear-big-turquoise.png" alt="gear">
      <img class="vid-gear-right-yellow" src="../assets/gear-right-yellow.png" alt="gear">
      <img class="vid-gear-blue" src="../assets/gear-blue.png" alt="gear">
      <img class="vid-gear-big-turquoise vid-gear-big-turquoise-mobile" [ngClass]="{'display-none':!isMobileOrTablet}" src="../assets/gear-big-turquoise.png" alt="gear">
      <img class="vid-gear-right-yellow vid-gear-right-yellow-mobile" [ngClass]="{'display-none':!isMobileOrTablet}" src="../assets/gear-right-yellow.png" alt="gear">
      <img class="vid-gear-blue vid-gear-blue-mobile" [ngClass]="{'display-none':!isMobileOrTablet}" src="../assets/gear-blue.png" alt="gear">
      <img class="vid-gear-holder-mobile" [ngClass]="{'display-none':!isMobileOrTablet}" src="../assets/vid-cog-holder.png" alt="gear">
    </div>
  </div>
  <div class="modal fade modal-video-div" id="modal-video2" tabindex="-1" role="dialog" aria-labelledby="modal-video-label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="modal-video">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe  src="" id="video-frame2" class="video-frame embed-responsive-item" width="420" height="315" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- Team Section -->
  <div class="container team-section">
    <h2 class="title">MEET OUR TEAM</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-3">
        <app-employee
          imageSrc="../assets/carlos-800.png"
          name="Carlos Cruz"
          role="CEO">
        </app-employee>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <app-employee
          imageSrc="../assets/blake-800.png"
          name="Blake Corbin"
          role="Accountant">
        </app-employee>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <app-employee
          imageSrc="../assets/irena-800.png"
          name="Irina Cruz"
          role="Financial Advisor">
        </app-employee>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <app-employee
          imageSrc="../assets/bryant-800.png"
          name="Bryant Higa"
          role="Marketing">
        </app-employee>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <app-employee
          imageSrc="../assets/avatar.png"
          name="Calista Sin"
          role="Marketing">
        </app-employee>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <app-employee
          imageSrc="../assets/avatar.png"
          name="Vlad Yurov"
          role="Social Media Buyer">
        </app-employee>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <app-employee
          imageSrc="../assets/avatar.png"
          name="David Sarkisyan"
          role="Marketing">
        </app-employee>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <app-employee
          imageSrc="../assets/jamie-800.png"
          name="Yu-Jen Su"
          role="Software Developer">
        </app-employee>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <app-employee
          imageSrc="../assets/charlie-800.png"
          name="Charlie Merrill"
          role="Software Developer">
        </app-employee>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <app-employee
          imageSrc="../assets/avatar.png"
          name="Voranon Chumnansiri"
          role="Software Developer">
        </app-employee>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <app-employee
          imageSrc="../assets/avatar.png"
          name="Chris Kendrick"
          role="Software Developer">
        </app-employee>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <app-employee
          imageSrc="../assets/jurick-800.png"
          name="Jurick Joling"
          role="Software Developer">
        </app-employee>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <app-employee
          imageSrc="../assets/cammie-800.png"
          name="Cammie Njue"
          role="Executive Assistant">
        </app-employee>
      </div>
    </div>
  </div>

  <!-- Call to Action -->
  <div class="action-container">
    <div class="clicktool-city">
      <img class="city-background" src="../assets/city-background.png" alt="city background">
      <img class="city-cloud-medium city-cloud-top-left1" src="../assets/city-cloud-medium.png" alt="cloud">
      <img class="city-cloud-medium city-cloud-top-left2" src="../assets/city-cloud-medium.png" alt="cloud">
      <img class="city-cloud-lg city-cloud-top-left3" src="../assets/city-cloud-lg.png" alt="cloud">
      <img class="city-cloud-medium city-cloud-top-center" src="../assets/city-cloud-medium.png" alt="cloud">
      <img class="city-cloud-lg city-cloud-top-right1" src="../assets/city-cloud-lg.png" alt="cloud">
      <img class="city-cloud-medium city-cloud-top-right2" src="../assets/city-cloud-medium.png" alt="cloud">
      <img class="city-cloud-medium city-cloud-top-right3" src="../assets/city-cloud-medium.png" alt="cloud">
      <img class="city-cloud-medium city-cloud-bottom-right" src="../assets/city-cloud-medium.png" alt="cloud">
      <img class="city-cloud-medium city-cloud-bottom-left1" src="../assets/city-cloud-medium.png" alt="cloud">
      <img class="city-cloud-bottom-left2" src="../assets/city-cloud-sm.png" alt="cloud">
      <img class="city-bird city-bird-left" src="../assets/city-bird.png" alt="bird">
      <img class="city-bird city-bird-right" src="../assets/city-bird.png" alt="bird">
      <div class="city-boat-holder-left">
        <img src="../assets/city-boat1.png" alt="boat">
      </div>
      <div class="city-boat-holder-center">
        <img src="../assets/city-boat2.png" alt="boat">
      </div>
      <div class="city-boat-holder-right">
        <img src="../assets/city-boat3.png" alt="boat">
      </div>
      <img class="windmill" src="../assets/windmill.png">
      <div class="city-train-holder">
        <img src="../assets/city-train.png" alt="train">
      </div>
      <div class="city-car-holder-top-left">
        <img src="../assets/city-car1.png" alt="car">
      </div>
      <div class="city-car-holder-top-right">
        <img src="../assets/city-car2.png" alt="car">
      </div>
      <div class="city-car-holder-bottom">
        <img src="../assets/city-car3.png" alt="car">
        <img src="../assets/city-car4.png" alt="car">
      </div>
      <img class="city-logo" src="../assets/city-logo.png" alt="logo">
      <img class="city-logo2" src="../assets/city-logo2.png" alt="logo">
      <img class="city-gear-bottom-right1" src="../assets/city-gear-right-turquoise.png" alt="gear">
      <div class="city-gear-bottom-right2" alt="gear">
        <img id="city-gear-bottom-right-two" [ngClass]="{'animation-none':isMobileOrTablet}" src="../assets/gear-small-red.png" alt="gear">
      </div>
      <div class="city-gear-bottom-left1">
        <img id="city-gear-bottom-left-one" [ngClass]="{'animation-none':isMobileOrTablet}" src="../assets/gear-big-red.png" alt="gear">
      </div>
      <div class="city-gear-top-left">
        <img id="city-gear-top-left-img" [ngClass]="{'animation-none':isMobileOrTablet}" src="../assets/city-gear-top-yellow.png" alt="gear">
      </div>
      <div class="city-gear-bottom-left2">
        <img id="city-gear-bottom-left2a" [ngClass]="{'animation-none':isMobileOrTablet}" src="../assets/city-gear-left-turquoise.png" alt="gear">
        <img id="city-gear-bottom-left2b" [ngClass]="{'animation-none':isMobileOrTablet}" src="../assets/city-gear-bottom-left-yellow.png" alt="gear">
        <img id="city-gear-bottom-left2c" [ngClass]="{'animation-none':isMobileOrTablet}" src="../assets/city-gear-bottom-left-lightblue.png" alt="gear">
      </div>
      <div class="city-gear-middle">
        <img id="city-gear-middle-one" [ngClass]="{'animation-none':isMobileOrTablet}" src="../assets/city-gear-middle-white.png" alt="gear">
        <img id="city-gear-middle-two" [ngClass]="{'animation-none':isMobileOrTablet}" src="../assets/city-gear-middle-blue.png" alt="gear">
      </div>
      <div class="city-gear-top-center">
        <img id="city-gear-top-center-one" [ngClass]="{'animation-none':isMobileOrTablet}" src="../assets/city-gear-gray.png" alt="gear">
        <img id="city-gear-top-center-two" [ngClass]="{'animation-none':isMobileOrTablet}" src="../assets/city-gear-top-right-yellow.png" alt="gear">
        <img id="city-gear-top-center-three" [ngClass]="{'animation-none':isMobileOrTablet}" src="../assets/city-gear-top-blue.png" alt="gear">
      </div>
    </div>
    <div class="indresgsec">
      <h1>Join Our Fast Growing Community, Get Exclusive Rewards</h1>
      <br>
      <p class="desc-txt">Have questions that need answers? Join our telegram group and ask away. Our community is here to help 24/7. Follow us on all social media channels and get exclusive bonuses, airdrops, bounty rewards and the latest news. Help us improve this industry, your voice matters to us!</p>
      <div class="social-icons">
        <a href="https://www.facebook.com/click.tool.71" target="_blank"><p class="facebook"><i class="fab fa-facebook-square"></i></p></a>
        <a href="https://twitter.com/clickcoins" target="_blank"><p class="twitter"><i class="fab fa-twitter-square"></i></p></a>
        <a href="https://www.linkedin.com/company/clicktool/" target="_blank"><p class="linkedin"><i class="fab fa-linkedin"></i></p></a>
        <a href="https://www.instagram.com/clicktool/" target="_blank"><div class="instagram"><i class="fab fa-instagram"></i></div></a>
        <a href="https://www.reddit.com/user/ClickTool/" target="_blank"><p class="reddit"><i class="fab fa-reddit-square"></i></p></a>
        <a href="https://t.me/clicktool" target="_blank"><p class="telegram"><i class="fab fa-telegram"></i><p></a>
        <a href="https://medium.com/@clicktool" target="_blank"><p class="medium"><i class="fab fa-medium"></i></p></a>
      </div>
    </div>
<!--     <div class="row">
      <div class="col-xs-12 col-sm-6">

      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="hidden-xs">
          <br class="hidden-sm">
          <br class="hidden-sm">
          <br>
          <br>
          <br>
        </div>

      </div>
    </div> -->
  </div>

  <br>
  <br>
  <img src="../assets/Background_3-top.png" class="top-divider" alt="background">
  <div class="container-fluid sign-up">
    <h1>Get The Latest News On Our ICO</h1>
    <p class="desc-txt">Sign up to our newsletter to receive the latest news. Our email subscribers may receive early discount, special bonuses and a behind the scenes look of our company. Sign up below to stay updated.</p>
    <a href="#">
      <div class="action-button">
        <h3><i class="fa fa-check-circle"></i>&nbsp;&nbsp;</h3>
        <h5>Sign Up</h5>
        <div class="shine"></div>
      </div>
    </a>
  </div>

<app-footer></app-footer>


