.nav-btn {
  display: flex;
  position: absolute;
  right: 15px;
}

.nav-btn i {
  font-size: 32px;
}

.nav-buttons {
  display: flex;
}

.nav-buttons a {
  margin-right: 30px;
}

.nav-buttons a div{
  color: white;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 1px 1px 2px 0px #CCCCCC;
}
.nav-dropdown-style {
  padding-left: 20px;
  background-color: white;
}

.nav-dropdown-style li {
  background-color: white;
  border-bottom: 1px solid #24537f;
  width: 80%;
}

.navbar {
  position: relative;
  z-index:  100;
}

.nav-login {
  background-color: #24537f;
}

.nav-login:hover {
  background-color: #1D4265;
}

.nav-login:active {
  background-color: #153048;
  box-shadow: none;
}

.nav-signup {
  background-color: #fd8a66;
}

.nav-signup:hover {
  background-color: #D77659;
}

.nav-signup:active {
  background-color: #AB5E48;
  box-shadow: none;
}

@media (max-width: 767px) {
/*  .nav-btn {
    margin-right: -28px;
  }*/
}
.ico-tab {
  position: absolute;
  z-index: 1000;
}
