.nav-btn {
  display: flex;
  position: absolute;
  right: 0px;
}

.nav-btn a {
  margin-right: 30px;
}

.nav-btn a div{
  color: white;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 1px 1px 2px 0px #CCCCCC;
}

.nav-login {
  background-color: #24537f;
}

.nav-login:hover {
  background-color: #1D4265;
}

.nav-login:active {
  background-color: #153048;
  box-shadow: none;
}

.nav-signup {
  background-color: #fd8a66;
}

.nav-signup:hover {
  background-color: #D77659;
}

.nav-signup:active {
  background-color: #AB5E48;
  box-shadow: none;
}
