<ul class="list-unstyled sidenav-2" style="margin-top: 15px;">
	<li> 
		<a routerLink="/settings" href="/settings">							
			General
			<i class="material-icons">
			settings
			</i>			
		</a>
	</li>
	<li> 
		<a routerLink="/settings/security" href="/settings/security">							
			Security
			<i class="material-icons">
			lock
			</i>
		</a>
	</li>	
	<li> 
		<a routerLink="/settings/wallet" href="settings/wallet">							
			Wallet
			<i class="material-icons">
			account_balance_wallet
			</i>			
		</a>
	</li>									
</ul>