<app-homepage-header></app-homepage-header>

  <div class="container-fluid referral-container">
    <h1>Affiliate Program</h1>
    <br>
    <div class="container">
      <h3>Lorem ipsum dolor sit amet, consectetur <span>7%</span> adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
    </div>
    <img src="../../assets/referral.png" alt="Referral Directions">
  </div>

  <div class="container referral-info">
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur <b>7%</b> adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <br>
    <h2>How you will be paid</h2>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
    <br>
    <h6><i class="fa fa-check"></i>&nbsp;&nbsp;<b>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</b></h6>
    <h6><i class="fa fa-check"></i>&nbsp;&nbsp;<b>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</b></h6>
    <h6><i class="fa fa-check"></i>&nbsp;&nbsp;<b>Ut enim ad minim veniam, quis nostrud.</b></h6>
    <h6><i class="fa fa-check"></i>&nbsp;&nbsp;<b>Duis aute irure dolor in reprehenderit in voluptate velit.</b></h6>
    <br>
    <h3>LOREM IPSUM:</h3>
    <br>
    <h6><i class="fa fa-check"></i>&nbsp;&nbsp;<b>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</b></h6>
    <h6><i class="fa fa-check"></i>&nbsp;&nbsp;<b>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</b></h6>
  </div>

  <div class="referral-box">
    <h3>Sign up and start earning today.</h3>
    <br>
    <a href="https://clicktool.postaffiliatepro.com/affiliates/signup.php#SignupForm" target="_blank">
      <div class="referral-button">
      <h4>GET REFERRAL LINK</h4>
    </div>
    </a>
    <br>
    <div class="affiliate">
      <p>Already an Affiliate?&nbsp;</p>
      <a href="https://clicktool.postaffiliatepro.com/affiliates/login.php#login" target="_blank">Log In</a>
    </div>
  </div>
