<div class="row bb hoverable-row p-rel" style="padding: 15px;">
	<a (click)="toggleChild($event)" class="full-link toggle-link" href="#"></a>
	<div class="col-md-3" style="font-size: 12px;">
		<strong>{{ label }}</strong>
	</div>
	<div class="col-md-6">
		<span class="text-muted">{{ value }}</span>
	</div>
	<div class="col-md-3 text-right brand-color-txt"> {{ actionLabel }} </div>
</div>

<div class="row form-toggler-content bb" style="display: none;">
	<div class="col-md-12">
		<div style="padding: 20px;">
			
			<div>
				<label>{{ label }}</label>
				<input value="{{ value }}" type="text" name="name">				
			</div>
			<div style="margin-top: 10px;" *ngIf="verifyValue">
				<label>Enter {{ label }} again</label>
				<input type="text" name="name" placeholder="enter {{ label }} again">	
			</div>
			<div class="clearfix" style="margin-top: 10px;">
				<button class="btn btn-secondary pull-left form-toggler-close" (click)="close($event)" >Cancel</button>
				<button class="btn btn-primary pull-right" (click)="save()">Save</button>
			</div>
		</div>
	</div>
</div>