<app-header></app-header>

<div class="container-fluid reg-container first-form" style="height: 1200px;">
  
  <div class="reg-image hidden-sm hidden-xs">
    <img src="../../assets/Animated-Clicktool2 a.gif">
  </div>
  <div class="reg-form">

     <div class="reg-active reg-border">
      <h1>How much would you like to contribute?</h1>
      <h3>Choose an option.</h3>
      <hr>
      <button style="margin-bottom: 50px !important;" (click)="moreThenTwelve()" class="btn btn-info reg-button" id="12ethereum">
        <p><i class="fab fa-ethereum"></i>&nbsp;&nbsp;&nbsp;More Than 12 Ethereum</p>
      </button>
      <button style="margin-bottom: 50px !important;" (click)="lessThenTwelve()" class="btn btn-info reg-button back">
        <p><i class="fab fa-ethereum"></i>&nbsp;&nbsp;&nbsp;Less Than 12 Ethereum</p>
      </button>
      <button style="margin-bottom: 50px !important;" (click)="usdCurrency()" class="btn btn-info reg-button sign-in">
        <p><i class="fas fa-dollar-sign"></i>&nbsp;&nbsp;&nbsp;USD/EUR/GBP</p>
      </button>
      <div routerLink="/signup/account" class="btn btn-info reg-button back3" id="back3">
        <p><i class="fa fa-chevron-circle-left"></i>&nbsp;&nbsp;&nbsp;Back</p>
      </div>
    </div> 

  </div>
  <div class="reg-image2 hidden-xs">
    <img src="../../assets/Animated-Clicktool2 a.gif">
  </div>
</div>
<app-footer></app-footer>