<app-header></app-header>

<div class="container-fluid reg-container first-form" style="height: 1200px;">
  
  <div class="reg-image hidden-sm hidden-xs">
    <img src="../../assets/Animated-Clicktool2 a.gif">
  </div>

  <app-login-form></app-login-form>
  
  <a routerLink="/password/reset" style="margin-top: 330px; display: block; width: 100%;" href="#">Forgot Password?</a>

  <div class="reg-image2 hidden-xs">
    <img src="../../assets/Animated-Clicktool2 a.gif">
  </div>
</div>
<app-footer></app-footer>

