<!-- Milestone / Timeline Section -->
  <div class="container-fluid" style="overflow: hidden;" (isYellowBoxOffScreen)="isYellowBoxOffScreen($event)">


<!-- <div style="position: absolute; top: 0; left: 0; z-index: 5000;">
  <button  type="button" class="btn btn-primary btn-lg" style="float: left;" (click)="stopAnimation()">Stop</button> 
  <button  type="button" class="btn btn-primary btn-lg" style="float: left;" (click)="animateLeft()">Move left</button>
  <button  type="button" class="btn btn-primary btn-lg" style="float: left;" (click)="animateRight()">Move Right</button> 
</div> -->

      <div class="directions" (click)="swipe($event)">
        <div class="right f right-mobile" (click)="animateRight()">
          <i class="fas fa-arrow-right blue-arrow"></i>
        </div>
        <div class="left left-mobile" (click)="animateLeft()">
          <i class="fas fa-arrow-left blue-arrow2"></i>
        </div>
      </div>


    <div class="milestone-container">
      <img src="../assets/timeline-background.png" class="timeline-background">
      
  <div class="slider">
    <div *ngFor="let box of boxes" class="new-yellowbox"> <div>{{ box.month }}<br>{{ box.year }}</div> </div>
  </div>

  <img src="../assets/big Cog.png" class="milestone-gear" #mileStoneGear>


<!--       <img src="../assets/timeline-button-left-top.png" class="timeline-button-left tl-button-left1">
      <img src="../assets/timeline-button-left-bottom.png" class="timeline-button-left">
      <img src="../assets/timeline-button-right-top.png" class="timeline-button-right">
      <img src="../assets/timeline-button-right-middle.png" class="timeline-button-right tl-button-right2">
      <img src="../assets/timeline-button-right-bottom.png" class="timeline-button-right tl-button-right3">
      <img src="../assets/timeline-button-big.png" class="timeline-button-big tl-button-right3">
      <img class="timeline-slider timeline-slider1" src="../assets/blue-slider.png">
      <img class="timeline-slider timeline-slider2" src="../assets/blue-slider.png">
      <img class="timeline-slider timeline-slider3" src="../assets/blue-slider.png"> -->

    <!--   <div class="timeline-gear-holder">
        <img id="timeline-gear-pause" [ngClass]="{'animation-none':isMobileOrTablet}" src="../assets/timeline-gear1.png">
      </div> -->


<!--       <img src="../assets/timeline-gray-gear1.png" class="timeline-gray-gear-bottom-left">
      <img src="../assets/timeline-gray-gear1.png" class="timeline-gray-gear-bottom-right">
      <img src="../assets/timeline-gray-gear2.png" class="timeline-gray-gear-top-left">
      <img src="../assets/timeline-gray-gear2.png" class="timeline-gray-gear-top-right">
      <img src="../assets/expanding-pipe.png" class="expanding-pipe">
      <img src="../assets/timeline-lower-left-box.png" class="timeline-lower-left-box">
      <img src="../assets/timeline-silhouette-machine.png" class="timeline-silhouette-machine">
      <img src="../assets/timeline-silhouette-machine2.png" class="timeline-silhouette-machine2">
      <img src="../assets/timeline-silhouette-button.png" class="timeline-silhouette-button">
      <img src="../assets/timeline-moving-pipe.png" class="timeline-moving-pipe">
      <img src="../assets/timeline-pipefill-top-left.png" class="timeline-pipefill-top-left">
      <img src="../assets/timeline-pipeoverlay-top-left.png" class="timeline-pipeoverlay-top-left">

      <img src="../assets/timeline-red-pipe-end.png" class="timeline-red-pipe-end">
      <img src="../assets/timeline-pipeoverlay-top-center.png" class="timeline-pipeoverlay-top-center">
      <img src="../assets/timeline-pipefill-top-center.png" class="timeline-pipefill-top-center">
      <img src="../assets/timeline-pipefill-top-left2.png" class="timeline-pipefill-top-left2">
      <img src="../assets/timeline-pipefill-center-left.png" class="timeline-pipefill-center-left">
      <img src="../assets/timeline-pipefill-center-right.png" class="timeline-pipefill-center-right">
      <img src="../assets/timeline-pipeoverlay-center-right.png" class="timeline-pipeoverlay-center-right">
      <img src="../assets/timeline-pipefill-center-right2.png" class="timeline-pipefill-center-right2">
      <img src="../assets/timeline-pipe-overflow.png" class="timeline-pipe-overflow">
      <img src="../assets/timeline-pipe-overflow2.png" class="timeline-pipe-overflow2"> -->
      

       <img src="../assets/Conveyor Belt.png" class="conveyor">

<!--       <app-yellowbox
      *ngFor="let box of boxes; let i = index"
      position="{{ box.position }}"
      month="{{ box.month }}"
      year="{{ box.year }}"
      [animationSpeed]="speed"
      [pauseTime]="pauseTime"
      [count]="box.count"
      [isEnd]="box.isEnd"
      [isFirst]="box.isFirst"
      [attr.data-index]="i"
      [isAnimatingRight]="isAnimatingRight"
      (animationCallbackEvent)="animationCallback($event)"
      (isBoxOffScreen)="onBoxOffScreen($event)"
      [boxStartingPoint]="box.boxStartingPoint"
      >
      </app-yellowbox> -->

      <div class="machine-screen">
        <div class="yellow-light yellow-light1"></div>
        <div class="yellow-light yellow-light2"></div>
        <div class="yellow-light yellow-light3"></div>
        <div class="yellow-bar yellow-bar1"></div>
        <div class="yellow-bar yellow-bar2"></div>
        <!-- <img src="../assets/yellowboxes.png" class="machine-box yellowbox"> -->
       <!--  <img src="../assets/yellowboxes.png" class="machine-box yellowbox2"> -->
        <img src="../assets/Machine_full copy.png" class="machine">
      </div>

      <div class="machine-screen" style="overflow: hidden;">
          
          <div class="sliderWindow">
            <div *ngFor="let box of boxes" class="sc"> <div>{{ box.screen }}</div> </div>
          </div>
          
          <div class="sliderWindowBottom">
            <div *ngFor="let box of boxes" class="scBottom"> <div>{{ box.screenBottom }}</div> </div>
          </div>          
<!--           <div class="sliderWindowTwo">
            <div class="sc"> <div>Start of Development</div> </div>
            <div class="sc"> <div>Start of Development</div> </div>
            <div class="sc"> <div>Start of Development</div> </div>
            <div class="sc"> <div>Start of Development</div> </div>
          </div>
 -->

<!--         <div class="full-screen-container" [style.width.px]="screenWidth">
           <app-small-screen
          *ngFor="let box of boxes; let i = index"
          [attr.data-index]="box.count"
          [isPaused]="isPaused"
          [isAnimatingRight]="isAnimatingRight"
          [pauseTime]="pauseTime"
          position="{{ box.position }}"
          [animationSpeed]="speed">
          </app-small-screen>         
        </div> -->

      </div>

<!--       <img src="../assets/Small Cog.png" class="small-gear small-gear1">
      <img src="../assets/Small Cog.png" class="small-gear small-gear2">
      <img src="../assets/Small Cog.png" class="small-gear small-gear3">
      <img src="../assets/Small Cog.png" class="small-gear small-gear4">
      <img src="../assets/Small Cog.png" class="small-gear small-gear5">
      <img src="../assets/Small Cog.png" class="small-gear small-gear6">
      <img src="../assets/Small Cog.png" class="small-gear small-gear7">
      <img src="../assets/Small Cog.png" class="small-gear small-gear8">
      <img src="../assets/Small Cog.png" class="small-gear small-gear9">
      <img src="../assets/Small Cog.png" class="small-gear small-gear10">
 -->
  <!--     <div class="directions" (click)="swipe($event)">
        <div class="right f right-mobile" (click)="animateRight()">
          <i class="fas fa-arrow-right blue-arrow"></i>
        </div>
        <div class="left left-mobile" (click)="animateLeft()">
          <i class="fas fa-arrow-left blue-arrow2"></i>
        </div>
      </div>
 -->

      
      <img class="instructions" src="../assets/mouse-instructions.png">
      <img class="instructions instructions-icons" src="../assets/mouse-instructions-icon.png">
    </div>
  </div>
