<!-- Milestone / Timeline Section -->
  <div class="container-fluid" style="overflow: hidden;" (isYellowBoxOffScreen)="isYellowBoxOffScreen($event)">

    <div class="milestone-container">
      <img src="../assets/timeline-background.png" class="timeline-background">
      <div class="directions" (click)="swipe($event)">

      </div>

      <div class="mobile-directions">
        <div class="right f right-mobile" (click)="animateRight()">
          <i class="fas fa-arrow-right blue-arrow"></i>
        </div>
        <div class="left left-mobile" (click)="animateLeft()">
          <i class="fas fa-arrow-left blue-arrow2"></i>
        </div>
      </div>

  <div class="slider">
    <div *ngFor="let box of boxes" class="new-yellowbox"> <div>{{ box.month }}<br>{{ box.year }}</div> </div>
  </div>

  <img src="../assets/big Cog.png" class="milestone-gear" #mileStoneGear>


       <img src="../assets/Conveyor Belt.png" class="conveyor">

      <div class="machine-screen">
        <div class="yellow-light yellow-light1"></div>
        <div class="yellow-light yellow-light2"></div>
        <div class="yellow-light yellow-light3"></div>
        <div class="yellow-bar yellow-bar1"></div>
        <div class="yellow-bar yellow-bar2"></div>
        <img src="../assets/Machine_full copy.png" class="machine">

        <div class="sliderWindow" style="left: 0; right: 0; height: 65%; z-index: 1000;">
          <div *ngFor="let box of boxes" class="sc"> <div>{{ box.screen }}</div> </div>
        </div>

        <div class="sliderWindowBottom" style=" position: absolute;
    left: 0;
    right: 0;
    height: 20%;
    z-index: 100;
    top: 72%;">

      <div *ngFor="let box of boxes" class="scBottom"> <div>{{ box.screenBottom }}</div> </div>
    </div>

      </div>

      <img class="instructions" src="../assets/mouse-instructions.png">
      <img class="instructions instructions-icons" src="../assets/mouse-instructions-icon.png">
    </div>
  </div>
