.uploader {
	border: 1.5px dashed #c1ced4;
    margin-top: 0 !important;
    border-radius: 3px;
    height: 210px;
}
.uploader.nv-file-over {
	border-color: #22c322;
	color: #22c322;
}
.uploader.nv-file-over i {
   color: #22c322 !important;
}
.upload-over-label {
	color: #22c322;
}

.uploaded-image-container {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	overflow: hidden;
	border: thin solid #ababab;
    margin: 0 auto;
    margin-top: 38px;
}
.uploaded-image-container img {
    width: 200px;
    position: relative;
}
.upload-check {
	z-index: 1000;
    color: #7fd87f;
    right: 30px;
    position: absolute;
    top: 12px;	
}
.close-upload {
	position: absolute;
    left: 30px;
    top: 12px;
    color: #c5d4d8;	
}