<div class="white-bg break-txt" style="padding: 30px;">
	<h4 style="margin-bottom: 20px;">Current 25% special ends in</h4>
	<div class="row">

	  <div class="col-sm-12 col-md-4 text-center d-flex" style="background: url(../../assets/time-bg.png) no-repeat center center; background-size: contain; height: 100px;">
	      <div style="margin-top: 26px;">
	        <h1>00</h1>
	        <span class="text-muted">days</span>
	      </div>
	    
	    <!-- <img class="img-responsive" src="../../assets/time-bg.png"> -->
	  </div>
	  <div class="col-sm-12 col-md-8">
	    <ul class="list-inline list-with-border full-width-list" style="margin-top: 35px;">
	      <li class="list-inline-item text-center">
	        <h3>06</h3>
	        <span class="text-muted">hours</span>
	      </li>                  
	      <li class="list-inline-item text-center">
	        <h3>21</h3>
	        <span class="text-muted">mins</span>
	      </li>
	      <li class="list-inline-item text-center">
	        <h3>59</h3>
	        <span class="text-muted">secs</span>
	      </li>
	    </ul>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-12">
	    <div class="text-muted" style="margin-top: 10px; font-size: 11px;">ICO Enddate:<br>October 30, 2017 00:00 PTS</div> 
	  </div>
	</div>
</div>