<app-header></app-header>

<div class="container-fluid reg-container first-form" style="height: 500px;">

  <div class="reg-image hidden-sm hidden-xs">
    <img src="../../assets/Animated-Clicktool2 a.gif">
  </div>
  <div class="reg-form">

     <div class="reg-active reg-border">
      <h1>Wire Information</h1>
      <hr>
      Bank Of America<br><br>
      <div style="font-size: 22px;">
	      <strong>Account:</strong> 123456789<br>
	      <strong>Routing:</strong> 000123456
      </div>
          <button routerLink="/dashboard"
          style="margin-top: 6rem;" class="btn btn-info reg-button" id="continue">
            <p><i class="fa fa-arrow-circle-right"></i>&nbsp;&nbsp;&nbsp;Continue to account</p>
          </button>
    </div>

  </div>
  <div class="reg-image2 hidden-xs">
    <img src="../../assets/Animated-Clicktool2 a.gif">
  </div>
</div>
<app-footer></app-footer>
