<div class="white-bg break-txt white-bg-shadow" style="padding: 30px; font-size: 12px;">
	<h4 style="margin-bottom: 20px;">{{ title }}</h4>
	<div class="row">
	  <div class="col-sm-4 pr-0">
	    <img class="img-fluid img-responsive" src="{{ qrImageUrl }}">
	  </div>
	  <div class="col-sm-8">
	    {{ address }}
	    <div style="margin-top: 10px;" class="text-muted">{{ minimum }}</div>
	    <br>
	    <button class="btn prim-btn-outline btn-sm" style="padding: 5px 20px;">Copy address</button>
	  </div>
	</div>
	<div class="row" style="margin-top: 15px;">
	  <div class="col-md-12">
	    <span class="brand-color-txt" style="font-size: 11px;">TRANSACTION HISTORY</span><br>
	    <div class="text-muted" style="margin-top: 3px; font-size: 11px;">After the payments, token will be available on your account automatically</div> 
	  </div>
	</div>
</div>