 <app-dashboard-header></app-dashboard-header>
  <div class="container-fluid member-container">
    <div class="password-form">
      <h2>Change Your Password</h2>
      <br>
      <div class="reginr mem-reginr"> <span><i class="fa fa-history"></i></span>
        <input [(ngModel)]="currentPassword" type="password" required="" autocomplete="off" placeholder="Old Password">
      </div>
      <div class="reginr mem-reginr"> <span><i class="fa fa-unlock-alt"></i></span>
        <input [(ngModel)]="newPassword" type="password" required="" autocomplete="off" placeholder="New Password">
      </div>
      <div class="reginr mem-reginr"> <span><i class="fa fa-lock"></i></span>
        <input [(ngModel)]="confirmNewPassword" type="password" required="" autocomplete="off" placeholder="Confirm Password">
      </div>
      <button (click)="afterUpdateAccount(currentPassword, newPassword)" class="mem-button">
        <h4>Confirm New Password</h4>
      </button>
    </div>
  </div>