<app-dashboard-header></app-dashboard-header>

<div class="container-fluid">
  <div class="row">
    
    <div class="col-md-12 brand-color-bg text-white p-5 text-center" style="padding: 60px;">
      <h1 style="font-size: 50px; margin-top: 50px;">Crowdsale Dashboard</h1>
      <h4 style="margin-top: 10px; color: #8BD0EC;">Total Value: $32,456,241 USD</h4>
      <div class="container-fluid" style="max-width: 1000px; margin-bottom: 50px;">
        <div class="row timeline-row" style="margin-top: 100px; position: relative;">
          <img style="position: absolute;
    left: 100px;
    top: 51px;
    z-index: 100;" width="30" src="../../assets/148912.svg">
          <div class="pl-0 pr-0 col-sm-3 text-left timeline-section">
            <div class="timeline-section-top"><h4 class="p-0" style="font-size: 21px;">Sale 25%</h4>Price $0.014</div>
            <div class="timeline-section-bottom">ROUND 1</div>
          </div>
           <div class="pl-0 pr-0 col-sm-3 text-left timeline-section">
            <div class="timeline-section-top"><h4 class="p-0" style="font-size: 21px;">Sale 10%</h4>Price $0.014</div>
            <div class="timeline-section-bottom">ROUND 2</div>
          </div>
          <div class="pl-0 pr-0 col-sm-3 text-left timeline-section">
            <div class="timeline-section-top"><h4 class="p-0" style="font-size: 21px;">Sale 7%</h4>Price $0.014</div>
            <div class="timeline-section-bottom">ROUND 3</div>
          </div>
          <div class="pl-0 pr-0 col-sm-3 text-left timeline-section">
            <div class="timeline-section-top"><h4 class="p-0" style="font-size: 21px;">Sale 3%</h4>Price $0.014</div>
            <div class="timeline-section-bottom">ROUND 4</div>
          </div>                
        </div>        
      </div>
    </div>
  </div>
</div>

    <div class="container-fluid" style="margin-top:50px; max-width: 1200px;">
      <div appEqualHeightCol class="row">

        <div class="col col-sm-4 nrp padding-right-mobile" style="margin-bottom: 15px;">
          <app-lg-txt-w-button
          title="Balance"
          bodyText="0"
          subText="TOKENS"
          ></app-lg-txt-w-button>
        </div>
        <div class="col col-sm-4" style="margin-bottom: 15px;">
          <app-qr-card 
          title="Pay with Bitcoin" 
          address="0x624D5050b12154Eb29BEc54B8faAeC3A3c01bDD6" 
          minimum="Minimum payment 0.01 BTC"
          qrImageUrl="../../assets/qr.png"
          >
          </app-qr-card>
        </div>
        <div class="col col-sm-4 nlp padding-left-mobile" style="margin-bottom: 15px;">
          <app-qr-card 
          title="Pay with Ethereum" 
          address="0x624D5050b12154Eb29BEc54B8faAeC3A3c01bDD6" 
          minimum="Minimum payment 0.01 ETH"
          qrImageUrl="../../assets/qr.png"
          >
          </app-qr-card>
        </div>        

      </div>


      <div appEqualHeightCol class="row">

        <div class="col-sm-4 nrp padding-right-mobile" style="margin-bottom: 15px;">
            <app-countdown></app-countdown>
        </div>

        <div class="col-sm-4" style="margin-bottom: 15px;">
          <div class="white-bg break-txt" style="padding: 30px;">
            <h4 style="margin-bottom: 20px;">Exchange Rates</h4>
            <div class="row">
              <div class="col-md-12">
               <span class="text-muted">Choose Token Amount</span><br>
               <div class="clearfix" style="margin-bottom: 15px;">
                 <span class="pull-left"><strong>1000</strong></span>
                 <span class="pull-right"> <strong>CTC</strong> </span>
               </div>
               <input type="range" min="1" max="100" value="0" class="slider" id="myRange">

               <div class="row" style=" margin-top: 20px;">
                 <div class="col-md-12 clearfix" style="margin-bottom: 10px;">
                   <div class="pull-left">= 0.9800</div>
                   <div class="pull-right"> <strong class="badge badge-primary">BTC</strong> </div>
                 </div>
                 <div class="col-md-12 clearfix" style="margin-bottom: 10px;">
                   <div class="pull-left">= 0.9375</div>
                   <div class="pull-right"> <strong class="badge badge-primary">ETH</strong> </div>
                 </div>
                 <div class="col-md-12 clearfix">
                   <div class="pull-left">= 47.9700</div>
                   <div class="pull-right"> <strong class="badge badge-primary">USD</strong> </div>
                 </div>                                  
               </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4 nlp padding-left-mobile" style="margin-bottom: 15px;">
          <div class="white-bg break-txt" style="padding: 30px;">
            <h4 style="margin-bottom: 20px;">How to contribute</h4>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jwulcLx5o-E"></iframe>
            </div> 
          </div>                   
        </div>
        
      </div>



      <div class="row" style="margin-bottom: 50px;">
        <div class="col-md-12">
          <h1 style="margin-top: 20px;">Transactions</h1>
          <div class="white-bg break-txt" style="padding: 10px; margin-top: 30px;">
            <table class="table">
              <thead>
                <tr>
                  <th width="150" scope="col">TxHash</th>
                  <th width="100" scope="col">Block</th>
                  <th width="150" scope="col">Age</th>
                  <th width="300" scope="col">From</th>
                  <th scope="col">To</th>
                  <th scope="col">Value</th>
                  <th scope="col"> <span class="text-muted">[TxFee]</span> </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                   <td scope="row"> <div class="truncate-150"><a href="#">0xfa0f9337cfc3355c4900b912e7077e74ed9ec3ae6bce6f837db138a07dfc391e</a></div>  </td>
                   <td> <a href="#">5945674</a></td>
                   <td>2 hrs 32 minutes ago</td>
                   <td> 
                    <div class="truncate-150 pull-left"><a href="#">0x32f36aea8f3328191a1bcb81d13e512c5f249909</a></div>
                    <span class="badge badge-success pull-right" style="background: #5CB85C;padding: 5px 10px;border-radius: 5px; margin-right: 15px;">IN</span>
                  </td>
                   <td> 
                    <div class="truncate-150 pull-left"><a href="#">0x4df2367b2872be75370798d04ef76ecf712b3083</a></div>
                  </td>     
                  <td>0.001</td>  
                  <td>0.000621624</td>           
                </tr>
                <tr>
                   <td scope="row"> <div class="truncate-150"><a href="#">0xfa0f9337cfc3355c4900b912e7077e74ed9ec3ae6bce6f837db138a07dfc391e</a></div>  </td>
                   <td> <a href="#">5945674</a></td>
                   <td>2 hrs 32 minutes ago</td>
                   <td> 
                    <div class="truncate-150 pull-left"><a href="#">0x32f36aea8f3328191a1bcb81d13e512c5f249909</a></div>
                    <span class="badge badge-success pull-right" style="background: #5CB85C;padding: 5px 10px;border-radius: 5px; margin-right: 15px;">IN</span>
                  </td>
                   <td> 
                    <div class="truncate-150 pull-left"><a href="#">0x4df2367b2872be75370798d04ef76ecf712b3083</a></div>
                  </td>     
                  <td>0.001</td>  
                  <td>0.000621624</td>           
                </tr>
                <tr>
                   <td scope="row"> <div class="truncate-150"><a href="#">0xfa0f9337cfc3355c4900b912e7077e74ed9ec3ae6bce6f837db138a07dfc391e</a></div>  </td>
                   <td> <a href="#">5945674</a></td>
                   <td>2 hrs 32 minutes ago</td>
                   <td> 
                    <div class="truncate-150 pull-left"><a href="#">0x32f36aea8f3328191a1bcb81d13e512c5f249909</a></div>
                    <span class="badge badge-success pull-right" style="background: #5CB85C;padding: 5px 10px;border-radius: 5px; margin-right: 15px;">IN</span>
                  </td>
                   <td> 
                    <div class="truncate-150 pull-left"><a href="#">0x4df2367b2872be75370798d04ef76ecf712b3083</a></div>
                  </td>     
                  <td>0.001</td>  
                  <td>0.000621624</td>           
                </tr>
                <tr>
                   <td scope="row"> <div class="truncate-150"><a href="#">0xfa0f9337cfc3355c4900b912e7077e74ed9ec3ae6bce6f837db138a07dfc391e</a></div>  </td>
                   <td> <a href="#">5945674</a></td>
                   <td>2 hrs 32 minutes ago</td>
                   <td> 
                    <div class="truncate-150 pull-left"><a href="#">0x32f36aea8f3328191a1bcb81d13e512c5f249909</a></div>
                    <span class="badge badge-success pull-right" style="background: #5CB85C;padding: 5px 10px;border-radius: 5px; margin-right: 15px;">IN</span>
                  </td>
                   <td> 
                    <div class="truncate-150 pull-left"><a href="#">0x4df2367b2872be75370798d04ef76ecf712b3083</a></div>
                  </td>     
                  <td>0.001</td>  
                  <td>0.000621624</td>           
                </tr>                                                
              </tbody>
            </table>
          </div>
        </div>
      </div>



    </div>