<app-dashboard-header></app-dashboard-header>

<div class="container-fluid npl npr brand-color-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-white p-5 text-left">
        <div class="text-left">
          <h1 class="animated slideInDown" style="font-size: 40px; margin-top: 137px; font-weight: 600;">Crowdsale <span>Dashboard</span> </h1>
        </div>
      
        <div class="container-fluid" style="margin-bottom: 50px;">
          <app-timeline></app-timeline>        
        </div>
      </div>
    </div>    
  </div>
  <img style="width: 100%;position: relative;margin-top: -57px;" src="../../assets/wave2.png">
</div>

<div class="container-fluid" style="background-color: #f4fcff;">
  <div class="container" style="margin-top: 40px;">
    <div class="row">
      <div class="col-xs-6 col-md-2 text-center" style="border-right: thin solid #9acce0;">
        <h3 style="font-weight: 300; color: #166888;">
          10 Million<br>
          <span style="font-size: 16px;">Soft cap</span>
        </h3>
      </div>
      <div class="col-xs-6 col-md-2 text-center" style="border-right: thin solid #9acce0;">
        <h3 style="font-weight: 300; color: #166888;">
          30 Million<br>
          <span style="font-size: 16px;">Hard cap</span>
        </h3>
      </div>      
      <div class="col-xs-6 col-md-2 text-center" style="border-right: thin solid #9acce0;">
        <h3 style="font-weight: 300; color: #166888;">
          445 M<br>
          <span style="font-size: 16px;">Total Supply</span>
        </h3>
      </div>
      <div class="col-xs-6 col-md-2 text-center" style="border-right: thin solid #9acce0;">
        <h3 style="font-weight: 300; color: #166888;">
          49k CLC<br>
          <span style="font-size: 16px;">Equals 1 ETH</span>
        </h3>
      </div>
      <div class="col-xs-6 col-md-2 text-center" style="border-right: thin solid #9acce0;">
        <h3 style="font-weight: 300; color: #166888;">
          60 Days<br>
          <span style="font-size: 16px;">ICO ends</span>
        </h3>
      </div>
      <div class="col-xs-6 col-md-2 text-center">
        <h3 style="font-weight: 300; color: #166888;">
          ETH, BTC<br>
          <span style="font-size: 16px;">Currency</span>
        </h3>
      </div>                             
    </div>
    
  </div>
  <div class="container-fluid" style="margin-top:40px; margin-bottom: 50px; max-width: 1200px;">
  <div appEqualHeightCol class="row">
    <div class="col col-sm-4 nrp padding-right-mobile" style="margin-bottom: 15px;">
      <app-lg-txt-w-button
      title="Balance"
      bodyText="0"
      subText="TOKENS"
      ></app-lg-txt-w-button>
    </div>
    <div class="col col-sm-4" style="margin-bottom: 15px;"> 
      <app-qr-card 
      title="Pay with Bitcoin" 
      address="0x624D5050b12154Eb29BEc54B8faAeC3A3c01bDD6" 
      minimum="Minimum payment 0.01 BTC"
      qrImageUrl="../../assets/qr.png"
      >
      </app-qr-card>
    </div>
    <div class="col col-sm-4 nlp padding-left-mobile" style="margin-bottom: 15px;">
      <app-qr-card 
      title="Pay with Ethereum" 
      address="0x624D5050b12154Eb29BEc54B8faAeC3A3c01bDD6" 
      minimum="Minimum payment 0.01 ETH"
      qrImageUrl="../../assets/qr.png"
      >
      </app-qr-card>
    </div>        
  </div>


  <div appEqualHeightCol class="row">
    <div class="col-sm-4 nrp padding-right-mobile" style="margin-bottom: 15px;">
        <app-countdown></app-countdown>
    </div>

    <div class="col-sm-4" style="margin-bottom: 15px;">
      <app-exchange-rate></app-exchange-rate>
    </div>

    <div class="col-sm-4 nlp padding-left-mobile" style="margin-bottom: 15px;">
      <app-video-card></app-video-card>             
    </div>
  </div>


<!--   <div class="row" style="margin-bottom: 50px;">
    <div class="col-md-12">
      <h2 style="margin-top: 20px;">Transactions</h2>
      <div style="margin-top: 35px;">
        <app-transaction-table></app-transaction-table>
      </div>
    </div>
  </div> -->

  </div>
</div>



   
