<app-dashboard-header></app-dashboard-header>

<div class="container-fluid member-container">
    <table class="hidden-xs">
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Type</th>
        <th>Amount</th>
        <th>Status</th>
      </tr>
      <tr>
        <td>05/21/2018</td>
        <td>09:07</td>
        <td>Pre-Sale Token</td>
        <td>0.023537 BTC</td>
        <td><div class="status pending"><i class="far fa-clock"></i>&nbsp;PENDING</div></td>
      </tr>
      <tr>
        <td>05/20/2018</td>
        <td>14:21</td>
        <td>Pre-Sale Token</td>
        <td>0.15368 BTC</td>
        <td><div class="status accepted"><i class="far fa-check-square"></i>&nbsp;ACCEPTED</div></td>
      </tr>
      <tr>
        <td>05/18/2018</td>
        <td>19:54</td>
        <td>Pre-Sale Token</td>
        <td>0.040371 BTC</td>
        <td><div class="status rejected"><i class="far fa-times-circle"></i>&nbsp;REJECTED</div></td>
      </tr>
    </table>

    <!-- Mobile Layout -->
    <!-- https://www.w3schools.com/howto/howto_js_accordion.asp -->
    <div class="hidden-sm hidden-md hidden-lg hidden-xl">
      <br>
      <br>
      <button class="accordion">Transaction 3</button>
      <div class="panel">
        <ul>
          <li>
            <p><b>Date:&nbsp;</b></p>
            <p>05/21/2018</p>
          </li>
          <li>
            <p><b>Time:&nbsp;</b></p>
            <p>09:07</p>
          </li>
          <li>
            <p><b>Type:&nbsp;</b></p>
            <p>Pre-Sale Token</p>
          </li>
          <li>
            <p><b>Amount:&nbsp;</b></p>
            <p>0.023537 BTC</p>
          </li>
          <li>
            <p><b>Status:&nbsp;</b></p>
            <div class="status pending"><i class="far fa-clock"></i>&nbsp;PENDING</div>
          </li>
        </ul>
      </div>
      <br>
      <br>

      <button class="accordion">Transaction 2</button>
      <div class="panel">
        <ul>
          <li>
            <p><b>Date:&nbsp;</b></p>
            <p>05/20/2018</p>
          </li>
          <li>
            <p><b>Time:&nbsp;</b></p>
            <p>14:21</p>
          </li>
          <li>
            <p><b>Type:&nbsp;</b></p>
            <p>Pre-Sale Token</p>
          </li>
          <li>
            <p><b>Amount:&nbsp;</b></p>
            <p>0.15368 BTC</p>
          </li>
          <li>
            <p><b>Status:&nbsp;</b></p>
            <div class="status accepted"><i class="far fa-check-square"></i>&nbsp;ACCEPTED</div>
          </li>
        </ul>
      </div>
      <br>
      <br>

      <button class="accordion">Transaction 1</button>
      <div class="panel">
        <ul>
          <li>
            <p><b>Date:&nbsp;</b></p>
            <p>05/18/2018</p>
          </li>
          <li>
            <p><b>Time:&nbsp;</b></p>
            <p>19:54</p>
          </li>
          <li>
            <p><b>Type:&nbsp;</b></p>
            <p>Pre-Sale Token</p>
          </li>
          <li>
            <p><b>Amount:&nbsp;</b></p>
            <p>0.040371 BTC</p>
          </li>
          <li>
            <p><b>Status:&nbsp;</b></p>
            <div class="status rejected"><i class="far fa-times-circle"></i>&nbsp;REJECTED</div>
          </li>
        </ul>
      </div>
    </div>

  </div>