<div class="bounty">
<app-homepage-header></app-homepage-header>

<div class="content">
  <div class="row top-tab">
    <div class="col-md-12">

      <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#tab1">Bounty Program</a></li>
          <li><a data-toggle="tab" href="#tab2">Tab2</a></li>
          <li><a data-toggle="tab" href="#tab3">Tab3</a></li>
          <li><a data-toggle="tab" href="#tab4">Tab4</a></li>
          <li><a data-toggle="tab" href="#tab5">Tab5</a></li>
      </ul>

      <div class="tab-content">
          <div id="tab1" class="tab-pane fade in active">
              <h2>CLICKTOOL BOUNTY CAMPAIGN</h2>
              <p>Register for our official bounty program and earn CLC tokens</p>
              <div class="col-md-12">
                <div class="tab1-elem">
                  <div class="inner-elem">
                    <img class="avatar-gear" src="../assets/avatar-gear.png" alt="gear">
                    <img src="../assets/tab-social.png" class="inner-image" alt="Avatar">
                  </div>
                  <h3>Social Media</h3>
                </div>
                <div class="tab1-elem">
                  <div class="inner-elem">
                    <img class="avatar-gear" src="../assets/avatar-gear.png" alt="gear">
                    <img src="../assets/tab-sticky.png" class="inner-image" alt="Avatar">
                  </div>
                  <h3>Content Creation</h3>
                </div>
                <div class="tab1-elem">
                  <div class="inner-elem">
                    <img class="avatar-gear" src="../assets/avatar-gear.png" alt="gear">
                    <img src="../assets/tab-sound.png" class="inner-image" alt="Avatar">
                  </div>
                  <h3>PR/Media Referral</h3>
                </div>
                <div class="tab1-elem">
                  <div class="inner-elem">
                    <img class="avatar-gear" src="../assets/avatar-gear.png" alt="gear">
                    <img src="../assets/tab-forum.png" class="inner-image" alt="Avatar">
                  </div>
                  <h3>Translation and Forum Moderation</h3>
                </div>
                <div class="tab1-elem">
                  <div class="inner-elem">
                    <img class="avatar-gear" src="../assets/avatar-gear.png" alt="gear">
                    <img src="../assets/bitcoin.png" class="inner-image" alt="Avatar">
                  </div>
                  <h3>Signature</h3>
                </div>          
              </div>
          </div>

          <div id="tab2" class="tab-pane fade">
              <h2>Tab 2</h2>
          </div>

          <div id="tab3" class="tab-pane fade">
              <h2>Tab 3</h2>
          </div>          

          <div id="tab4" class="tab-pane fade">
              <h2>Tab 4</h2>
          </div>
          <div id="tab5" class="tab-pane fade">
            <h2>Tab 5</h2>
          </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>