.tab-content .active {
    background: white;
}
.top-tab .nav {
    background: #1db8d3;
    border-bottom: 0;
}

.top-tab .nav li {
    width: 20%;
    text-align: center;
    margin-bottom: 0;
}

.top-tab .nav a {
    background: #1db8d3;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background: #008ca5;
    color: white;
    border: 0;
    margin-right: 0;
}
.top-tab .nav-tabs>li>a:hover {
    border: 0;
}
.top-tab .tab-pane{
    text-align: center;
    padding: 15px 0;
    background: #f5f6f5;
}
.tab-content .tab-pane .tab-container {
    min-height: 315px;
    margin-bottom: 35%;
    background: #f5f6f5;
}
.top-tab .tab-pane h2 {
    color: #15465d;
}
.top-tab .tab-pane p {
    font-size: 14px;
    font-weight: 500;
}
.tab1-elem {
    width: 20%;
    float: left;
    position: relative;
    top: 70px;
    text-align: center;
}
.tab1-elem .inner-image{
    width: 150px;
}
.avatar-gear {
    width: 230px;
    position: absolute;
    left: -40px;
    bottom: -30px;    
}
.inner-elem {
    display: inline-block;
    position: relative;
}
.tab1-elem h3 {
    position: relative;
    top: 30px;
    color: #008ca5;
}
.tab1-elem:hover {
    cursor: pointer;
}
.tab1-elem:hover .avatar-gear {
    -webkit-animation: smallRotate 1s ease;
            animation: smallRotate 1s ease;
    transform: rotate(95deg);
    -moz-transform: rotate(95deg);
    -webkit-transform: rotate(95deg);
    -o-transform: rotate(95deg);
    -ms-transform: rotate(95deg);
}
@media only screen and (min-width: 768px) and (max-width: 1169px) {
    .tab1-elem {
        width: 33.33%;
    }
    .tab1-elem:nth-child(4), .tab1-elem:last-child {
        padding-top: 100px;
    }
    .tab-content .tab-pane .tab-container {
        height: 600px;
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 460px) and (max-width: 767px) {
    .tab1-elem {
        width: 50%;
    }
    .tab1-elem:nth-child(3), .tab1-elem:nth-child(4), .tab1-elem:last-child {
        padding-top: 100px;
    }
    .tab-content .tab-pane .tab-container {
        height: 900px;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 469px) {
    .tab1-elem {
        width: 100%;
    }
    .tab1-elem:nth-child(2), .tab1-elem:nth-child(3), .tab1-elem:nth-child(4), .tab1-elem:last-child {
        padding-top: 100px;
    }
    .tab-content .tab-pane .tab-container {
        height: 1420px;
        margin-bottom: 0;
    }
}
@media only screen and (max-width: 991px) {
    .top-tab .nav li{
        width: 100%;
        float: initial;
    }
}
.tab-header {
    min-height: 53px !important;
}

#tab2 p{
    text-align: left;
}
.column img {
    width: 100%; 
    height: initial;
}