<div class="bounty">
  <app-homepage-header></app-homepage-header>

  <div class="content">
    <div class="row top-tab">
      <div class="col-md-12 tab-container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab1">Bounty Program</a></li>
            <li><a data-toggle="tab" href="#tab2">Bug Bounty</a></li>
            <li><a data-toggle="tab" href="#tab3">SDK</a></li>
            <li><a data-toggle="tab" href="#tab4">Community Bounty</a></li>
            <li><a data-toggle="tab" href="#tab5">Tab5</a></li>
        </ul>

        <div class="tab-content">
          <div id="tab1" class="tab-pane fade in active">
            <div class="row">
              <div class="col-md-12 tab-header">
                <h2>CLICKTOOL BOUNTY CAMPAIGN</h2>
                <p>Register for our official bounty program and earn CLC tokens</p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 tab-container">
                <a href="">
                  <div class="tab1-elem">
                    <div class="inner-elem">
                      <img class="avatar-gear" src="../assets/avatar-gear.png" alt="gear">
                      <img src="../assets/tab-social.png" class="inner-image" alt="Avatar">
                    </div>
                    <h3>Social Media</h3>
                  </div>
                </a>
                <a href="">
                  <div class="tab1-elem">
                    <div class="inner-elem">
                      <img class="avatar-gear" src="../assets/avatar-gear.png" alt="gear">
                      <img src="../assets/tab-sticky.png" class="inner-image" alt="Avatar">
                    </div>
                    <h3>Content Creation</h3>
                  </div>
                </a>
                <a href="">
                  <div class="tab1-elem">
                    <div class="inner-elem">
                      <img class="avatar-gear" src="../assets/avatar-gear.png" alt="gear">
                      <img src="../assets/tab-sound.png" class="inner-image" alt="Avatar">
                    </div>
                    <h3>PR/Media Referral</h3>
                  </div>
                </a>
                <a href="">
                  <div class="tab1-elem">
                    <div class="inner-elem">
                      <img class="avatar-gear" src="../assets/avatar-gear.png" alt="gear">
                      <img src="../assets/tab-forum.png" class="inner-image" alt="Avatar">
                    </div>
                    <h3>Translation and Forum Moderation</h3>
                  </div>
                </a>
                <a href="">
                  <div class="tab1-elem">
                    <div class="inner-elem">
                      <img class="avatar-gear" src="../assets/avatar-gear.png" alt="gear">
                      <img src="../assets/bitcoin.png" class="inner-image" alt="Avatar">
                    </div>
                    <h3>Signature</h3>
                  </div>   
                </a>       
              </div>
            </div>
          </div>

          <div id="tab2" class="tab-pane fade">
            <div class="row">
              <div class="col-md-12 tab-header">
                <h2>Bug Bounty</h2>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-12 tab-container">
                <p>From the outset, the code base underpinning the Tezos protocol has been engineered with security in mind. Although no system can be completely secure, every system can be continuously improved towards that goal. HackerOne, a San Francisco-based cybersecurity company, will deploy and manage a bug bounty program in an effort to steadily improve the overall security of Tezos.</p>
                <p>Bug bounties offer an attractive way for potential security vulnerabilities to be reported. A bounty payout will depend on the severity of the disclosed vulnerability. In order to encourage responsible disclosure, researchers who point out potential vulnerabilities will not face legal action provided they make a best effort approach to report their findings and comply with the terms of the program.</p>
              </div>
            </div>
          </div>

          <div id="tab3" class="tab-pane fade">
            <div class="row">
              <div class="col-md-12 tab-header">
                <h2>SDK</h2>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 tab-container">
                
              </div>
            </div>
          </div>          

          <div id="tab4" class="tab-pane fade">
            <div class="row">
              <div class="col-md-12 tab-header">
                <h2>Community Bounty</h2>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-12 tab-container">
                  <div data-v-7a026740="" class="columns program-list"><div data-v-7a026740="" class="column is-4"><a data-v-7a026740="" href="https://medium.com/@vechainofficial/the-first-community-video-contest-of-the-vechain-video-contest-series-c7490c455edd" target="_blank" class="program-inner"><img data-v-7a026740="" src="https://cdn.vechain.com/org/files/images/2018-02-04/5a7721eb92c9e.jpg"><h3 data-v-7a026740="">VeChain Video Contest</h3><div data-v-7a026740="">Feb 25th 2018</div></a></div><div data-v-7a026740="" class="column is-4"><a data-v-7a026740="" href="https://twitter.com/vechainofficial/status/958923349912043521" target="_blank" class="program-inner"><img data-v-7a026740="" src="https://cdn.vechain.com/org/files/images/2018-02-25/5a91a2e9b3e7b.jpg"><h3 data-v-7a026740="">VeChain Slogan Contest</h3><div data-v-7a026740="">Feb 25th 2018</div></a></div></div>
              </div>
            </div>
          </div>

          <div id="tab5" class="tab-pane fade">
            <div class="row">
              <div class="col-md-12 tab-header">
                <h2>Tab 5</h2>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-12 tab-container">
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>