<div class="white-bg break-txt" style="padding: 10px;">
  <table class="table">
    <thead>
      <tr>
        <th width="150" scope="col">TxHash</th>
        <th width="100" scope="col">Block</th>
        <th width="150" scope="col">Age</th>
        <th width="300" scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Value</th>
        <th scope="col"> <span class="text-muted">[TxFee]</span> </th>
      </tr>
    </thead>
    <tbody>
      <tr>
         <td scope="row"> <div class="truncate-150"><a href="#">0xfa0f9337cfc3355c4900b912e7077e74ed9ec3ae6bce6f837db138a07dfc391e</a></div>  </td>
         <td> <a href="#">5945674</a></td>
         <td>2 hrs 32 minutes ago</td>
         <td> 
          <div class="truncate-150 pull-left"><a href="#">0x32f36aea8f3328191a1bcb81d13e512c5f249909</a></div>
          <span class="badge badge-success pull-right" style="background: #5CB85C;padding: 5px 10px;border-radius: 5px; margin-right: 15px;">IN</span>
        </td>
         <td> 
          <div class="truncate-150 pull-left"><a href="#">0x4df2367b2872be75370798d04ef76ecf712b3083</a></div>
        </td>     
        <td>0.001</td>  
        <td>0.000621624</td>           
      </tr>
      <tr>
         <td scope="row"> <div class="truncate-150"><a href="#">0xfa0f9337cfc3355c4900b912e7077e74ed9ec3ae6bce6f837db138a07dfc391e</a></div>  </td>
         <td> <a href="#">5945674</a></td>
         <td>2 hrs 32 minutes ago</td>
         <td> 
          <div class="truncate-150 pull-left"><a href="#">0x32f36aea8f3328191a1bcb81d13e512c5f249909</a></div>
          <span class="badge badge-success pull-right" style="background: #5CB85C;padding: 5px 10px;border-radius: 5px; margin-right: 15px;">IN</span>
        </td>
         <td> 
          <div class="truncate-150 pull-left"><a href="#">0x4df2367b2872be75370798d04ef76ecf712b3083</a></div>
        </td>     
        <td>0.001</td>  
        <td>0.000621624</td>           
      </tr>
      <tr>
         <td scope="row"> <div class="truncate-150"><a href="#">0xfa0f9337cfc3355c4900b912e7077e74ed9ec3ae6bce6f837db138a07dfc391e</a></div>  </td>
         <td> <a href="#">5945674</a></td>
         <td>2 hrs 32 minutes ago</td>
         <td> 
          <div class="truncate-150 pull-left"><a href="#">0x32f36aea8f3328191a1bcb81d13e512c5f249909</a></div>
          <span class="badge badge-success pull-right" style="background: #5CB85C;padding: 5px 10px;border-radius: 5px; margin-right: 15px;">IN</span>
        </td>
         <td> 
          <div class="truncate-150 pull-left"><a href="#">0x4df2367b2872be75370798d04ef76ecf712b3083</a></div>
        </td>     
        <td>0.001</td>  
        <td>0.000621624</td>           
      </tr>
      <tr>
         <td scope="row"> <div class="truncate-150"><a href="#">0xfa0f9337cfc3355c4900b912e7077e74ed9ec3ae6bce6f837db138a07dfc391e</a></div>  </td>
         <td> <a href="#">5945674</a></td>
         <td>2 hrs 32 minutes ago</td>
         <td> 
          <div class="truncate-150 pull-left"><a href="#">0x32f36aea8f3328191a1bcb81d13e512c5f249909</a></div>
          <span class="badge badge-success pull-right" style="background: #5CB85C;padding: 5px 10px;border-radius: 5px; margin-right: 15px;">IN</span>
        </td>
         <td> 
          <div class="truncate-150 pull-left"><a href="#">0x4df2367b2872be75370798d04ef76ecf712b3083</a></div>
        </td>     
        <td>0.001</td>  
        <td>0.000621624</td>           
      </tr>
      <tr>
         <td scope="row"> <div class="truncate-150"><a href="#">0xfa0f9337cfc3355c4900b912e7077e74ed9ec3ae6bce6f837db138a07dfc391e</a></div>  </td>
         <td> <a href="#">5945674</a></td>
         <td>2 hrs 32 minutes ago</td>
         <td> 
          <div class="truncate-150 pull-left"><a href="#">0x32f36aea8f3328191a1bcb81d13e512c5f249909</a></div>
          <span class="badge badge-success pull-right" style="background: #5CB85C;padding: 5px 10px;border-radius: 5px; margin-right: 15px;">IN</span>
        </td>
         <td> 
          <div class="truncate-150 pull-left"><a href="#">0x4df2367b2872be75370798d04ef76ecf712b3083</a></div>
        </td>     
        <td>0.001</td>  
        <td>0.000621624</td>           
      </tr>
      <tr>
         <td scope="row"> <div class="truncate-150"><a href="#">0xfa0f9337cfc3355c4900b912e7077e74ed9ec3ae6bce6f837db138a07dfc391e</a></div>  </td>
         <td> <a href="#">5945674</a></td>
         <td>2 hrs 32 minutes ago</td>
         <td> 
          <div class="truncate-150 pull-left"><a href="#">0x32f36aea8f3328191a1bcb81d13e512c5f249909</a></div>
          <span class="badge badge-success pull-right" style="background: #5CB85C;padding: 5px 10px;border-radius: 5px; margin-right: 15px;">IN</span>
        </td>
         <td> 
          <div class="truncate-150 pull-left"><a href="#">0x4df2367b2872be75370798d04ef76ecf712b3083</a></div>
        </td>     
        <td>0.001</td>  
        <td>0.000621624</td>           
      </tr>
      <tr>
         <td scope="row"> <div class="truncate-150"><a href="#">0xfa0f9337cfc3355c4900b912e7077e74ed9ec3ae6bce6f837db138a07dfc391e</a></div>  </td>
         <td> <a href="#">5945674</a></td>
         <td>2 hrs 32 minutes ago</td>
         <td> 
          <div class="truncate-150 pull-left"><a href="#">0x32f36aea8f3328191a1bcb81d13e512c5f249909</a></div>
          <span class="badge badge-success pull-right" style="background: #5CB85C;padding: 5px 10px;border-radius: 5px; margin-right: 15px;">IN</span>
        </td>
         <td> 
          <div class="truncate-150 pull-left"><a href="#">0x4df2367b2872be75370798d04ef76ecf712b3083</a></div>
        </td>     
        <td>0.001</td>  
        <td>0.000621624</td>           
      </tr>
      <tr>
         <td scope="row"> <div class="truncate-150"><a href="#">0xfa0f9337cfc3355c4900b912e7077e74ed9ec3ae6bce6f837db138a07dfc391e</a></div>  </td>
         <td> <a href="#">5945674</a></td>
         <td>2 hrs 32 minutes ago</td>
         <td> 
          <div class="truncate-150 pull-left"><a href="#">0x32f36aea8f3328191a1bcb81d13e512c5f249909</a></div>
          <span class="badge badge-success pull-right" style="background: #5CB85C;padding: 5px 10px;border-radius: 5px; margin-right: 15px;">IN</span>
        </td>
         <td> 
          <div class="truncate-150 pull-left"><a href="#">0x4df2367b2872be75370798d04ef76ecf712b3083</a></div>
        </td>     
        <td>0.001</td>  
        <td>0.000621624</td>           
      </tr>
      <tr>
         <td scope="row"> <div class="truncate-150"><a href="#">0xfa0f9337cfc3355c4900b912e7077e74ed9ec3ae6bce6f837db138a07dfc391e</a></div>  </td>
         <td> <a href="#">5945674</a></td>
         <td>2 hrs 32 minutes ago</td>
         <td> 
          <div class="truncate-150 pull-left"><a href="#">0x32f36aea8f3328191a1bcb81d13e512c5f249909</a></div>
          <span class="badge badge-success pull-right" style="background: #5CB85C;padding: 5px 10px;border-radius: 5px; margin-right: 15px;">IN</span>
        </td>
         <td> 
          <div class="truncate-150 pull-left"><a href="#">0x4df2367b2872be75370798d04ef76ecf712b3083</a></div>
        </td>     
        <td>0.001</td>  
        <td>0.000621624</td>           
      </tr>
      <tr>
        <td colspan="7 text-center" style="text-align: center;">
          <strong>1 of 100</strong>
          - 
          of <strong>100</strong>
          <a class="pull-left" href="#"> <strong>Previuos</strong></a>
          <a class="pull-right" href="#"> <strong>Next</strong> </a>
        </td>
      </tr>                                                     
    </tbody>
  </table>
</div>
