@font-face {
  font-family: ok;
  src: url(./assets/orange kid.ttf) format("opentype");
}

button:focus {
  outline:none !important;
}

.form-group input {
  margin-bottom: 10px;
}

.no-padding-right-odd.row .col:nth-child(odd) {
  padding-right: 0;
} 

.form-control.style1 {
  border: none;
  box-shadow: none;
  border-radius: 0;
  border-bottom: thin solid #e2e2e2;
  padding-left: 0;
  padding-right: 0;  
}
.form-control.style1:focus {
  border-bottom-color: #28CAE8;
}
.form-control.style1::placeholder {
  color: #666;
  font-weight: 300;
}

.nmb {
  margin-bottom: 0 !important;
}

.form-toggler-container app-form-toggler:last-child .bb {
  border-bottom: 0;
}

.form-toggler-content {
  background-color: #f7f7f7;
}
.form-toggler-content input {
    width: 100%;
    padding: 7px 12px;
    font-size: 16px;
}

.badge-danger {
  background-color: red;
  color: #FFF;
}

.p-rel {
  position: relative;
}

.hoverable-row:hover {
  background: #f7fafb;
}

.full-link {
    position: absolute;
    left: 0;
    z-index: 9000;
    right: 0;
    width: 100%;
    top: 0;
    bottom: 0;
}

.title-bb {
    display: block;
    padding: 15px;
    font-weight: bold;
}

.mw-900 {
  max-width: 900px;
}

.sidenav-2 > li > a {
  display: block;
  padding: 5px 12px;
  color: #000;
}

.sidenav-2 > li > a > i {
    font-size: 16px;
    top: 2px;
    position: relative;
}
.sidenav-2 > li > a.active-link {
  background: #1fa7d721;
}

.npr {
  padding-right: 0;
}
.npl {
  padding-left: 0;
}

.br {
  border-right: thin solid #dadada;
}
.bb {
  border-bottom: thin solid #dadada;
}
.bl {
  border-left: thin solid #dadada;
}

.search-input {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    border: thin solid #cacaca;
    padding: 7px 15px;
    border-radius: 20px;
    margin-top: 11px;
    position: relative;
    min-width: 350px;
    font-size: 12px;
    outline: none;
    box-shadow: 1px 1px 1px inset rgba(0,0,0,0.1);
    position: relative;
    top: -5px;
}
.search-input:focus {
  border-color: #29a6d3;
}

.search-input:focus {
  outline: none;
}

.btn-lg-outline {
    padding: 10px 12px !important;
    border-radius: 40px !important;
}

.btn.active, .btn:active {
  box-shadow: none;
}

.dash-logo {
    margin-top: 10px;
    margin-left: 10px;
}

.prim-btn-outline {
    border: thin solid #37a2cd;
    background: transparent;
    border-radius: 23px;
    color: #000;
}
.prim-btn-outline:hover {
  background: #37a2cd;
  color: #FFF;
}

.btn-lg-txt {
  font-size: 22px;
}

.fixed-header {
    position: fixed;
    z-index: 1000;
    background: #FFF;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.fixed-header a {
  color: #000;
}
.fixed-header i {
  color: #bdbdbd;
}

.main-nav {
  margin-right: 10px;
}

.main-nav .dropdown-menu {
  padding: 0;
}

.main-nav .list-inline-item a{
  display: block;

}

.main-nav .list-inline-item > a{
  padding: 13px 5px;
}

.main-nav .dropdown-menu a {
  display: block;
  padding: 10px;
  border-bottom: thin solid #dedede;
}
.main-nav .dropdown-menu a:last-child {
  border-bottom: none;
}

.full-width-list {
  width: 100%;
  display: table;
}
.full-width-list li {
  display: table-cell;
}

.list-with-border li {
  border-right: thin solid #dadada;
}
.list-with-border li:last-child {
  border-right: none;
}

.text-muted {
  color: #b5b5b5;
}

.break-txt {
  word-break: break-all;
}

.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

* {
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
}

h1,h2,h3,h4,h5,h6,p,ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}

input[type="submit"] {
  border: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F5F5F5;
}

.btn-group.btn-group-block {
  display: flex;
}
.btn-group.btn-group-block button{
  flex-grow: 1;
}

.btn.btn-primary {
  border-radius: 5px;
  background: #29a6d3;
  border: none; 
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  padding-right: 18px;
}

.btn.btn-primary.btn-primary-i {
  padding-right: 55px;
}
.btn.btn-primary.btn-primary-i i{
    position: absolute;
    font-size: 40px;
    margin-top: -8px;
    margin-left: 6px;  
}

.btn-primary.active {
  background-color: #082036 !important;
  background-image: none;
}

.active:after {
  content: "" !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.text-danger {
  color: red;
}

input.has-danger {
  border: thin solid red !important;
}

input[type="radio"] {
  margin: 0 5px 0 0;
  vertical-align: middle;
}

input[type="checkbox"] {
  margin: 0 5px 0 0;
}

.table-responsive {
  border: none;
  padding: 0;
  margin: 0;
}

table {
  width: 100%;
}


table tbody td {
  text-align: center;
  white-space: nowrap;
}

.reg-form input[type="text"],.reg-form input[type="email"],.reg-form input[type="password"] {
  background: transparent none repeat scroll 0 0;
  border-color: -moz-use-text-color -moz-use-text-color #2cb8d1;
  border-radius: 5px;
  border-style: none;
  box-shadow: 0px 0px 3px #D9D9D9;
  color: #2cb8d1;
  font-family: open sans;
  font-size: 14px;
  height: 40px;
  outline: medium none;
  padding: 0 11px 0 55px;
  transition: all 0.3s ease 0s;
  width: 100%;
}

.reg-form input[type="text"]:active,.reg-form input[type="email"]:active,.reg-form input[type="password"]:active,.reg-form input[type="text"]:focus,.reg-form input[type="email"]:focus,.reg-form input[type="password"]:focus {
  border-bottom: 4px solid #2cb8d1;
  transition: all 0.3s ease 0s;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  opacity: 1;
}

::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 1;
}

:-ms-input-placeholder {
  /* IE 10+ */
  opacity: 1;
}

:-moz-placeholder {
  /* Firefox 18- */
  opacity: 1;
}



/* Navbar and Language Bar */

.indextopsection {
  background: #1db8d3 none repeat scroll 0 0;
}

.language {
  text-align: right;
}

.language button {
  font-family: 'Montserrat', sans-serif;
  background: transparent none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  font-size: 14px;
  padding: 5px 0;
}

header {
  top: 0;
  width: 100%;
  z-index: 2;
}

header .navbar {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-color: -moz-use-text-color -moz-use-text-color #1db8d3;
  border-radius: 0;
  border-style: none none solid;
  border-width: medium medium 1px;
  margin: 0;
  min-height: auto;
}

.navbar {
  display: flex;
  align-items: center;
}

#myNavbar {
  margin-left: 10px;
}

#myNavbar a {
  color: #1db8d3;
  font-size: 20px;
  font-weight: 300;
  margin: 0px;
}

#myNavbar a:hover {
  background-color: #1db8d3 !important;
}

header .navbar-nav > li {
  padding: 0;
}

header .navbar-nav > li > a {
  font-family: "Montserrat",sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 0 5px;
  padding: 26px 12px;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
}

header .navbar-nav > li > a:hover {
  color: #fff !important;
  transition: .3s;
}

header .navbar-right {
  margin: 0;
}

header .navbar-collapse {
  padding: 0;
  box-shadow: none;
}

header .navbar-header a {
  display: inline-block;
}

header .navbar-header a img {
  display: inline-block;
}

.nav-logo {
  height: 60px;
  width: 60px;
}

.slider {
  width: 500px;
  background: rgba(0,0,0,0);
}

.top-section {
  overflow: hidden;
  word-wrap: break-word;
  width: 100vw;
}

/* Non-index page classes and unused classes */

/* faq content */

.videdes span {
  bottom: 0;
  height: 349px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 475px;
}

.videdes span img {
  padding: 140px 0 0;
}

.videdes {
  position: absolute;
}

.videdes  img {
  display: inline-block;
}

.videdes {
  position: relative;
  text-align: center;
  margin-top: 12px;
  padding: 15px;
}

/* core feature */

.title {
  color: #174a7c;
  display: inline-block;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

.indresgsec .btn-info {
  margin: 25px 0 0;
}

.navbar-shadow {
  box-shadow: 0px 3px 5px -2px #a9a9a9;
}

.navbar-xtra-pad {
  padding: 0px 15px;
}

.icon-bar {
  background-color: #fff;
}

.featuresdes {
  background-color: #2cb8d2;
  padding: 48px 0;
  margin-bottom: -3px;
  z-index: 6;
  position: relative;
}

.title::after {
  bottom: 0;
  content: "";
  height: 27px;
  margin: auto;
  position: absolute;
  right: -41px;
  top: 10px;
  width: 33px;
}

.text-right {
  text-align: right;
}


table tbody tr td {
  background: #fff none repeat scroll 0 0;
  border-bottom: 1px solid #eaeaea;
  color: #000;
  font-size: 13px;
  font-weight: 400;
  padding: 10px 32px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
}

.table-responsive {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.slider_bar {
  display: inline-block;
  padding: 0 0 39px;
  width: 59%;
  position: relative;
}

/* Countdown */

.timer_content {
  width: 100%;
  display: inline-block;
}

.slider-track-high {
  background: #ebebebe;
}

.slider_bar .slider-handle {
  background: #0080ff none repeat scroll 0 0;
  border: 0 solid transparent;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  filter: none;
  height: 24px;
  position: absolute;
  top: 0;
  width: 24px;
}

.slider_bar .slider {
  margin-bottom: 10px;
}

td img {
  display: inline-block !important;
  margin: 0 5px 0 0;
}

.reginr {
  margin: 0 0 21px 0;
  position: relative;
}

.chckbx {
  display: inline-block;
  margin: 14px 0;
}

.chckbx p {
  color: #999999;
  display: inline-block;
  font-family: open sans;
  font-size: 14px;
  text-transform: capitalize;
}

.chckbx span a {
  color: #0080ff;
  float: right;
  font-family: open sans;
}

.reginr > span {
  bottom: 0;
  height: 40px;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
}

.reginr > span i {
  background: #2cb8d1 none repeat scroll 0 0;
  border-radius: 5px 0 0 5px;
  color: #fff;
  display: inline-block;
  font-size: 19px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 40px;
}

/* Media Queries */

@media only screen and (max-width: 1200px) {
  .navbar-collapse {
    border-bottom: medium none;
    border-top: medium none;
    height: auto !important;
    padding-left: 0;
    padding-right: 0;
  }
}


@media only screen and (max-width: 767px) {
  .navbar-toggle {
    background-color: #1db8d3;
    border-radius: 4px;
    margin-top: 18px;
  }

  header .navbar-nav > li > a {
    padding: 6px 0;
  }

  header {
    position: relative;
    top: 0;
  }

  .banners {
    padding: 0 0 35px;
  }

  .referral-container {
    margin-top: -35px !important;
  }

  .mobile-margin {
    margin-top: 90px !important;
  }
}

@media only screen and (max-width: 731px) {
  .reg-border {
    width: 90vw;
  }
}

@media only screen and (max-width:600px) {
  .chckbx span a {
    float: none;
    display: block;
    padding: 10px 0 0 0;
  }

  .navbar-collapse {
    text-align: center;
  }
}

/*Register User CSS*/

body {
  font-family: 'Montserrat' !important;
}

.reg-container {
/*   display: flex;
  justify-content: space-between;
  flex-wrap: wrap; */
  text-align: center;
  margin-top: 20px;
  overflow: hidden;
  min-height: calc(100vh - 114px);
  height: 100%;
  position: relative;
}

.reg-container h1 {
  color: #24537f;
}

.reg-container h3 {
  color: #999999;
}

.reg-border {
  border: 1px solid #E6E6E6;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 1px 1px 3px #F3F3F3;
  width: 40vw;
  position: absolute;
  right: 30%;
}

#reg-form1 {
  text-align: left !important;
}

#reg-form1 h1 {
  text-align: center !important;
}

#reg-form1 h3 {
  text-align: center !important;
}

.reg-form > div {
  margin-top: 30px;
}

.reg-form .chckbx {
  margin: 10px;
}

.reg-button {
  width: 100%;
  height: 50px;
  background-color: #2cb8d1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
  box-shadow: 1px 1px 2px #CCCCCC;
  color: white;
  border: none !important;
}

.reg-button:hover {
  border: none;
  cursor: pointer;
}

.sign-in {
  background-color: #24537f !important;
  border: none;
}

.sign-in:hover {
  background-color: #1D4164 !important;
}

.sign-in:active {
  background-color: #173451 !important;
  box-shadow: none;
}

.back {
  background-color: #fd8a66 !important;
  border: none;
}

.back:hover {
  background-color: #E77E5F !important;
}

.back:active {
  background-color: #C56C52 !important;
  box-shadow: none;
}

.back3 {
  background-color: #F2C442 !important;
  border: none;
}

.back3:hover {
  background-color: #E1B63E !important;
}

.back3:active {
  background-color: #B69433 !important;
  box-shadow: none;
}

.reg-button:active {
  box-shadow: none;
}

.reg-active {
  opacity: 1;
  animation: activeReg 0.6s;
  transform: translateX(0px);
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
}

.reg-image {
  overflow: hidden;
  margin-top: 80px;
  position: absolute;
  left: 0;
}

.reg-image img {
  height: 450px;
  margin-top: -120px;
  margin-right: -520px;
}

.reg-image2 {
  overflow: hidden;
  margin-top: 80px;
  position: absolute;
  right: 0;
}

.reg-image2 img {
  height: 450px;
  margin-top: -50px;
  margin-left: -520px;
}

@media only screen and (max-width: 992px) {
  .reg-border {
    right: 50%;
  }
}

@media only screen and (max-width: 767px) {
  .reg-border {
    width: 80vw;
    right: 10%;
  }
}

#identification-form .reg-form div {
  margin-top: 0;
}

#sign-up2 {
  margin-top: 20px;
}

/* Dashboard */

.member-container {
  background-color: #F5F5F5;
  min-height: 100vh;
}

.mem-box {
  border: 1px solid #CCCCCC;
  padding: 20px;
  margin: 40px;
  background-color: white;
}

.mem-box h3 {
  color: #24537f;
}

.mem-box h1 {
  color: #4C4C4C;
}

.mem-logo {
  display: flex;
  justify-content: center;
}

.lower-mem-section {
  margin: 0 40px;
}

.mem-box-wide {
  border: 1px solid #CCCCCC;
  padding: 20px;
  background-color: white;
  font-size: 14px;
}

.mem-box-wide2 {
  padding: 20px;
  background-color: #fd8a66;
  color: white;
  font-weight: 600;
  font-size: 12px;
}

.mem-form {
  border: 1px solid #CCCCCC;
  padding: 20px;
  background-color: white;
}

.member-container h4 {
  margin-bottom: 7px;
}

.mem-form div {
  display: inline-block;
}

.mem-form input {
  background-color: white;
}

.mem-form h5 {
  margin-bottom: 5px;
}

.mem-button {
  height: 60px;
  width: 250px;
  border-radius: 30px;
  background-color: #fd8a66;
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-shadow: 1px 1px 1px #CCCCCC;
}

.mem-reginr {
  width: 100%;
}

.mem-button:hover {
  cursor: pointer;
  background-color: #DB785A;
}

.mem-button:active {
  box-shadow: none;
  background-color: #B9664D;
}

.mem-button h3 {
  color: white;
}

.mem-button h4 {
  color: white;
  margin: auto;
}

/* Password */

.password-form {
  width: 60vw;
  max-width: 1000px;
  border-radius: 5px;
  background-color: white;
  margin: 30px auto;
  padding: 20px;
  box-shadow: 1px 1px 3px 1px #CCCCCC;
  text-align: center;
}

/* Transactions */

.member-container table {
  width: 80vw;
  max-width: 1400px;
  margin: 40px auto;
}

.member-container th {
  background-color: #24537f;
  color: white;
  padding: 5px;
}

.member-container td {
  padding: 5px;
}

.member-container tr {
  border: 1px solid #CCCCCC;
}

.status {
  border-radius: 3px;
  height: 30px;
  width: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.pending {
  background-color: #fbc943;
}

.accepted {
  background-color: #2cb8d1;
}

.rejected {
  background-color: #fd8a66;
}

/* Style the buttons that are used to open and close the accordion panel */

.accordion {
  background-color: #24537f;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-family: 'Montserrat', 'Arial';
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,.accordion:hover {
  background-color: #317AC5;
}

/* Style the accordion panel. Note: hidden by default */

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-family: 'Montserrat', 'Arial';
  display: none;
}

.accordion:after {
  content: '\f067';
  /* Unicode character for "plus" sign (+) */
  font-family: FontAwesome;
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\f068";
  /* Unicode character for "minus" sign (-) */
}

.panel ul {
  list-style-type: none;
}

.panel li {
  border-bottom: 1px solid #CCCCCC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}

.panel li div {
  margin: 5px;
}

/* Media Queries */

@media only screen and (max-width: 767px) {
  .member-container {
    margin-top: -33px;
  }

  .mem-box {
    margin: 20px auto;
    width: 90vw;
  }

  .lower-mem-section {
    margin: 0 auto;
    width: 90vw;
  }

  .password-form {
    width: 90vw;
  }
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.checkcontainer {
  display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkcontainer input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkcontainer input:checked ~ .checkmark:after {
    display: block;
}

.checkcontainer .checkmark:after {
    left: 10px;
    top: 6px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.bx-wrapper-full {
  top: 36%;
  z-index: 5;
  box-shadow: none;
  background: transparent;
  border: none;
  position: relative;
  height: 20%;
}
.bx-wrapper-full .bx-viewport {
  height: 100% !important;
}
.bx-wrapper-full .bx-viewport .slider {
  height: 100% !important;
}

.new-yellowbox {
  background-color: #feca40;
  border: 3px solid #24537f;
  border-radius: 6px;
  height: 100%;
  width: 18vw !important;
  margin: 0 1vw;
  z-index: 4;
  text-align: center;
}
.new-yellowbox > div {
    font-size: 3.8vw;
    line-height: 3.8vw;
    width: 100%;
    margin-top: 4%;
    font-weight: bold;
    color: #24537f;
}


/* @media (max-width: 575.98px) {
  .new-yellowbox > div {
    font-size: 50px;
    line-height: normal;
  }
}


@media (max-width: 767.98px) {
  .new-yellowbox > div {
    font-size: 30px;
  }
}


@media (max-width: 991.98px) {
  .new-yellowbox > div {
    font-size: 30px;
  }
}


@media (max-width: 1199.98px) {
  .new-yellowbox > div {
    font-size: 30px;
    line-height: normal;
  }
} */

.bx-wrapper-small {
    z-index: 10000;
    position: relative;
}

.new-yellowbox h2 {
  color: #24537f;
}

.sc {
  color: #feca40;
  height: 8vw;
  width: 5vw;
  line-height: 2.2vw;
  z-index: 5;
  text-align: center;
  font-size: 2vw;
  font-family: ok;
}
.sc > div {
  margin-top: 14%;
}

.scBottom {
  color: #feca40;
  width: 5vw;
  height: 3vw;
  z-index: 4;
  text-align: center;
  font-size: 2vw;
  font-family: ok;
  line-height: 2.2vw;
}
.scBottom > div {
  width: 100%;
  margin-top: 1%;
}
.sliderWindowBottom {
  /*top: 43%;*/
}
.bx-wrapper-bottom {
    position: absolute;
    z-index: 1000;
    top: 70%;
    left: 0;
    right: 0;
}
.bx-wrapper-bottom .bx-viewport {
  height: auto !important;
}

.nrp {
  padding-right: 0;
}
.nlp {
  padding-left: 0;
}
@media (max-width: 575.98px) {
  .padding-right-mobile {
    padding-right: 15px;
  }
  .padding-left-mobile {
    padding-left: 15px;
  }
}


@media (max-width: 767px) {
  .scBottom {
    font-size: 5vw;
    height: 9vw;
  } .scBottom > div {
    margin-top: 6%;
  } .sc {
    line-height: 6vw;
    height: 23vw;
    font-size: 7vw !important;
  } .new-yellowbox {
    width: 54vw !important;
    height: 100% !important;
  } .new-yellowbox > div {
    font-size: 10vw;
    line-height: 10vw;
  }
}

.milestone-gear {
  pointer-events: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  left: 0;
  right: 0;
  margin: auto;
  top: 73%;
  position: absolute;
  width: 30%;
  z-index: 6;
}

.brand-color-bg {
  background-color: #36A2CD;
  color: #FFF;
}
.brand-color-txt {
  color: #36A2CD;
}

.timeline-row .timeline-section{
  border-left: thin solid #8BD0EC;
}
.timeline-row .timeline-section-top {
  border-bottom: 7px solid #FFF;
}
.timeline-row .timeline-section-bottom {
  color: #8BD0EC;
  font-weight: bold;
}
.timeline-row .timeline-section-top,
.timeline-row .timeline-section-bottom {
  padding: 10px 20px;
}

.white-bg {
  background-color: #FFF;
}



.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.rslider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 20px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

/* Mouse-over effects */
.rslider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.rslider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #37a2cd; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
}


.rslider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #37a2cd; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
}


.table-row {
  display: table;
}
.table-row .col {
  display: table-cell;
  float: none;
}

.truncate-250 {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-150 {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
