<app-dashboard-header></app-dashboard-header>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<table class="table" style="margin-top: 50px;">
			  <thead>
			    <tr>
			      <th width="600" scope="col">Preview</th>	
			      <th scope="col">Size</th>
			      <th>Download</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let doc of documents.Contents">
			      <td> <img width="500" src="{{ app.bucketUrl }}{{ doc.Key }}"> </td>	
			      <td>{{ doc.Size }}</td>
			      <td>
			      	<a href="{{ app.bucketUrl }}{{ doc.Key }}" class="btn btn-primary">Download</a>
			      </td>
			    </tr>
			  </tbody>
			</table>	
			<h1 style="margin-top: 20px;" *ngIf="documents && documents.Contents == 0">No Documents</h1>		
		</div>
	</div>
</div>