<div class="footerbtm">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h6>© 2018 Clicktool All rights reserved</h6>
      </div>
      <div class="col-md-6">
        <div class="termscontd">
          <ul>
            <!-- <li><a routerLink="/support" href="/support">Support</a></li> -->
            <li><a>Support</a></li>
            <li><a>Privacy</a></li>
            <li><a>Terms and Conditions</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
