<app-dashboard-header></app-dashboard-header>

<div class="container-fluid white-bg bb" style="margin-top: 72px; box-shadow: 1px 1px 1px rgba(0,0,0,0.1);">
	<div class="container mw-900 br bl">
		<div class="row">
			<div class="col-md-3 npr npl">
				<app-settings-nav></app-settings-nav>
			</div>
			<div class="col-md-9 bl form-toggler-container">
				
				<div class="row">
					<div class="col-md-12 bb">
						<h4 class="title-bb">General Account Setttings</h4>
					</div>
				</div>


				<app-form-toggler 
					label="Full name" 
					value="Christopher Kendrick"
					[verifyValue]="false" 
					[fields]="[{name:'chris'}]"
					(onSave)="saveSettings($event)">		
				</app-form-toggler>
				<app-form-toggler label="Email" name="email" value="chris.kendricks07@gmai.com" endpoint="/Members/{{ app.getUserId() }}"></app-form-toggler>				
				<app-form-toggler label="DOB" name="dob" value="07/30/1988" endpoint="/Members/{{ app.getUserId() }}"></app-form-toggler>
				<app-form-toggler label="Country" name="country" value="USA" endpoint="/Members/{{ app.getUserId() }}"></app-form-toggler>
				<app-form-toggler label="Wallet Address" name="wallet" value="0x624D5050b12154Eb29BEc54B8faAeC3A3c01bDD6" endpoint="/Members/{{ app.getUserId() }}"></app-form-toggler>
				<app-form-toggler label="Company" name="company" value="Click Tool" endpoint="/Members/{{ app.getUserId() }}"></app-form-toggler>
			</div>
		</div>
	</div>
</div>
